/* $grid-breakpoints: ( // // Extra small screen / phone // xs: 0, // // Small screen / phone sm: 400px, // // Medium screen / tablet md: 700px, // // Large screen / desktop lg: 900px, // // Extra large screen / wide desktop xl: 1000px ) ;
 */
 section#utsatoday-feature {
	 height: 55vh;
	 margin-top: 2em;
	 margin-bottom: 1.5em;
}
 .card img {
	 width: 100% !important;
}
 .old-social img {
	 width: 15% !important;
}
 .utsaToday-Logo {
	 margin-top: 1.4em;
}
 .utsaToday-date {
	 float: right;
	 font-style: italic;
	 font-weight: 500;
}
 .utsaToday-date em {
	 color: #0C2340;
}
 .utsaTodayIndex-RightContainer {
	 background: #F4F4F4;
	 padding: 0em 1em 0em 1em;
	/* */
}
 .utsaToday-MainMenu .span_7_of_12, .utsaToday-MainMenu .span_5_of_12 {
	 margin-top: 0;
	 margin-bottom: 0;
	 line-height: 0;
}
 .utsaToday-MainMenu {
	 background: #0C2340;
	 margin-bottom: 1em;
}
 .utsaToday-MainMenu ul {
	 margin: 0;
}
 .utsaToday-MainMenu ul li {
	 display: inline-block;
	 padding: 0.6em 0.6em;
}
 .utsaToday-MainMenu ul li:hover {
	 background: #0D3466;
}
 .utsaToday-MainMenu ul li a {
	 color: #ffffff;
	 display: inline;
}
 .utsaToday-SectionTitle {
	 float: left;
	 display: inline;
	 font-weight: 600;
	 text-align: center;
	 font-size: 1.1em;
	 background: #f15a22;
	 padding: 0.3em 1.5em;
	 margin-bottom: 1.5em;
}
 .utsaToday-MoreNews hr {
	 margin: 1em 0;
}
 .utsaToday-AroundCampus hr, .utsaToday-RightSide hr {
	 margin: 2em 0;
	 border-style: dotted;
	 border-color: #cdcdcd;
}
 h3 {
	 color: #000000;
	 font-size: 1.1em;
	 margin-bottom: 0.3em;
}
/*Overriding*/
 p {
	 font-size: 0.95em;
}
/*Overriding*/
/*events*/
 .event-item {
	 margin-bottom: 5px;
}
 .event-loc {
	 float: left;
	 width: 100%;
	 margin: 0 0 0.3em 0;
	 color: #f15a22;
	 font-weight: bold;
	 font-size: 14px;
}
 .event-name {
	 float: left;
	 width: 100%;
	 margin-bottom: 1em;
}
 .event-name a {
	 color: #002a5c;
	 border-bottom: 1px solid #f47321;
}
 .event-name a:hover {
	 color: #f47321;
}
 .event-name h3 {
	 margin-bottom: 0.5em;
}
 .event-name p {
	 margin-bottom: 10px;
	 font-size: 13px;
	 font-weight: bold;
	 color: #f15a22;
}
 .event-desc {
	 font-style: normal;
	 font-weight: normal;
	 color: #111111;
}
 .addthis h3 {
	 margin-bottom: 1.5em;
}
 .boxed .moreCalendars {
	 display: none;
}
 .boxed hr {
	 display: none;
}
 .content-feature {
	 width: 97.8%;
	 height: 400px;
	/*300px;
	*/
	 margin: 0 0 20px 0;
	 background-color: #1a1a1a;
	 border: 6px solid #F4F4F4;
	 overflow: hidden;
}
 .content-feature .span_5_of_12, .content-feature .span_7_of_12 {
	 margin: 0;
}
 h3 a {
	 color: #f15a22;
}
 .tabs {
	 z-index: 800;
	/*width: 272px;
	*/
	 margin: 0;
	 padding: 0;
	 background: #234B84;
	 border-right: 6px solid #fff;
	 opacity: 0.9;
}
 .hiddenAnchor {
	 display: none;
}
 .tab {
	 height: 70px;
	 padding: 15px;
	 border-bottom: 1px solid #767676;
}
 .tab:last-child {
	 border-bottom: none;
}
 .selected {
	 background: #002a5c;
	 cursor: pointer;
}
 .tab a {
	 color: #fff;
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 1em;
	 line-height: 21px;
	/* font-size: 12px;
	 line-height: 16px;
	 */
}
 .tab p.article_descript {
	 display: none;
	/* font-family: Arial, Helvetica, sans-serif;
	 font-size: 10.5px;
	 line-height: 14px;
	 color: #fff;
	 */
}
 .panels {
	 float: left;
	 width: 425px;
	/* 312px */
	 height: 400px;
	/* 400px */
	 margin: 0;
	 padding: 0;
	/*margin-left: 278px;
	*/
}
 .utsaToday-FeaturedMobile {
	 display: none;
}
/* @media screen and (max-width: 950px){
	 .panels{
		 display: none;
	}
	 .tabs{
		 width: 58%;
	}
}
 */
 .byline {
	 margin-top: 1.5em;
}
 #didYouKnowExpand {
	 display: none;
	 float: left;
}
 .img-right {
	 float: right;
	 padding: 0 0 0 25px;
}
 .img-left {
	 float: left;
	 padding: 0 25px 0 0;
}
 #todaySearch {
	 float: right;
	 padding: 3px 5px;
	 margin: 6px 4px 6px 0;
}
 #mainStoryHighlights {
	 margin: 0 0 1.5em 0;
}
 #mainStoryHighlights a {
	 float: left;
	 color: #0C2340;
	 font-weight: bold;
}
 #mainStoryHighlights a:hover {
	 color: #f15a22;
}
 .mainHighlightMobile {
	 display: none;
}
 #todayPhotoOfTheDay p {
	 margin: 0;
}
 #departmentalMobileMenuTrigger {
	 display: none;
}
 .submitEvents {
	 margin-bottom: 0.5em;
}
 .submitEvents a {
	 color: #02437b;
}
 .site-footer a {
	 color: #02437b;
}
 @media screen and (max-width: 1060px) {
	 .tab p.article_descript {
		 display: none;
	}
}
 @media screen and (max-width: 767px) {
	 .twoColumnRight .span_8_of_12 {
		 width: 100%;
	}
	 .twoColumnRight .span_4_of_12 {
		 width: 100%;
		 margin-left: 0;
	}
	 .needtofixthis {
		 display: none;
	}
	 .submitCampusNewswire {
		 margin-bottom: 2.5em;
	}
	 .submitEvents {
		 margin-bottom: 0.5em;
	}
	 #mainStoryHighlights .mainHighlight .mainHighlightDesc a {
		 padding: 0.5em 1em;
	}
	 #departmentalMobileMenuTrigger {
		 display: block;
		 background: #0C2340;
		 padding: 1em 0;
	}
	 #departmentalMobileMenuTrigger:hover {
		 cursor: pointer;
	}
	 #departmentalMobileMenuTrigger p {
		 color: white;
		 margin: 0;
		 padding: 0 0.7em 0 1.4em;
	}
	 #departmentalMobileMenuExpand {
		 display: none;
	}
	 #mainStoryHighlights {
		 margin: 1.5em 0 0 0;
	}
	/*today menu*/
	 .utsaToday-MainMenu {
		 overflow: hidden;
	}
	 .utsaToday-MainMenu .span_7_of_12, .utsaToday-MainMenu .span_5_of_12 {
		 width: 100%;
	}
	 .utsaToday-MainMenu .span_7_of_12 ul li {
		 width: 100%;
		 padding: 15px 0;
		 border-top: 1px solid #3D3D3D;
	}
	 .utsaToday-MainMenu .span_7_of_12 ul li:hover {
		 background: none;
	}
	 .utsaToday-MainMenu .span_7_of_12 ul li a {
		 padding-left: 20px;
	}
	 .utsaToday-MainMenu .span_5_of_12 {
		 margin-left: 0;
	}
	 .utsaToday-MainMenu .span_5_of_12 #todaySearch {
		 display: block;
		 padding: 0.6em 0;
		 margin: 0;
		 text-indent: 15px;
		 width: 100%;
		 -webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
		 box-sizing: border-box;
	}
}
 @media screen and (max-width: 480px) {
	 .tab p.article_descript {
		 display: block;
	}
	 .submitCampusNewswire {
		 margin-bottom: 3.5em;
	}
	 .submitEvents {
		 margin-bottom: 0.5em;
	}
	 .img-right {
		 width: 100%;
		 margin: 0;
		/* width:300px;
		 margin: 10px 0px 10px 20px;
		 float:right;
		 */
	}
	 .img-left {
		 width: 100%;
		 margin: 0;
		/* width:300px;
		 margin: 10px 30px 10px 0px;
		 float:left;
		 */
	}
	 #mainStoryHighlights .span_6_of_12 a, .mainHighlightMobile a {
		 margin-bottom: 1.5em;
	}
	 #mainStoryHighlights .section:last-child .span_4_of_12:last-child a {
		 margin-bottom: 0;
	}
	 .mainStoryHighlight {
		 display: none;
	}
	 .mainHighlightMobile {
		 display: block;
	}
}
 .img-right img, .img-left img {
	 border: 5px solid #ddd;
	 margin-bottom: 9px;
}
 div.img-thumbnail, div.img-thmbnail p {
	 width:340px;
}
 div.img-thumbnail p {
	/*overflow: hidden;
	*/
	 padding:0.5rem;
	 white-space: normal;
}
 .img-caption {
	 font-size: 11px;
	 color: #333;
	 font-style: italic;
	 padding-top: 8px;
	 padding-bottom: 10px;
	 border-bottom: 1px solid #aaa;
}
 ul.archive-category, ul.archive-date {
	 list-style: none;
	 padding-left: 0.25rem;
	 margin-left: 0rem;
}
 div.addthis {
	 margin-bottom: 5px;
}
 @media (max-width: 1080px) {
	 .mainheadlineblue {
		 font-size: 28 !important;
		 padding-left: 15px !important;
	}
	 .secondaryheadlineblue {
		 padding-left: 10px !important;
		 font-size: 18 !important;
	}
	 .rightnew {
		 font-size: 98% !important;
	}
	 .utsaToday-MoreNews hr {
		 margin: .5em 0 !important;
	}
	 .utsaToday-Logo img {
		 width: 60% !important;
	}
}
 @media (max-width: 900px) {
	 .rightnew {
		 font-size: 92% !important;
		 line-height: 1.4rem !important;
	}
}
 @media (max-width: 767px) {
	 .rightnew {
		 font-size: 110% !important;
		 padding-top: 15px !important;
		 padding-bottom: 20px !important;
	}
	 .rightblock {
		 padding-left: 15px !important;
		 margin-bottom: 2rem;
	}
	 .leftblock {
		 padding-right: 15px !important;
	}
}
 @media (max-width: 480px) {
	 .mainheadlineblue {
		 background-color: #0c2340 !important;
		 font-size: 2rem !important;
		 line-height: 1.2 !important;
	}
	 .mainHighlightMobile img, .mainHighlightMobile2 img, .img2 img {
		 min-width: 100% !important;
	}
	 .utsaToday-Logo img {
		 width: 55% !important;
	}
}
 .rightblock {
	 padding-left: 5px;
}
 .leftblock {
	 padding-right: 5px;
}
 span.spotlightblue, span.spotlightblue:visited {
	 color: #0c2340 !important;
}
 //span.spotlightblue:hover {
	 // color: #0088dd !important;
}
 .utsaToday-MainMenu ul li:hover {
	 background: #002a5c;
	 height: 24px;
}
 .fa-1half {
	 font-size: 1.4rem;
}
 .utsaToday-SectionTitle {
	 color: #ffffff;
	 background-color: #f15a22;
	 padding-left: 15%;
	 padding-right: 15%;
}
 .event-date {
	 font-size: 12px;
}
 .event-loc {
	 float: left;
	 width: 100%;
	 margin: 0;
	 color: #0c2340;
	 font-weight: lighter;
	 font-size: 12px;
}
 .os {
	 float: right;
	 color: #002a5c;
	 -webkit-transition: all 0.2s ease;
}
 .os:hover {
	 color: #0088dd;
}
 .event-date {
	 width: 100%;
	 margin: 0 0 0.3em 0;
	 color: #f15a22;
	 font-weight: bold;
	 font-size: 14px;
}
 .event-name a {
	 color: #0c2340;
	 border-bottom: 0px;
	 line-height: 1.2;
	 font-weight: bolder;
}
 .event-name a:hover {
	 color: #f47321;
}
 .event-name h3 {
	 margin-bottom: 0.1em;
}
 .event-name p {
	 margin-bottom: 10px;
	 font-size: 13px;
	 font-weight: bold;
	 color: #f15a22;
}
 .event-desc {
	 display: none;
}
 .utsaToday-date {
	 float: left;
	 font-style: normal !important;
	 font-weight: 700;
	 font-size: 80%;
}
 .rounded {
	 border-radius: 1px;
	 -moz-border-radius: 1px;
	 -webkit-border-radius: 1px;
	 border: 0;
	 border: 1px solid #e5e7ec;
	 float: left;
}
 #todaySearch {
	 width: 85%;
	 padding: 0px 0px 0 10px;
	 margin: 0px 0px 15px 0;
}
 .colmain {
	 margin: 0% 0 0% 1% !important;
}
 #utsatoday-nav nav {
	 background-color: #0c2340;
}
 #utsatoday-top button {
	 line-height: 1.5em;
}
 #utsatoday-nav .nav-link {
	 color: #fff;
}
 #utsatoday-nav .nav li {
	 border-left: 1px solid #fff;
	 line-height: 1.75rem;
	 padding-bottom: 5px;
	 padding-left: 5px;
	 padding-right: 5px;
}
 #utsatoday-nav .nav li:first-child {
	 border-left: none;
}
 #utsatoday-nav .navbar-nav {
	 padding-top: 0px !important;
}
 .headlineblue {
	 background-color: #0c2340;
	 color: #fff;
	 font-weight: 700;
	 padding: 15px;
	 margin-bottom: 10px;
	 margin-top: -1px;
}
 .big {
	 padding-left: 25px;
	 font-size: 2rem;
	 line-height: 2.2rem;
	 padding-bottom: 25px;
}
 .sml {
	 font-size: 1.3rem;
	 line-height: 1.65rem;
}
 .headlineblue:hover {
	 color: #f15a22;
}
 .rightnew {
	 padding-top: 5px;
	 padding-bottom: 8px;
	 line-height: 1.65rem;
	 font-size: 1.05rem;
}
 .rightnew a {
	 color: #0c2340;
}
 .rightnew a:hover {
	 color: #0088dd;
}
 .learnMore {
	 padding: 15px 10px 25px 10px;
	 text-align: center;
}
 .bgblue {
	 background-color: #001641;
}
 .bglblue {
	 background-color: #4cbfce;
}
 .bluetext {
	 color: #0c2340;
}
 .learnMore > img {
	 width: 95%;
	 margin-bottom: 25px;
}
 a.learnMoreButtons {
	 text-transform: uppercase;
	 font-size: 1em;
	 border-radius: 5px;
	 -webkit-transition: all 0.2s ease;
	 text-decoration: none;
	 background-color: rgba(255, 255, 255, 0.5);
	 padding: 5px 22% 5px 22%;
	 color: #0c2340;
	 font-weight: bold;
}
 a.learnMoreButtons:hover {
	 color: #fff;
	 background-color: #0c2340;
}
 .morenews {
	 margin-top: 0px;
	 margin-bottom: 0px;
	 font-size: 115%;
	 font-weight: bold;
}
 .utsaToday-MoreNews {
	 margin-bottom: 0.3em;
	 margin-right: 10px;
}
 hr {
	 border-top: 0;
	 border-bottom: 1px dotted #cdcdcd;
	 margin: 1em 0 !important;
}
 .mainStoryHighlight {
	 margin-top: 0px !important;
	 font-weight: bold;
}
 .whiteContainer {
	 padding-top: 20px !important;
}
 .utsaToday-Logo img {
	 width: 55%;
}
 .inline {
	 display: none;
}
 .featherlight .legend {
	 position: absolute;
	 bottom: 0;
	 font-size: larger;
	 color: white;
}
 .sourcefrom {
	 color: #5b6371 !important;
	 font-weight: bold;
	 font-size: 12px;
}
 .spotleftpic {
	 min-height: 80px;
}
 .spotright {
	 min-height: 52px;
}
 .announcements {
	 color: #0c2340;
	 font-size: 1.2em;
}
 .announcements:hover {
	 color: #0088dd !important;
}
 .photobottom, .photobottom a {
	 padding-top: 10px;
	 padding-bottom: 10px;
	 color: #0c2340;
}
 .photobottom a:hover {
	 color: #0088dd;
}
 .orangesquare {
	 color: #f15a22;
}
 .newswireheader a {
	 color: #0c2340;
	 font-size: 1.1rem;
}
 .newswireheader a:hover {
	 color: #0088dd !important;
}
 .newswireoffice {
	 font-size: .75em;
	 padding-bottom: 5px;
}
 div.acco {
	 position: relative;
}
 input[type=checkbox] {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 opacity: 0;
}
 h2.accor {
	 font-size: 18px;
	 font-weight: 700;
	 color: #0c2340;
	 margin: 0;
}
 .accor label {
	 cursor: pointer;
}
 .accor label {
	 position: relative;
	 padding-left: 15px;
	 line-height: 1.3;
}
 .accor label:before {
	 content: "";
	 position: absolute;
	 width: 0;
	 height: 0;
	 top: 50%;
	 left: 0px;
	 border-left: 5px solid black;
	 border-top: 5px solid transparent;
	 border-bottom: 5px solid transparent;
	 margin-top: 0px;
}
 input[type=checkbox]:checked ~ h2.accor label:before {
	 border-left: 5px solid transparent;
	 border-top: 5px solid black;
	 border-right: 5px solid transparent;
	 margin-left: -3px;
	 margin-top: 3px;
}
 p.acc {
	 max-height: 0;
	 overflow: hidden;
	 padding-left: 0px;
	 transition: max-height 0.4s ease;
	 font-size: 80%;
	 margin-bottom: 0;
	 color: #777;
}
 input[type=checkbox]:checked ~ h2 ~ p.acc {
	 padding-bottom: 0.4rem;
	 max-height: 120px;
}
 .hov a:hover {
	 color: #0c2340;
}
 .searchbutton {
	 margin-left: 5px;
	 float: right;
	 padding: 5 5 5 5;
	 background-color: #e5e7ec;
}
 .searchtop .btn {
	 padding: 0px 5px 2px 5px;
	 margin-bottom: 0;
	 border-radius: 0;
}
 .searchtop .form-control {
	 padding: .1rem !important;
	 padding-right: 14rem !important;
	 border-radius: 0;
}
 #departmentalSocialNav img {
	 width: 26px;
}
 .whiteRight {
	 border-right: 1px solid white;
}
 .grayRight {
	 border-right: 1px solid #eeeeee;
	 padding-right: 1.2em;
}
 .fiveTB {
	 padding-top: 3px;
	 padding-bottom: 3px;
}
 .boxed {
	 background: #F4F4F4;
	 padding: 0.5em 1em;
}
 .month {
	 font-size: 12px;
}
 .month > a {
	 color: #0c2340;
}
 .month > a:hover {
	 color: #0088dd;
}
 .event-item {
	 margin-bottom: 5px;
}
 .img-caption {
	 font-size: .8rem;
	 color: #333;
	 font-style: italic;
	 padding-top: 10px;
	 padding-left: 5px;
	 margin-bottom: 5px;
}
 .img-thumbnail {
	 background-color: #cdcdcd;
	 margin: 0 20px 10px 20px;
}
 .mainheadlineblue {
	 background-color: #0c2340;
	 color: #fff;
	 padding-left: 25px;
	 font-size: 2.0rem;
	 line-height: 1;
	 padding-bottom: 25px;
	 padding-top: 15px;
	 font-weight: 400;
	 padding-right: 15px;
}
 .mainheadlineblue:hover {
	 color: #f15a22;
}
 .mainheadlineblue:hover {
	 color: #f15a22;
}
 .secondaryheadlineblue {
	 background-color: #0c2340;
	 color: #fff;
	 padding-left: 15px;
	 font-size: 1.25rem;
	 line-height: 1.5rem;
	 font-weight: 400;
	 padding-bottom: 25px;
	 padding-top: 15px;
	 padding-right: 10px;
	 min-height: 115px;
}
 ul.custBulletList {
	 padding-left: 1.1rem;
}
 @media (min-width: 575px) and (max-width: 853px) {
	 .secondaryheadlineblue {
		 font-size: 1rem;
		 min-height: 140px;
	}
}
 @media (max-width: 575px) {
	 .secondaryheadlineblue {
		 font-size: 2rem !important;
		 line-height: 1;
	}
}
 .secondaryheadlineblue:hover {
	 color: #f15a22;
}
 .mainHighlightMobile {
	 display: none;
}
 .mainHighlightMobile2 img {
	 min-width: 100%;
}
 .utsaToday-SectionTitle {
	 line-height: 2.1rem;
}
 .utsa-social-circle-top {
	 font-size: .85em;
	 width: 1.8em;
	 height: 1.8em;
	 line-height: 1.6em;
	 float: none;
	 border-radius: 50%;
	 border: 2px solid #0c2340;
	 color: #0c2340;
	 text-align: center;
	 background: #fff;
}
 .card {
	 background-color: #0c2340;
	 color: #fff;
	 border: 0;
	 margin-bottom: 1rem;
}
 .more2 a {
	 color: #0c2340;
	 font-size: 1.3em;
	 line-height: 1.2;
	 font-weight: bold;
}
 .pageTitle {
	 margin-left: 10px;
	 font-size: 2.5rem;
	 color: #f15a22;
	 font-weight: bold;
}
 .PODheadlineblue {
	 background-color: #0c2340;
	 color: #fff;
	 padding-left: 10px;
	 font-size: 1.25rem;
	 line-height: 1.5rem;
	 font-weight: 400;
	 padding-bottom: 10px;
	 padding-top: 10px;
	 padding-right: 10px;
	 min-height: 50px;
	 margin-top: 0px;
}
 .PODheadlineblue:hover {
	 color: #f15a22;
}
 @media (max-width: 875px) {
	 #utsatoday-nav .nav li {
		 border-left: none;
		 line-height: 1.75rem;
		 padding-bottom: 5px;
		 padding-left: 10px;
	}
	 #utsatoday-nav .nav li:first-child {
		/*padding-top: 1.1rem;
		*/
	}
}
 @media (max-width: 979px) {
	 .PODheadlineblue {
		 min-height: 50px;
	}
}
 @media (max-width: 809px) {
	 .PODheadlineblue {
		 min-height: 50px;
	}
}
 @media (max-width: 575px) {
	 .PODheadlineblue {
		 min-height: 40px;
	}
}
 #mainStory blockquote {
	 margin: 0 0 1rem 1rem;
}
 .card-muted-title {
	 width: 100%;
	 font-size: 0.9rem;
	 color: #CCC;
	 padding-top: 15px;
	 padding-left: 15px;
}
 p.author {
	 color: #0275d8;
	 text-decoration: none;
}
 .odd-row{
	 padding-top: 1rem;
	 padding-bottom: 1rem;
}
 .even-row{
	 background-color: #f5f5f5;
	 padding-top: 1rem;
	 padding-bottom: 1rem;
}
 p.date-news{
	 font-size: .75rem;
	 font-weight: 900;
	 color: #777;
	 margin-top: 0;
	 margin-bottom: 0;
	 padding-top: 0;
	 padding-bottom: 0;
}
 a.headline-news{
	 font-size: 1.15rem;
	 margin-bottom: .5rem;
}
 .col-sm-4 span.card-title{
	 font-size: 1rem;
	 line-height: 1.25;
}
 .col-sm-6 span.card-muted-title{
	 padding-left: 2%;
}
 .col-sm-4 span.card-muted-title{
	 padding-left: 2%;
}
 @media screen and (min-width:575px) {
	 .col-sm-6 span.card-muted-title{
		 padding-left: 3%;
	}
	 .col-sm-4 span.card-muted-title{
		 padding-left: 5%;
	}
}
 .card img{
	 padding-bottom: 5px;
}
 span.card-muted-title{
	 color:#f15a22;
}
 .ekko-lightbox-nav-overlay a {
	 padding-top: 20% !important;
}
 @media print {
	 #at4-toaster, .utsaTodayIndex-RightContainer, .learnMore, .at4-recommended, #global-footer, .site-footer, .nav, .col-md-3{
		 display:none;
	}
	 .col-md-5.col-sm-12{
		 display:none;
	}
	 .at4-recommended-toaster .ats-light{
		 display:none;
		 border:none;
	}
	 .at4-recommended-toaster.ats-light{
		 display:none;
		 border:none;
	}
	 .at4-recommended-toaster, .ats-light{
		 display:none;
		 border:none;
	}
	 .at4-recommended-container{
		 display:none;
	}
	 .at-branding-icon, .at-branding-addthis{
		 display:none;
	}
	 .col-md-9{
		 width:100% !important;
	}
	 #banner{
		 display:none;
	}
	 .container{
		 width:100% !important;
	}
	 p {
		 font-size: 1.5rem !important;
	}
}
