<!-- #include file="/today/_inc/v1.1/generated/today-header.html" -->
<meta property="og:title" content="TITLE" />
<meta property="og:description" content="LEAD" />
<meta property="og:article:published_time" content="DATE" />
<meta property="og:image" content="http://www.utsa.edu" />
<meta property="og:image:height" content="280" />
<meta property="og:image:width" content="334" />
<title>TITLE</title>
<!--#include virtual="/today/_inc/v1.1/html/story-header.html" -->
TITLE
<!--#include virtual="/today/_inc/v1.1/html/story-pod-post-title.html" -->

  <img src="IMAGE" width="334" height="280" alt="TITLE" />
  <p class="img-caption">
    <em><strong>
      CAPTION
    </strong></em>
  </p>

<!--#include virtual="/today/_inc/v1.1/html/story-pod-post-image.html" -->

STORY

<!--#include virtual="/today/_inc/v1.1/html/story-footer.html" -->
