<cfset announceOutputCount = 0 />
 <cfloop index="iLooper" from="16" to="23" step="1">
	<cfif Len(aStories[iLooper][2]) GT 0 AND Len(aStories[iLooper][5]) GT 0>
        <cfoutput>
            <div class="section group">
                <p>
                <!--<a href="http://new.utsa.edu#xmlFormat(aStories[iLooper][5])#">-->
                #CleanHighAscii(aStories[iLooper][3])#
                <!--</a>-->
                &hellip; <em style="text-decoration: underline;"><a href="#encodeForHTML(aStories[iLooper][5])#">read more</a></em></p>
               <!-- <p><em style="text-decoration: underline;"><a href="http://new.utsa.edu#encodeForHTML(aStories[iLooper][5])#">Read more</a></em></p>-->
                <hr />
            </div>
        </cfoutput>
        <cfset announceOutputCount++ />
    <cfelse>
         <cfset announceEmptyCounter++>
	</cfif>
</cfloop>
<cfif announceOutputCount EQ 0>
    <p style="clear:both;">There are no Announcements at this time.</p>
</cfif>
