<cfloop index="iLooper" from="10" to="15" step="1">
	 <cfif Len(aStories[iLooper][2]) GT 0 AND Len(aStories[iLooper][3]) GT 0>
         <cfoutput>
            <div class="section group">
                <h3><a href="#XmlFormat(aStories[iLooper][5])#">#CleanHighAscii(aStories[iLooper][2])#</a></h3>
                <p>#CleanHighAscii(aStories[iLooper][10])#</p>
                <hr>
            </div>
        </cfoutput>
     <cfelse>
         <cfset aroundCampusEmptyCounter++>
     </cfif>
</cfloop>
<cfif aroundCampusEmptyCounter EQ aroundCampusEmptyNum>
    <p>There are no Around Campus stories at this time.</p>
</cfif>
