<cfsilent>
<!--- This include script was adapted from the UTSA Today home page SSI (content-home-RCol-feature.cfm) for the top three feature stories displayed on the right column --->
<cfinclude template="/today/_inc/admin/articleManager/act_PrepHomePageArray.cfm">
</cfsilent>
<!-- RUBEN -->
<cfloop index="iLooper" from="1" to="5" step="1">
   <cfset idx = #iLooper# - 1>
      <cfoutput>
         <p><a class="jsOff_articleLink" href="#aStories[iLooper][5]#">#aStories[iLooper][2]#</a><br />
            #aStories[iLooper][3]#</p>
      </cfoutput>
</cfloop>
   