<cfoutput>
    <!-- image for story 1 -->
    <img src="#XMLFORMAT(aStories[1][6])#" alt="default image" width="100%" height="400px" index="0" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3; opacity: 0; width: 100%; height: 400px;">
    <!-- image for story 2 -->
    <img src="#XMLFORMAT(aStories[2][6])#" alt="image" width="100%" height="100%" index="1" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3; opacity: 0; width: 100%; height: 400px;">   
    <!-- image for story 3 -->
    <img src="#XMLFORMAT(aStories[3][6])#" alt="image" width="100%" height="100%" index="2" style="position: absolute; top: 0px; left: 0px; display: block; z-index: 4; opacity: 1; width: 100%; height: 400px;">  
    <!-- image for story 4 -->
    <img src="#XMLFORMAT(aStories[4][6])#" alt="image" width="100%" height="100%" index="3" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3; opacity: 0; width: 100%; height: 400px;">
</cfoutput>