<cfloop index="iLooper" from="1" to="4" step="1">
	<cfoutput>
    <div class="tab<cfif iLooper EQ 3> selected</cfif>" index="#iLooper - 1#">
        <a class="articleLink hiddenAnchor" href="##"></a>
        <a class="jsOff_articleLink" href="#xmlFormat(aStories[iLooper][5])#" style="color: rgb(255, 255, 255);">#xmlFormat(aStories[iLooper][2])#</a>                
        <p class="article_descript" style="color: rgb(204, 204, 204);">#encodeForHTML(aStories[iLooper][3])#</p>
    </div>
    </cfoutput>
</cfloop>       
