<!--
<img src="/today/images/coach2.jpg" width="334" height="280">
 <p class="img-caption"><em>
 UTSA Roadrunners score one of the nation’s top college football recruiters </em></p>
 -->
 <h1>foooo</h1>
 <cfdump var="#CGI#" />
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "NewsArticle",
    "mainEntityOfPage":{
      "@type":"WebPage",
      "@id":"https://www.utsa.edu/today/2016/01/newfootballcoach.html"
    },
    "headline": "Article headline",
    "image": {
      "@type": "ImageObject",
      "url": "https://www.utsa.edu/today/images/coach2.jpg",
      "height": 800,
      "width": 800
    },
    "datePublished": "2015-02-05T08:00:00+08:00",
    "dateModified": "2015-02-05T09:20:00+08:00",
    "author": {
      "@type": "Person",
      "name": "John Doe"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Google",
      "logo": {
        "@type": "ImageObject",
        "url": "https://example.com/logo.jpg",
        "width": 600,
        "height": 60
      }
    },
    "description": "A most wonderful article"
  }
  </script>
