<ul>
  <li style="border-right:1px solid white"><a href="/roadrunners">Meet a Roadrunner</a></li>
  <li style="border-right:1px solid white"><a href="/experts">UTSA Experts</a></li>
  <li style="border-right:1px solid white"><a href="/ucm/">Communications &amp; Marketing</a></li>
  <li style="border-right:1px solid white"><a href="/today">For the Media</a></li>
  <li><a href="/today/archives/">Archive</a></li>
  <!--<li><a href="http://www.utsa.edu/">UTSA Home</a></li>-->
</ul>
