<!-- #include file="/today/inc/story-header.html" -->

<title>It’s a bird! It’s a plane! It’s a camera taking new footage of UTSA Main Campus

</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->

<!--INSERT	TITLE OF ARTICLE -->

 <h1>It’s a bird! It’s a plane! It’s a camera taking new footage of UTSA Main Campus </h1>

 <!--INSERT	IMAGE OF PHOTO -->

<div class="img-right">
  >
    <img alt="UTSA to use drong to record new aerial footage of campus" src="http://www.utsa.edu/today/images/dro2.jpg" width="334" height="280" />
    <p class="img-caption"><em>UTSA to use drone to record new aerial footage of its campuses
    </em>
  </p>
</div>

<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>


<p><!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
  (June 7, 2016) -- Have you ever wondered what UTSA looks like from a bird’s eye view? You will soon find out thanks to new aerial footage captured by UTSA videographers. <br />
  <br />
  A commercial unmanned aerial vehicle, or drone, is flying over several sites at the UTSA Main Campus today, capturing new angles of the university's picturesque landscape.<br />
  <br />
  The footage will be used to produce UTSA’s new commercial and in other communications and marketing projects.
  </p>
<p>The drone will launch from and fly over the following sites: <br />
  <br />
  <strong>Main Campus</strong><br />
  •    Sombrilla Plaza<br />
  •    Biotechnology, Sciences and Engineering Building<br />
  •    Applied Engineering and Technology Building<br />
  •    Biosciences Building<br />
  •    Paseo Principal<br />
  •    Recreation and Wellness Center<br />
  •    Alvarez Hall, Chaparral Village, and Laurel Village<br />
  •    Graduate Studies and Research Building<br />
  •    UTSA Monument signage and North Paseo Building<br />
  •    Main Building </p>
<p>Aerial footage was captured from above the following sites at an earlier shoot on June 1:<br />
  <br />
  <strong>Park West</strong><br />
•    Soccer Field<br />
•    Track and Field facility<br />
<br />
<strong>Downtown Campus</strong><br />
•    Durango Building, Frio Street Building, Buena Vista Building<br />
•    Monterey Building and San Antonio skyline<br />
</p>

<p>----------------------------</p>
<p><em>Learn more about<a href="http://www.utsa.edu/about/glance/"> UTSA.</a></em></p>

<p><em>Connect online at&nbsp;<a href="http://www.facebook.com/utsa">Facebook</a>,&nbsp;<a href="http://twitter.com/utsa/">Twitter</a>,<a href="http://www.youtube.com/utsa">&nbsp;YouTube</a> and <a href="http://instagram.com/utsa/">Instagram</a>.</em></p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->
