<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA hosts the top biomaterials experts in the state</title>

<!-- #include file="/today/inc/story-header_after_title.html" --> 
        
        <!--INSERT	TITLE OF ARTICLE -->
        
        <h1>UTSA hosts the top biomaterials experts in the state </h1>
        
        <!--INSERT	IMAGE OF PHOTO -->
        
        <div class="img-right"> <img alt="Texas Biomaterials Day 2016" src="http://www.utsa.edu/today/images/bioday2.jpg"  width="334" height="280" />
          <p class="img-caption"> <em>Texas Biomaterials Day 2016 held at UTSA today</em> </p>

        </div>
        
        <!--REQUIRED-->
        <div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>
        
        <!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
        <p> (June 3, 2016) -- The University of Texas at San Antonio (UTSA) hosts the nation's leading biomaterials researchers today at its annual Texas Biomaterials Day. The event is a one-day symposium at eight different locations throughout the United States, supported by the national Society for Biomaterials. The symposium features keynote lectures by national level biomaterials scientists and engineers. </p>
        <p> "This annual event is a time for our biomaterials community to share information on current research, collaborate with our colleagues regionally, and to introduce students to the exciting developments in the field of biomaterials," explained <strong>Teja Guda</strong>, assistant professor, UTSA Department of Biomedical Engineering.  "At UTSA, we have several researchers working in the biomaterials area, from developing regenerative biomaterials to treat a large spectrum of tissue injuries, to investigating the interactions of materials at the protein and cellular level and developing novel materials for imaging and nanosensors." </p>
        <p>Students can immerse themselves into the biomaterials field, network with top-tier experts, and explore research and career opportunities. Students will present their research in rapid-fire presentations and poster sessions. </p>
        <p>The keynote speaker is <strong>Christopher Bowman</strong> from the University of Colorado at Boulder. His research focuses on the synthesis of novel polymeric materials for a range of applications such as adhesives, coatings, dental materials, photolithography, nanotechnology and biomaterials. Bowman has published nearly 350 refereed papers and has been recognized with awards from the American Chemical Society, the American Institute of Chemical Engineers, the Materials Research Society and the Society for Biomaterials among others. </p>
        <p>Academic and industry researchers will showcase ongoing research to facilitate knowledge exchange and promote scientific collaborations among institutions and industries in Texas and beyond. Invited speakers are specialists in various areas of biomaterials research from academia (basic research and applied) and industry. They include <strong>Mark Appleford</strong>, UTSA; <strong>Benjamin Corona</strong>, U.S. Army Institute of Surgical Research; <strong>Sy Griffey</strong>, Stembiosys Inc.; <strong>F. Kurtis Kasper</strong>, UT Health Science Center at Houston; <strong>Kris Kieswetter</strong>, Acelity Inc.; <strong>Jian Ling</strong>, Southwest Research Institute; <strong>Amita Shah</strong>, University of North Carolina at Chapel Hill; and <strong>Jeanne Stachowiak</strong>, University of Texas at Austin.</p>
        <p>"By hosting Texas Biomaterials Day on our campus, our students have access to connect and interact with top-tier researchers in the ever-evolving and multidisciplinary field of biomaterials. This fits in with our mandate to provide comprehensive learning and research opportunities to the UTSA community", added <strong>Mauli Agrawal</strong>, past president of the Society for Biomaterials (2006-2007) and UTSA interim provost and vice president for academic affairs.</p>
        <p>The program organizing committee are biomaterials researchers from four Texas universities: <strong>Teja Guda</strong> from UTSA; <strong>Elizabeth Cosgriff-Hernandez</strong> and <strong>Melissa Grunlan</strong> from Texas A&M University; <strong>Jeffrey Jacot</strong> from Rice University; and <strong>Laura Suggs</strong> from the University of Texas at Austin. Event sponsors include the Society for Biomaterials, Malvern, Southwest Research Institute, TA Instruments and the San Antonio Life Science Institute. </p>
        
        <!--INSERT	BYLINE -->
        <p class="byline"> - <a href="mailto:sarah.hada@utsa.edu">Sarah Hada</a><br>
          Communications Coordinator, UTSA Research </p>
        ------------------------------
        <p><em>For more information on <a href="http://research.utsa.edu/event/biomaterialsday/
"> Texas Biomaterials Day 2016. </a></em></p>
        <p><em>Learn more about <a href="http://engineering.utsa.edu/bme/">The UTSA Department of Biomedical Engineering. </a></em></p>
        <p><em>Connect online at&nbsp;<a href="http://www.facebook.com/utsa">Facebook</a>,&nbsp;<a href="http://twitter.com/utsa/">Twitter</a>,<a href="http://www.youtube.com/utsa">&nbsp;YouTube</a> and&nbsp;<a href="http://instagram.com/utsa/">Instagram.</a>&nbsp;&nbsp;</em></p>
        <p>&nbsp;</p>
        
        <!-- #include file="/today/inc/story-footer.html" -->