<!-- #include file="/today/inc/story-header.html" -->

<title>
Meet a Roadrunner: Christian Treviño ’15 is an engineer with an artist’s soul

</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->

<!--INSERT	TITLE OF ARTICLE -->

 <h1>Meet a Roadrunner: Christian Treviño ’15 is an engineer with an artist’s soul

</h1>

 <!--INSERT	IMAGE OF PHOTO -->

<div class="img-right">
  <img alt="Meet a Roadrunner: Christian Trevino" src="http://www.utsa.edu/today/images/trevino1.jpg" width="334" height="280" />
  <p class="img-caption"><em><strong>Christian Treviño</strong></em></p>
  <br>
<br>
<iframe width="334" height="180" src="https://www.youtube.com/embed/wJ3W3MomWl4" allowfullscreen></iframe>
<p class="img-caption"><em>Treviño prints and paints the Rowdy walker toy she designed.</em></p>
</div>



<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>




<!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
<p> (June 15, 2016) -- Meet <strong>Christian Treviño</strong> ’15. This UTSA mechanical engineering graduate student is using her artistic ability to be a more innovative engineer.</p>

<p>Born and raised in Del Rio, Treviño grew up with a passion for painting and a mind for engineering. When she graduated early from high school and enrolled as a freshman at UTSA, she was uncertain of which path to follow.</p>

<p>“At first, I wasn’t sure I should study engineering, and I was considering going to art school instead,” she said.</p>

<p>Treviño traveled to Italy for a semester with students in the UTSA College of Liberal and Fine Arts to help her decide.</p>

<p>“Traveling with them was when I realized I could be both an artist and an engineer, a true design engineer,” she said.</p>

<p>When she returned to San Antonio, the Honors College student focused on mechanical engineering, which appealed to her creative tendencies.</p>

<p>During Treviño’s senior year, <strong>Pranav Bhounsule</strong>, UTSA assistant professor of mechanical engineering, sparked her creative side by sending her an idea for her honors undergraduate thesis. It involved walking toys from almost a century earlier, which enticed Treviño since she had been fascinated by wooden toys since childhood.</p>

<p>Together, they discussed different ways to reverse engineer one of the toys and reconstruct it using modern technology. She created six prototypes during her senior year before she was satisfied with the Rowdy Walker.</p>

<p>“I decided to make it a Rowdyhead because I’m a proud Roadrunner, and I knew it was something that a lot of other people would enjoy,” she said.</p>

<p>Now a graduate student at UTSA, Treviño is focusing on earning her master’s degree in mechanical engineering and eventually building a career as a design engineer. She hopes to work with her father, an inventor and contractor.</p>

<p>“I see my first degree in mechanical engineering as a really strong stepping stone, and right now I am setting one more with my master’s,” she said. “I really couldn’t have done it without my professors, especially Dr. Bhounsule. The guidance and support I’ve received at UTSA has been overwhelming.”
</p>

<!--INSERT	BYLINE -->

<p class="byline">-- <a href="mailto:erika.bruno@utsa.edu">Erika Bruno</a><br />
Social Media Specialist</p>
<p>------------------------------- </p>
<p><em>Do you know a Roadrunner who is achieving great things? Email us at <a href="mailto:social@utsa.edu">social@utsa.edu</a> so that we may consider your suggestion for our next installment of <a href="http://utsa.edu/roadrunners">Meet a Roadrunner.</a></em></p>
<p>Connect online at&nbsp;<a href="http://www.facebook.com/utsa">Facebook</a>,&nbsp;<a href="http://twitter.com/utsa/">Twitter</a>,<a href="http://www.youtube.com/utsa">&nbsp;YouTube</a>,&nbsp;and <a href="http://instagram.com/utsa/">Instagram.</a>&nbsp;&nbsp;
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->
