<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA professor receives grant to halt chronic conditions before they begin</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->
    
<!--INSERT	TITLE OF ARTICLE -->

 <h1>UTSA professor receives grant to halt chronic conditions before they begin
</h1>

 <!--INSERT	IMAGE OF PHOTO -->
 	
<div class="img-right"><img alt="UTSA professor receives grant to halt chronic conditions before they begin" src="http://www.utsa.edu/today/images/chroniccondition.jpg" />
</div>

 
<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>


  
<p><!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->(June 20, 2016) -- <strong>Adel Alaeddini</strong>, assistant professor of mechanical engineering at The University of Texas at San Antonio (UTSA), has received a $441,000 grant from the National Institutes of Health to support his top-tier research in preventing multiple chronic conditions. Using his engineering expertise, Alaeddini plans to find a way to alert doctors that their patients are at risk long before a diagnosis is made.</p>

<p>“As a person gets older, the chance of them developing a chronic condition becomes almost inevitable,” Alaeddini said. “Unfortunately, the number of people who have more than one of these conditions is rising significantly.”</p>

<p>A huge chunk of healthcare costs in the United States are now devoted to treating chronic conditions like diabetes or cancer, which can lead to other chronic conditions.</p>

<p>To stop this problem before it starts, Alaeddini is approaching the problem like an engineer.</p>

<p>“If you look at the wing of an aircraft under a microscope, you’ll see thousands of tiny cracks, even if it’s brand new,” he said. “Over time, the cracks get larger and eventually become big enough to induce a new fracture. The cracks work together to create a larger problem.”</p>

<p>Essentially, one health problem leads to another. Using data from patients such as previous conditions, demographics, medications and other factors, Alaeddini is using big data to analyze the relationship between chronic conditions.</p>

<p>Alaeddini is beginning with 12 years worth of data from over 100,000 patients being monitored for up to 32 different chronic conditions, including hypertension, depression, lower back pain and post-traumatic stress disorder.</p>

<p>“The main object is identifying the major patterns in the disease,” he said. “We can tailor this approach to each patient, so that their physician knows that if this person isn’t treated within the next few months, they will probably develop a certain chronic condition.”</p>

<p>Alaeddini refers to this method as practical maintenance, which is the same approach he says most car owners take in caring for their vehicles.</p>

<p>“In the end, humans are machines as well,” he said. “We are much more sophisticated, but we have a very well-established set of methodologies, like any machine. With some hard work and cleverness, we can tailor our efforts to keep them in good shape.”
</p>

<!--INSERT	BYLINE -->
<p>-- <a href="mailto:joanna.carver@utsa.edu">Joanna Carver</a>
<br />
Public Affairs Specialist
</p>


<p>----------------------------</p>

<p><em>Learn more about <a href="http://engineering.utsa.edu/me/faculty_staff/alaeddini.html">Adel Alaeddini</a>.</em></p>

<p><em>Learn more about the<a href="http://engineering.utsa.edu/me/">UTSA Department of Mechanical Engineering</a>.</em></p>


<p><em>Connect online at&nbsp;<a href="http://www.facebook.com/utsa">Facebook</a>,&nbsp;<a href="http://twitter.com/utsa/">Twitter</a>,<a href="http://www.youtube.com/utsa">&nbsp;YouTube</a>, and&nbsp;<a href="http://instagram.com/utsa/">Instagram</a>.</em></p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->