<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA Center for Infrastructure Assurance and Security celebrates 15 years as a leader in cybersecurity</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->
    
<!--INSERT	TITLE OF ARTICLE -->

 <h1>UTSA Center for Infrastructure Assurance and Security celebrates 15 years as a leader in cybersecurity
</h1>

 <!--INSERT	IMAGE OF PHOTO -->
 	
<div class="img-right"><img alt="UTSA Center for Infrastructure Assurance and Security celebrates 15 years" src="http://www.utsa.edu/today/images/cias15.jpg" />
 <p class="img-caption"><em>CIAS Associate Director Dwayne Williams, CIAS Director Greg White, United States Senator John Cornyn and UTSA President Ricardo Romo at a CIAS event.</em></p>
</div>

 
<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>


  
<p><!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->(June 21, 2016) -- The University of Texas at San Antonio (UTSA) Center for Infrastructure Assurance and Security (CIAS) celebrates its 15th anniversary this month. The Center opened in 2001 as UTSA’s first cybersecurity center. Over the past 15 years, the CIAS has established itself as a leader in cybersecurity competitions, top-tier research, security exercises, and state and local cybersecurity programs.</p>

<p>Last October, the CIAS was selected by the U.S. Department of Homeland Security to lead the Information Sharing and Analysis Organizations Standards Organization (ISAO SO) tasked with developing cybersecurity information sharing standards. The formation of the ISAO SO was in response to Executive Order 13691 to create a more secure and resilient Nation that is connected, informed, and empowered.</p>

<p>“I am incredibly proud of the work that the CIAS has completed over the past 15 years,” said<strong> Greg White</strong>, UTSA professor of computer science and director of the CIAS. “None of this would be possible without the tremendous effort from our staff and unwavering support from UTSA. We are thrilled with the impact that the CIAS has made on the cybersecurity industry and the community at large. We look forward to continuing our work as one of the premier cybersecurity centers in the nation.”</p>

<p>Over the past 15 years, the CIAS has conducted exercises in partnership with the U.S. Secret Service Electronic Crimes Task Forces and the Information Sharing and the Analysis Centers (ISACs), the Department of Defense and Department of Homeland Security. These exercises were conducted throughout the nation to assist communities to establish viable and sustainable cybersecurity programs.</p>

<p>The CIAS has developed and delivered cybersecurity training for communities throughout the States and US Territories sponsored by FEMA and the Department of Homeland Security. The Center has a robust cybersecurity competition program which is both nationally and internationally recognized. The CIAS created and currently directs the National Collegiate Cyber Defense Competition and is a Founding Partner of the Cyber Patriot National High School Cyber Defense Competition.</p>

<p>Most recently, the CIAS launched the Cyber Threat Defender card game. This innovative game has been praised by teachers, students and media across the nation. Cyber Threat Defender teaches students the basics of cybersecurity and the importance of a well-rounded cybersecurity strategy. This game will be used in cybersecurity curricula in classrooms this fall.
UTSA’s Cybersecurity Programs have consistently been recognized as top in the nation. UTSA was named the 2nd ranked Cybersecurity Graduate program in the nation by Universities.com in early June of this year.

</p>

<!--INSERT	BYLINE -->
<p>-- <a href="mailto:chase.hathaway@utsa.edu">Chase Hathaway</a>
<br />
Senior Communications Coordinator, Center for Infrastructure Assurance and Security
</p>


<p>----------------------------</p>

<p><em>Learn more about the <a href="http://engineering.utsa.edu/me/faculty_staff/alaeddini.html">UTSA Center for Infrastructure Assurance and Security</a>.</em></p>

<p><em>Learn more about <a href="http://engineering.utsa.edu/me/">cybersecurity at UTSA</a>.</em></p>


<p><em>Connect online at&nbsp;<a href="http://www.facebook.com/utsa">Facebook</a>,&nbsp;<a href="http://twitter.com/utsa/">Twitter</a>,<a href="http://www.youtube.com/utsa">&nbsp;YouTube</a>, and&nbsp;<a href="http://instagram.com/utsa/">Instagram</a>.</em></p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->