<!-- #include file="/today/_inc/v1.1/generated/today-header.html" -->
<meta property="og:title" content="UTSA cybersecurity graduate programs ranked among the very best in the nation by Universities.com" />
<meta property="og:description" content="UTSA cybersecurity graduate programs ranked among the very best in the nation by Universities.com" />
<meta property="og:article:published_time" content="June 1, 2016" />
<meta property="og:image" content="http://www.utsa.edu/today/images/monumentsign.jpg" />
<meta property="og:image:height" content="280" />
<meta property="og:image:width" content="334" />
<title>UTSA cybersecurity graduate programs ranked among the very best in the nation by Universities.com</title>
<!--#include virtual="/today/_inc/v1.1/html/story-header.html" -->
UTSA cybersecurity graduate programs ranked among the very best in the nation by Universities.com
<!--#include virtual="/today/_inc/v1.1/html/story-post-title.html" -->

  <img src="/today/images/monumentsign.jpg" width="334" height="280" alt="UTSA cybersecurity graduate programs ranked among the very best in the nation" />
  <p class="img-caption">
    <em><strong>
      UTSA cybersecurity graduate programs ranked among the very best in the nation
    </strong></em>
  </p>

<!--#include virtual="/today/_inc/v1.1/html/story-post-image.html" -->


<p>(June 1, 2016) -- The University of Texas at San Antonio (UTSA) has been ranked as one of the top two graduate cybersecurity programs in the United States, according to an analysis of 70 programs by Universities.com. The ranking highlights UTSA’s success in generating a pipeline of talented students with the knowledge and practical skills to excel in cybersecurity careers.</p>

<p>The Ponemon Institute has previously ranked UTSA’s overall cybersecurity programs No. 1 in the nation, based on a survey of IT executives, and the university’s academic and research programs are recognized for excellence by the National Security Agency and Department of Homeland Security.</p>

<p>“This ranking for graduate programs is another validation that UTSA’s cybersecurity programs are the best of the best,” said <strong>Bernard Arulanandam</strong>, UTSA interim vice president for research. “It is rewarding to see UTSA’s graduate programs in cybersecurity recognized alongside an esteemed university like Carnegie Mellon.”</p>

<p>In the ranking, Carnegie Mellon was ranked as the top graduate program, followed by UTSA.</p>

<p>Cybersecurity is one of UTSA's five core research strengths. The university offers undergraduate and graduate programs in security through the College of Business, College of Sciences and College of Engineering to meet the public and private sectors' need for new and highly qualified cybersecurity professionals. Alumni of UTSA have secured jobs with industry, government and military employers such as Rackspace, USAA, Raytheon, Booz Allen, the NSA and the U.S. Army.</p>

<p>UTSA is also home to three research centers: <a href="http://ics.utsa.edu/">the Institute for Cyber Security</a>, <a href="http://cias.utsa.edu/">the Center for Infrastructure Assurance and Security and the Center for Education</a> and <a href="http://business.utsa.edu/it/">Research in Information and Infrastructure Assurance and Security</a>. The centers and institutes are focused on solving global security challenges in today's increasingly technological world. They also give UTSA students the opportunity to conduct research alongside some of the nation's most respected cybersecurity faculty members in the nation.</p>

<p>“Many programs produce either skilled cyber security practitioners or people knowledgeable about cybersecurity, but few achieve both. UTSA does,” said <strong>Nicole Beebe</strong>, Melvin Lachman Distinguished Professor in Entrepreneurship and associate professor in the UTSA Department of Information Systems and Cyber Security.</p>

<p>In 2015, UTSA was selected by the Department of Homeland Security to develop national cybersecurity standards for information sharing. The project directly supports President Obama’s cybersecurity strategy.</p>

<p>In 2005, UTSA founded the National Collegiate Cyber Defense Competition, the nation’s largest cybersecurity competition for college students. The competition has become such a popular training ground for talent that prospective employers are now barred from making job offers to competitors until the three-day challenge is completed.</p>

<!--INSERT	BYLINE -->
<p>-- <a href="mailto:joanna.carver@utsa.edu">Joanna Carver</a>


</p>



<p>----------------------------</p>

<p><em>Read more about <a href="http://www.universities.com/articles/10-best-grad-schools-cyber-security/">University.com's ranking</a>.</em></p>

<p><em>Learn more about <a href="http://www.utsa.edu/spotlights/cybersecurity/">cybersecurity at UTSA</a>.</em></p>


<p><em>Connect online at &nbsp;</em><a href="http://www.facebook.com/utsa"><em>Facebook</em></a><em>,&nbsp;</em><a href="http://twitter.com/utsa/"><em>Twitter</em></a><em>,</em><a href="http://www.youtube.com/utsa"><em>&nbsp;</em><em>YouTube</em></a><em>&nbsp;and</em><a href="http://instagram.com/utsa/"><em> Instagram</em></a><em>.</em><em></em></p>

<!--#include virtual="/today/_inc/v1.1/html/story-footer.html" -->
