<!-- #include file="/today/inc/story-header.html" -->

<title>
	
Meet a Roadrunner: Darryl Sherrod II is helping Roadrunners create TV their way

</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->

<!--INSERT	TITLE OF ARTICLE -->

 <h1>	
Meet a Roadrunner: Darryl Sherrod II is helping Roadrunners create TV their way
</h1>

 <!--INSERT	IMAGE OF PHOTO -->

<div class="img-right">
  <img alt="Meet a Roadrunner: Darryl Sherrod II" src="http://www.utsa.edu/today/images/sherrod2.jpg" width="334" height="280" />
  <p class="img-caption"><em><strong>Darryl Sherrod
</strong></em><strong><em>II</em></strong><br>
<br>
</p>
</div>



<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>




<!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
<p> (June 22, 2016) -- Meet <strong>Darryl Sherrod II</strong>. Since he was a child, the senior UTSA communications major has dreamt of being in television. Now he and his fellow Roadrunners are creating it.<br />
  <br />
 &quot;I grew up watching and wanting to host a late night talk show,&quot; said Sherrod, 22. &quot;I thought I could be the next host of ESPN's SportsCenter. When I came to UTSA, I realized that I didn't have to wait. I could help make TV here.&quot;</p>
<p>Sherrod is the president and producer of Rowdy TV, a UTSA registered student organization, which is developing UTSA-centric television programming.</p>
<p>Rowdy TV has so far produced, shot and edited pilots for two shows, starring UTSA students: Rowdy Roundtable, an entertainment show, and In the Film Room, a collegiate and professional athletics show.</p>
<p>&quot;Rowdy TV is just getting off the ground,&quot; Sherrod said. &quot;In the fall, we hope to hit the ground running and produce new and better content every week.&quot;</p>
<p>Before creating Rowdy TV, Sherrod was a finance major, studying to become a successful businessman like his father. But the itch to create engaging content wouldn't go away. He joined Rowdy Radio, UTSA's student-run online radio station, and wrote for The Paisano, UTSA's independent student-run newspaper.</p>
<p>&quot;The students had a radio outlet and a print outlet, but they didn't have a TV or film outlet for them to get their content,&quot; said Sherrod.</p>
<p>Sherrod and a fellow student started Rowdy TV to give students that outlet. He also joined the UTSA communications department and began applying the business lessons he learned to lay the foundation for what would eventually become the television program.</p>
<p>In just one year, the organization has grown to 40 members strong.</p>
<p>&quot;UTSA students are hungry,&quot; Sherrod said. &quot;All of our members are really excited to have a student organization that is striving to help them gain experience in TV.&quot;</p>
<p>Sherrod said the members of Rowdy TV come from all walks of life, which has helped him gain confidence in their mission.</p>
<p>&quot;The great diversity at UTSA has exposed me to so many different dynamics,&quot; Sherrod said. &quot;I like that UTSA has a growing melting pot of diversity. It's made me want to contribute to that, even if it's just by creating new ways for students to express themselves.&quot;</p>
<p>Rowdy TV episodes are released on YouTube on the Rowdy TV channel. In the fall, Sherrod hopes that Rowdy TV can be shown on UTSA's many Rowdy Vision monitors. Over the long term, he hopes the student organization can improve its production and purchase its own equipment.</p>
<p>&quot;This was our foundational year,&quot; Sherrod said. &quot;UTSA has been a great place to test the waters. Everyone here is so supportive of our endeavors. Now that we are confident that we can do this, Rowdy TV is ready to advance to that next level.&quot;</p>

<!--INSERT	BYLINE -->

<p class="byline">-- <a href="mailto:jesus.chavez@utsa.edu">Jesus Chavez</a><br />
Public Affairs Specialist</p>
<p>------------------------------- </p>
<p><em>Do you know a Roadrunner who is achieving great things? Email us at <a href="mailto:social@utsa.edu">social@utsa.edu</a> so that we may consider your suggestion for our next installment of <a href="http://utsa.edu/roadrunners">Meet a Roadrunner.</a></em></p>
<p>Connect online at&nbsp;<a href="http://www.facebook.com/utsa">Facebook</a>,&nbsp;<a href="http://twitter.com/utsa/">Twitter</a>,<a href="http://www.youtube.com/utsa">&nbsp;YouTube</a>,&nbsp;and <a href="http://instagram.com/utsa/">Instagram.</a>&nbsp;&nbsp;
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->
