<!-- #include file="/today/inc/story-header.html" -->

<title>Researchers from across the country gather at UTSA to discuss drug discoveries

</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->

<!--INSERT	TITLE OF ARTICLE -->

 <h1>Researchers from across the country gather at UTSA to discuss drug discoveries
</h1>

 <!--INSERT	IMAGE OF PHOTO -->

<div class="img-right">
  <img alt="Researchers from across the country gather at UTSA to discuss drug discoveries" src="/today/images/drugdiscovery.jpg"  width="334" height="280" />
  <p class="img-caption">
    <em>2016 Annual San Antonio Drug Discovery Symposium is June 9-10
    </em>
  </p>
</div>

<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>


<!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
<p> (June 9, 2016) -- Students and researchers from The University of Texas at San Antonio (UTSA) will learn from one another this week at The Center for Innovative Drug Discovery (CIDD)'s second annual Drug Discovery Symposium. The event takes place today and tomorrow on the UTSA Main Campus.  </p>

<p>"This year's CIDD symposium will showcase presentations by researchers from national, state and local San Antonio academic institutions and pharmaceutical companies, focusing on multiple research aspects within contemporary drug discovery research," explained <strong>Stanton McHardy</strong>, director of the CIDD. </p>

<p>Since its inception in 2012 as a joint venture between UTSA and the University of Texas Health Science Center at San Antonio (UTHSCSA), the CIDD has built top-tier drug discovery programs across multiple therapeutic areas such as cancers, regenerative medicine and brain health, infectious disease and others. The ultimate intent of the CIDD is to provide a diverse array of core facilities and expertise to facilitate the translation of basic scientific discoveries into tangible pre-clinical candidate drugs that can be further developed into clinical therapies for human disease.</p>

<p>This year's CIDD symposium will allow researchers and students to immerse themselves into the multi-disciplinary and collaborative research areas associated with drug discovery. Students will also have a unique opportunity to present research at poster session and interact one on one with leading researchers in the drug discovery field.</p>

<p>The keynote speaker is <strong>Craig Lindsley</strong> from Vanderbilt University, co-director and director of medicinal chemistry for the Vanderbilt Center for Neuroscience Drug Discovery (VCNDD). Dr. Lindsley is one of the premier academic researchers in the field of drug discovery and was awarded the Portoghese Lectureship from the ACS MEDI division and the Journal of Medicinal Chemistry for impact in the field of medicinal chemistry. He also received the John J. Abel Award in Pharmacology from ASPET. Lindsley holds more than 60 issued U.S. patents and has published more than 400 manuscripts and another 140 patent applications.</p>

<p>Academic and industry researchers will showcase ongoing research to facilitate knowledge exchange and promote scientific collaborations among institutions and industries in Texas and beyond. Invited speakers are specialists in various areas of drug discovery research from both academics and industry. Some of the speakers for the two-day event include <strong>Mike White</strong>, UT Southwestern; <strong>Gaston Habets</strong>, Plexicon Inc.; <strong>Conor Caffrey</strong>, UC San Diego; <strong>Stan Watowich</strong>, UTMB Galveston; <strong>Stephen Martin</strong>, UT Austin; <strong>Jef K. De Brabander</strong>, UT Southwestern; <strong>Phil Jones</strong>, MD Anderson Cancer Center; <strong>Graham Beaton</strong>, Curtana Inc.; <strong>Rong Li</strong>, UT Health Science Center San Antonio; <strong>Bob Messing</strong>, UT Austin; <strong>Thomas Knott</strong>, Cytocentrics Inc.; <strong>Luke Larison</strong>, Scripps CA; <strong>Rob Davey</strong>, Texas Biomedical Institute; <strong>Jose Lopez-Ribot</strong>, UTSA and <strong>George Perry</strong>, UTSA.</p>

<p> The CIDD Symposium organizing committee members are McHardy and <strong>Doug Frantz</strong> from UTSA and <strong>Matt Hart</strong> and <strong>Bruce Nicholson</strong> from UTHSCSA.  </p>

<!--INSERT	BYLINE -->

------------------------------
<p><em>More information on the  <a href="http://research.utsa.edu/event/cidd2016/"> San Antonio Drug Discovery Symposium.</a></em></p>

<p><em>Learn more about the <a href=" https://www.utsa.edu/sciences/"> UTSA College of Sciences.
</a></em></p>


<p><em>Connect online at&nbsp;<a href="http://www.facebook.com/utsa">Facebook</a>,&nbsp;<a href="http://twitter.com/utsa/">Twitter</a>,<a href="http://www.youtube.com/utsa">&nbsp;YouTube</a> and&nbsp;<a href="http://instagram.com/utsa/">Instagram.</a>&nbsp;&nbsp;</em></p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->
