﻿<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA Institute of Texan Cultures celebrates 45 years of Texas Folklife Festival

</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->

<!--INSERT	TITLE OF ARTICLE -->

 <h1>UTSA Institute of Texan Cultures celebrates annual Texas Folklife Festival this weekend</h1>

 <!--INSERT	IMAGE OF PHOTO -->

<div class="img-right">
    <img alt="UTSA Institute of Texan Cultures celebrates annual Texas Folklife Festival this weekend" src="/today/images/folk2.jpg" width="334" height="280" />
    <p class="img-caption">
      <em>Texas Folklife Festival celebrates and remembers everything Texas and Texan June 10-12
      </em>
    </p>
</div>

<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>


<p><!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
  (June 10, 2016) -- The UTSA Institute of Texan Cultures invites Texans from around the world to gather for the 45th annual Texas Folklife Festival this weekend.   The grounds of the UTSA Hemisfair Campus will showcase the Lone Star State's diversity and rich heritage through June 12.</p>
<p>For many of the festivals thousands of annual visitors, there is nothing that explains the Texan identity quite like the Texas Folklife Festival. Over three days, attendees will learn about the many cultures and heritages that make up Texas and sample  food, music, dance, arts and crafts.</p>
<p>This year, an estimated 250 groups will participate in the festival and represent approximately 40 unique ethnic communities from around Texas. Many of these groups have been a part of the Texas Folklife since its inception 45 years ago. According to <strong>Jo Ann Andera</strong>, director of the Texas Folklife Festival, some of the groups' children have grown up alongside the festival.</p>
<p> &quot;Some people have grown up right along with us,&quot; said Andera. &quot;For some families, it&rsquo;s a tradition. We&rsquo;ve seen three generations working at a booth or performing on stage. They realize the importance of keeping their heritage alive. They are living examples of our museum&rsquo;s mission.&quot;</p>
<p>The Texas Folklife Festival has allowed many cultural and ethnic groups to preserve or rediscover their roots. Many groups have ressurected family recipes that they thought long forgotten, or shared ancient songs and dances that their ancestors once shared. The folklife festival, said Andera, is a way for people to experience cultures, traditions and ways of life first-hand.</p>
<p> The Institute of Texan Cultures is located on the UTSA Hemisfair Campus, 801 E. César E. Chávez Blvd. </p>
<p>Festival hours are:
<ul>
<li>June 10 -
 5 p.m. to 11 p.m.</li>
 <li>June 11 -
 11 a.m. to 11 p.m.</li>
 <li>June 12 -
 Noon to 7 p.m.</li></ul>
<p>Tickets are available at the ITC museum store, HEB locations and local military bases. Admission is adult $10 advance, $12 gate; child $5 advance or gate; group rate for 10 or more in party $8 per person, advance only. </p>
<p>The institute encourages the use of VIA Park &amp; Ride from the Crossroads location, $5 round trip; or rideshare services such as Lyft, or taking a B-cycle from anywhere downtown. For more information, call 210-458-2300 or visit TexanCultures.com.</p>

<p>By <a href="mailto:james.benavides@utsa.edu">James Benavides</a><br />
  Senior Communications Specialist, UTSA Institute of Texan Cultures
</p>
<p>----------------------------</p>
<p><em>Learn more about the <a href="http://www.texancultures.com/">UTSA Institute of Texan Cultures.</a></em></p>
<p><em>For more information, call 210-458-2300 or visit <a href="http://texasfolklifefestival.org">TexasFolklifeFestival.org.</a></em></p>
<p><em>Republished with permission, <A href="http://www.texancultures.com/45_years_of_the_texas_folklife_festival/">view the original story</A>.</em><A href="http://www.texancultures.com/45_years_of_the_texas_folklife_festival/"></A></p>

<p><em>Connect online at&nbsp;<a href="http://www.facebook.com/utsa">Facebook</a>,&nbsp;<a href="http://twitter.com/utsa/">Twitter</a>,<a href="http://www.youtube.com/utsa">&nbsp;YouTube</a> and &nbsp;<a href="http://instagram.com/utsa/">Instagram</a>.</em></p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->
