<!-- #include file="/today/inc/story-header.html" -->

<title>

<!--*INSERT TITLE OF ARTICLE HERE*-->
More UTSA football games added to television schedule
<!--*END OF INSERT TITLE OF ARTICLE HERE*-->

</title>

<!--***********************************************************-->

<!-- #include file="/today/inc/story-header_after_title.html" --> 
        
        <!--INSERT	TITLE OF ARTICLE -->
        
        <h1> 
          
          <!--*INSERT TITLE OF ARTICLE HERE*--> 
          More UTSA football games added to television schedule 
          <!--*END OF INSERT TITLE OF ARTICLE HERE*--> 
          
        </h1>
        
        <!--INSERT	IMAGE OF PHOTO -->
        
        <div class="img-right"> <img alt="More UTSA football games added to television schedule" src="/today/images/helm2.jpg" width="334" height="280" />
          <p class="img-caption"> <em>Conference USA announces remainder of 2016 football television schedule</em> </p>
        </div>
        
        <!--REQUIRED-->
        <div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>
        
        <!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
        <p> (June 8, 2016) -- Conference USA has announced the remainder of its 2016 football schedule and two additional UTSA games will be televised this fall. </p>
        <p>The Roadrunners' October 8 home contest against Southern Miss has been set for 11 a.m. and the American Sports Network (ASN) will broadcast all the action from the Alamodome. The Golden Eagles handed UTSA a 32-10 road setback last season in the second meeting between the two programs.</p>
        <p>Meanwhile, the Roadrunners' October 15 road tilt at Rice will be televised by the league's newest broadcast partner, beIN Sports, and kickoff has been scheduled for 6 p.m. at Rice Stadium. UTSA downed the Owls by a score of 34-24 last November at the Alamodome for the program's first-ever victory in the all-time series. </p>
        <p>Those two games are in addition to the Friday, September 16 home contest against Arizona State that will kick off at 8:30 p.m. on ESPN2.</p>
        <p>ASN returns for its third season as a C-USA partner. A division of Sinclair Networks Group, owned by Sinclair Broadcast Group, Inc., ASN is one of the largest and most diversified television broadcasting companies in the country with 173 television stations it owns, operates and/or provides services to in 81 markets, broadcasting 483 channels, including pending transactions. This January, ASN launched a 24/7 channel in nine markets and is currently found within 20 markets.</p>
        <p>beIN Sports is a global leader in sports content distribution and it is the number one growing Nielsen-rated cable network in the United States above all networks. With 45 million subscribers, beIN Sports and beIN Sports en Español are proud to be the fastest growing independent sports cable network in the business. beIN Sports also plans to expand its multi-platform offerings, live programming and studio shows to further cultivate interactivity of fan favorites, in their language of choice, and more fervently reflect their commitment to North American sports fans.</p>
        <p>Other games may be televised this season and will be released as soon as details are finalized. </p>
        
        <!--INSERT	BYLINE -->
        
        <p>-------------------------------</p>
        <p>Republished with permission from UTSA Athletics. Visit <a href="http://goUTSA.com">GoUTSA.com</a> for more.</p>
        <p><em>Connect online at&nbsp;<a href="http://www.facebook.com/utsa">Facebook</a>,&nbsp;<a href="http://twitter.com/utsa/">Twitter</a>,<a href="http://www.youtube.com/utsa">&nbsp;YouTube</a> and&nbsp;<a href="http://instagram.com/utsa/">Instagram.</a>&nbsp;&nbsp;</em></p>
        </p>
        
        <!-- #include file="/today/inc/story-footer.html" -->