<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA training researchers to improve care for children with autism in Japan
</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->

<!--INSERT	TITLE OF ARTICLE -->

 <h1>UTSA training researchers to improve care for children with autism in Japan

</h1>

 <!--INSERT	IMAGE OF PHOTO -->

<div class="img-right">
  
    <img alt="UTSA training researchers to improve care for children with autism in Japan" src="/today/images/run2.jpg" width="334" height="280" />
    <p class="img-caption"><em>Researcher hopes pilot program can become international treatment model</em></p>
 </div>


<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>

<!--INSERT	BYLINE --><!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
<p> (June 9, 2016)&nbsp;-- <strong>Leslie Neely,&nbsp;</strong>assistant professor of educational psychology at The University of Texas at San Antonio (UTSA), will  provide top-tier training to researchers and volunteers from Japan in methods to help improve social&nbsp;behaviors in children with autism in their country. </p>
<p>&ldquo;It&rsquo;s a great honor to share the top-tier expertise we have here at UTSA with Japan,&rdquo;&nbsp;Neely said.&nbsp;&ldquo;I&nbsp;believe we are forging a strong connection and are at the forefront of helping other researchers meet the needs of children around the world with autism and developmental disabilities.&quot; </p>
<p>Neely is the coordinator for the UTSA Applied Behavior Analysis graduate certification program and a doctoral-level board certified behavior analyst. Her approach,&nbsp;<a href="http://bacb.com/about-behavior-analysis/">applied behavior analysis</a>&nbsp;(ABA), involves understanding a child&rsquo;s behavior and modifying the environment in order to help improve social and communication skills, reduce challenging behavior and improve academic behavior.&nbsp; </p>
<p>According to Neely, ABA therapy can be immensely helpful for autism or developmental disabilities, but it is not employed in many countries due a number of factors, including cultural barriers, lack of funding, or a lack of training and education about the needs of children with autism or developmental disabilities. &nbsp; </p>
<p>&ldquo;There is a desperate need in these countries for training and education in care for children with autism,&rdquo; said Neely.&nbsp;&ldquo;Unfortunately, there aren&rsquo;t enough certified experts available to train or educate others.&nbsp;My partners and&nbsp;I hope to create&nbsp;a culturally responsive model&nbsp;that can address those needs.&rdquo; </p>
<p>In the fall, Neely and her collaborator,&nbsp;<strong>Ee Rea Hong</strong>&nbsp;from the University of Tsukuba, Japan, will begin the initial training sessions for what they are calling the Global ABA Project.&nbsp;The project's goal is to craft a culturally sensitive training and education model using specialized therapy methods for children with autism that can be replicated by local organizations.</p>
<p>At last count, said Neely, there were only approximately 13 ABA experts in Japan who are certified by the Behavior Analyst Certification Board, an international non-profit which oversees behavior analysts.&nbsp;A 2004 report by the Japanese Autism Association stated that about 360,000 individuals in Japan had been diagnosed with autism.&nbsp;</p>
<p>&ldquo;Most of Japan&rsquo;s behavior analysts are tied to research hospitals or universities,&rdquo; Neely said.&nbsp;&ldquo;So, as much as they might like to, they often cannot provide direct services or education on ABA therapy to communities, especially those living in rural towns or cities.&quot;&nbsp;</p>
<p>Following the fall collaboration,&nbsp;Neely and Hong will meet with researchers in Brazil led by&nbsp;<strong>Siglia Hoher Camargo</strong>&nbsp;from the University of Pelotas&nbsp;to continue the project. Neely hopes that the project can be adapted to serve the needs of other countries and cultures. </p>
<p>The&nbsp;<a href="http://education.utsa.edu/images/uploads/SUM12%20Cert%20Applied%20Behavior%20Analysis.pdf">UTSA Applied Behavior Analysis graduate</a>&nbsp;certificate program&nbsp;provides current and prospective students with the knowledge and skills to develop proficiency in applied behavior analysis. The certificate is especially tailored for educational psychology and special education professionals.&nbsp; </p>
<p>In addition to the ABA certificate program, UTSA is home to&nbsp;multiple top-tier behavioral laboratories, such as the SAABA project and TEAM Center, where faculty and students&nbsp;serve the needs of children with autism and other intellectual or developmental disabilities&nbsp;while conducting top-tier research.</p>
<p>By <a href="mailto:jesus.chavez@utsa.edu">Jesus Chavez</a><br />
  Public Affairs Specialist
</p>
<p><em>-------<br />
  <br />
 Learn more about how UTSA is leading the way in using applied behavior analysis to meet&nbsp;the needs of children with&nbsp;disabilities&nbsp;through the&nbsp;<a href="http://education.utsa.edu/images/uploads/SUM12%20Cert%20Applied%20Behavior%20Analysis.pdf">UTSA Applied Behavior Analysis graduate</a> certificate program. </em></p>
<p><em>Connect online at&nbsp;<a href="http://www.facebook.com/utsa">Facebook</a>,&nbsp;<a href="http://twitter.com/utsa/">Twitter</a>,<a href="http://www.youtube.com/utsa">&nbsp;YouTube</a>,&nbsp;and <a href="http://instagram.com/utsa/">Instagram.</a></em></p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->
