<!-- #include file="/today/inc/story-header.html" -->

<title>Hamid Beladi named Janey S. Briscoe Endowed Chair in Business</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->
    
<!--INSERT	TITLE OF ARTICLE -->

 <h1>Hamid Beladi named Janey S. Briscoe Endowed Chair in Business
</h1>

 <!--INSERT	IMAGE OF PHOTO -->
 	
<div class="img-right"><img src="/today/images/hamidportrait.jpg" width="334" height="280" alt="Hamid Beladi named Janey S. Briscoe Endowed Chair in Business" />
<p class="img-caption"><em><strong>Hamid Beladi</strong></em></p>
</div>

 
<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>


  
<p><!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->(June 24, 2016) -- <strong>Hamid Beladi</strong>, professor of economics and associate dean for research in the UTSA College of Business, has been named the Janey S. Briscoe Endowed Chair in Business.</p>

<p>A leading scholar in international economics, Beladi is a charter member of the UTSA Academy of Distinguished Researchers and was a recipient of the President's Distinguished Achievement Award for Advancing Globalization in 2014.</p>

<p>“Professor Beladi has a distinguished academic reputation and is a proven leader in the College of Business,” said <strong>Wm. Gerard Sanders</strong>, dean and Bodenstedt Chair in the UTSA College of Business. “As associate dean of research he has enhanced research contributions throughout the college. And, his personal research agenda contributes to the university’s mission to become a top-tier university and was instrumental in attaining a recent ranking for the Department of Economics.”</p>

<p>With more than 230 articles in peer-reviewed scholarly journals, Beladi has published in a wide spectrum of high-quality and leading academic journals including <em>the Journal of International Economics, Review of International Economics, Review of Economics & Statistics, Journal of Economic Theory, Journal of Development Economics, Journal of Economic Behavior & Organization, Journal of Mathematical Economics, Tourism Management, Annals of Tourism Research, Research Policy, European Economic Review</em> and <em>Journal of Banking and Finance</em>.</p>

<p>“It is an honor for me to receive the Janey S. Briscoe Endowed Chair in Business,” said Beladi. “The endowed chair will enable me to advance my work in international trade and economics. This endowment will forever bring value to the College of Business and will be used to advance knowledge and deliver leading-edge teaching to students.”</p>

<p>Beladi is the co-founder of the International Economics and Finance Society. He is also the editor of <em>the International Review of Economics and Finance</em>; associate editor of <em>the Review of International Economics</em>; managing editor of <em>the North American Journal of Economics and Finance</em>; advisory editor of <em>International Review of Financial Analysis</em> and series editor of <em>Frontiers of Economics and Globalization</em>.  Beladi has taught at UTSA since 2005. </p>

<!--INSERT	BYLINE -->
<p>-- <a href="mailto:wendy.frost@utsa.edu">Wendy Frost</a>
<br />
Director of Communications, College of Business
</p>


<p>----------------------------</p>

<p><em>Learn more about the <a href="http://business.utsa.edu/">UTSA College of Business</a>.</em></p>


<p><em>Connect online at&nbsp;<a href="http://www.facebook.com/utsa">Facebook</a>,&nbsp;<a href="http://twitter.com/utsa/">Twitter</a>,<a href="http://www.youtube.com/utsa">&nbsp;YouTube</a>, and&nbsp;<a href="http://instagram.com/utsa/">Instagram</a>.</em></p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->