<!-- #include file="/today/inc/story-header.html" -->

<title>
	
Meet a Roadrunner: Lamine Bouamrane is a researcher who wants to help people with mental disorders

</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->

<!--INSERT	TITLE OF ARTICLE -->

 <h1>	
Meet a Roadrunner: Lamine Bouamrane is a researcher who wants to help people with mental disorders
</h1>

 <!--INSERT	IMAGE OF PHOTO -->

<div class="img-right">
  <img alt="Meet a Roadrunner: Lamine Bouamrane" src="http://www.utsa.edu/today/images/lamine2.jpg" width="334" height="280" />
  <p class="img-caption"><em><strong>Lamine Bouamrane
</strong></em>
<br>
</p>
</div>



<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>




<!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
<p> (June 29, 2016) -- Meet <strong>Lamine Bouamrane</strong>. This postdoctoral fellow came to UTSA because he wanted to learn from the best. </p>

<p> Born and raised in Algeria, Bouamrane earned his master's degree and Ph.D. in genetics and neuroscience at Marseille University in France. Networking in France brought him to UTSA. </p>

<p> "I've always been interested in understanding how the brain works, especially how it generates consciousness and behaviors, and how it processes, codes and stores information. Of course those are difficult questions to address, so I decided to focus on dopamine neurons that are known to be central to these phenomena," Bouamrane said. "My old boss in Marseille told me if I wanted to be close to this field, the right guy to meet is Dr. Carlos Paladini." </p> 

<p> Under Paladini, associate professor of biology and an investigator in the UTSA Neurosciences Institute, Bouamrane is studying dopamine neurons to determine how they work and how they influence behavior. He hopes to better understand brain function and dysfunction. </p>

<p>"Using various methods, we are trying to figure out what are the mechanisms and the parts of the brain that control the activity of neurons that release dopamine," said Bouamrane. </p>

<p> Dopamine is a neurotransmitter that plays a major role in reward-motivated behavior and motor control. Alterations in dopamine signaling contribute to brain disorders such as addiction, Parkinson's disease and schizophrenia. </p>

<p> "Understanding how these neurons work could allow us to control their activity, and therefore could lead to new efficient ways of helping people suffering from these diseases," said Bouamrane. </p>

<p> Helping people with these diseases hits close to home for Bouamrane. </p>

<p> "I'm really interested in schizophrenia because I have a lot of cases in my family," Bouamrane said. "If I can understand these disorders, I can go further in trying to help people." </p>

<p> At UTSA, Bouamrane is surrounded by a team of top-tier researchers, like Paladini and Charles Wilson, who holds the Ewing Halsell Chair in Biology and directs the UTSA Neurosciences Institute. </p>

<p> "This is such a great opportunity because I'm working with the smartest people I've ever met," Bouamrane said. "I'm learning a new way of thinking and observing from Dr. Paladini. Dr. Wilson is the best scientist I've ever seen in my life. He is impressive and I'm really happy to be here in this environment, and work with these people." </p>

<p> Despite living thousands of miles from his home country, Bouamrane has found a new home at UTSA. </p>

<p> "The campus is alive. It's always moving," he said. </p>

<p> Now he hopes to encourage his girlfriend, who's working on her Ph.D. in neuroscience in France, to come to UTSA after she graduates. </p>

<p> "I'm telling her to come here because I want her to succeed," said Bouamrane. "I tell her about the Tier One education at UTSA. " </p>



<!--INSERT	BYLINE -->

<p class="byline">-- <a href="mailto:courtney.clevenger@utsa.edu">Courtney Clevenger</a><br />
Assistant Director of University Communications</p>
<p>------------------------------- </p>
<p><em>Learn more about the  <a href= "http://www.utsa.edu/sciences/"> UTSA College of Sciences
</a></em></p>

<p><em>Learn more about <a href= "http://www.utsa.edu/today/2016/01/paladini.html/"> UTSA dopamine research
</a></em></p>

<p><em>Do you know a Roadrunner who is achieving great things? Email us at <a href="mailto:social@utsa.edu">social@utsa.edu</a> so that we may consider your suggestion for our next installment of <a href="http://utsa.edu/roadrunners">Meet a Roadrunner.</a></em></p>
<p>Connect online at&nbsp;<a href="http://www.facebook.com/utsa">Facebook</a>,&nbsp;<a href="http://twitter.com/utsa/">Twitter</a>,<a href="http://www.youtube.com/utsa">&nbsp;YouTube</a>,&nbsp;and <a href="http://instagram.com/utsa/">Instagram.</a>&nbsp;&nbsp;
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->
