<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA receives $1.9 million grant to support underrepresented minority researchers
er </title>

<!-- #include file="/today/inc/story-header_after_title.html" -->

<!--INSERT	TITLE OF ARTICLE -->

 <h1>UTSA receives $1.9 million grant to support underrepresented minority researchers
</h1>

 <!--INSERT	IMAGE OF PHOTO -->

<div class="img-right">
  <img alt="UTSA receives $1.9 million grant to support underrepresented minority researchers" src="/today/images/marcgrant.jpg" width="334" height="280" />
</div>


<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>



<p><!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->(June 6, 2016) -- The University of Texas at San Antonio (UTSA) has received a $1.9 million grant over five years to support its Maximizing Access to Research Centers (MARC) program. Since 1981, MARC has supported hundreds of financially disadvantaged and underrepresented minority students in their efforts to obtain a Ph.D. and pursue research careers.</p>

<p>“The impact this grant has made has been remarkable,” said <strong>Edwin J. Barea-Rodriguez</strong>, UTSA associate dean of student success and instruction and director of the MARC program. “Our students are able to flourish in a culture of top-tier research while they receive training in communication skills and personal development.”</p>

<p>The program trains 12 undergraduate students over two years in UTSA laboratories, where they receive intensive instruction in psychology, biology, physics, chemistry and biomedical engineering research. The students also receive coaching in a variety of support areas such as writing and presenting to master the many skills they need to build successful research careers. At the end of their two years, the students are prepared to go on to Ph.D. programs.</p>

<p>“Our MARC students succeed in Ph.D. programs because they already know what it’s like to be a graduate student,” said <strong>Gail Taylor</strong>, assistant program director of MARC. “UTSA is such a terrific training ground for undergraduate researchers. They receive more responsibility in laboratories, and frequently are able to do the work of a master’s student after only a year.”</p>

<p>Since the program began at UTSA in 1981, dozens of underrepresented minority students have gone on from UTSA to earn a Ph.D. and conduct top-tier research in an academic setting. Others have participated in the MARC program and secured prestigious positions at research centers like Southwest Research Institute, the UT Health Science Center and the Texas Biomedical Research Institute.</p>

<p>“We’re training the next generation of scientists,” said <strong>Aaron Cassill</strong>, associate program director of MARC. “I’m tremendously proud of the impact MARC has had, and I’m very excited that we’ll be able to continue to support brilliant young researchers.”</p>

<p>MARC is funded by the National Institute of Health and its National Institute of General Medical Sciences. Congressman <strong>Joaquin Castro</strong> expressed support for the federal grant and for UTSA’s efforts to support underrepresented minority students in the sciences.</p>

<p>“From ebola to zika, a range of dangerous health crises currently confront people around the world,” Castro said. “Only with a diverse, robust biomedical workforce can we find solutions to our most pressing medical challenges and protect folks’ well-being. UTSA’s MARC program opens up opportunity for talented students and helps enrich the biomedical community with accomplished scientists from a variety of backgrounds. This funding strengthens our current biomedical efforts and supports the next generation of researchers whose expertise we’ll need to solve the health crises of tomorrow.”

</p>

<!--INSERT	BYLINE -->
<p>-- <a href="mailto:joanna.carver@utsa.edu">Joanna Carver</a>
<br />
Public Affairs Specialist
</p>


<p>----------------------------</p>

<p><em>Learn more about the <a href="http://www.utsa.edu/marc/">UTSA Maximizing Access to Research Centers program</a>.</em></p>

<p><em>Learn more about the <a href="http://www.utsa.edu/sciences/">UTSA College of Sciences</a>.</em></p>


<p><em>Connect online at&nbsp;<a href="http://www.facebook.com/utsa">Facebook</a>,&nbsp;<a href="http://twitter.com/utsa/">Twitter</a>,<a href="http://www.youtube.com/utsa">&nbsp;YouTube</a>, and&nbsp;<a href="http://instagram.com/utsa/">Instagram</a>.</em></p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->
