<!-- #include file="/today/inc/story-header.html" -->

<title>
Meet a Roadrunner: Psychology major Melina Acosta wants to change mental health attitudes

</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->

<!--INSERT	TITLE OF ARTICLE -->

 <h1>Meet a Roadrunner: Psychology major Melina Acosta wants to change mental health attitudes

</h1>

 <!--INSERT	IMAGE OF PHOTO -->

<div class="img-right"><img alt="Meet a Roadrunner: Psychology major Melina Acosta wants to change mental health attitudes" src="/today/images/acostaportrait.jpg" width="334" height="280" />
<p class="img-caption"><em><strong>Melina Acosta</strong></em>
</div>



<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>




<!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
<p> (June 8, 2016) -- Meet <strong>Melina Acosta</strong>. This UTSA psychology major is turning her passion for improved mental health care into top-tier scientific research on new assessments for and perceptions of mental illness.</p>

<p>Acosta applied to UTSA and the UTSA Honors College while she was a high school senior in her hometown of Carrizo Springs, a small town southwest of San Antonio. She wants to become an influential mental health researcher and feels that attending UTSA has allowed her to surround herself with other driven people.</p>

<p>“We have future doctors, lawyers and teachers working really hard here at UTSA, and their morale is contagious,” Acosta said. “I am surrounded by friends and colleagues that are as ambitious as I am.”</p>

<p>In the Honors College, Acosta found the support and guidance she needed to map out her way to a Ph.D. program after she graduates from UTSA. The Honors College also taught her about many of the scholarships, prominent summer internships and fellowships up for grabs at some of the best institutions across the country.</p>

<p>Recently, Acosta competed with some of the best and brightest students from across the UT System to earn a coveted spot in the Bill Archer Program. As an Archer Fellow, she’ll spend the Spring 2017 semester in Washington, D.C., working at Active Minds, a nonprofit devoted to raising awareness of mental health issues among college students. With the help of classmates, she established an Active Minds chapter at UTSA in 2014.</p>

<p>Acosta says the biggest highlight during her three years at UTSA has been her work as a research assistant under UTSA psychology professor <strong>Augustine Osman</strong>, where she works 15 hours each week during the semester and full-time during the summer. The 20 year-old’s undergraduate research focuses on understanding the risk and protective factors associated with suicide and is supported by the Research Initiative for Scientific Enhancement (RISE) program.</p>

<p>Over the last year-and-a-half, Acosta has helped develop psychological measurement tools like questionnaires and surveys that psychologists, therapists and counselors can use to improve the therapeutic outcomes of the mental health patients they treat.</p>

<p>“We test the validity and reliability of these instruments used to measure things like suicide, depression and anxiety,” Acosta said. “For example, if we know that an instrument reliably measures depression as a construct with three components, such as cognition, affect and behavior, the therapist or counselor can take that knowledge and treat one or all of these components in a given patient depending on his or her score on the instrument.”</p>

<p>Ultimately, she hopes to improve mental health treatment and help remove the stigma of the mentally ill and mental health treatment among the general public.
</p>

<!--INSERT	BYLINE -->

<p class="byline">-- <a href="mailto:diego.aparicio@utsa.edu">Diego Aparicio</a><br />
Multimedia Manager </p>
<p>------------------------------- </p>
<p><em>Do you know a Roadrunner who is achieving great things? Email us at <a href="mailto:social@utsa.edu">social@utsa.edu</a> so that we may consider your suggestion for our next installment of <a href="http://utsa.edu/roadrunners">Meet a Roadrunner.</a></em></p>
<p>Connect online at&nbsp;<a href="http://www.facebook.com/utsa">Facebook</a>,&nbsp;<a href="http://twitter.com/utsa/">Twitter</a>,<a href="http://www.youtube.com/utsa">&nbsp;YouTube</a>,&nbsp;and <a href="http://instagram.com/utsa/">Instagram.</a>&nbsp;&nbsp;
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->
