<!-- #include file="/today/inc/story-header.html" -->

<title>A Message from UTSA President Ricardo Romo, May 2016
</title>
<meta property="og:image" content="http://www.utsa.edu/today/images/prez2.jpg" />
<meta property="og:title" content="President's message: UTSA builds relationships in Mexico" />
<meta property="og:url" content="http://www.utsa.edu/today/2016/06/messagefromthepresident.html" />
<meta property="og:description" content="As you're reading this, I'm headed to Mexico with a delegation of UTSA administrators and researchers to build some very important partnerships with our colleagues there." />
  

<!-- #include file="/today/inc/story-header_after_title.html" -->

<!--INSERT	TITLE OF ARTICLE -->

 <h1>A Message from UTSA President Ricardo Romo, June 2016
</h1>

 <!--INSERT	IMAGE OF PHOTO -->

<div class="img-right"><img src="/today/images/prez2.jpg" width="334" height="280" alt="UTSA President Ricardo Romo" />
<p class="img-caption"><em><strong>Ricardo Romo </strong><br />
  President, The University of Texas at San Antonio</em></p>
</div>


<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>



<p><!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->(June 14, 2016) -- Dear Friends,</p>

<p>As you&rsquo;re reading this, I&rsquo;m headed to Mexico with a delegation of UTSA administrators and researchers to build some very important partnerships with our colleagues there.</p>
<p>Our first stop is in Guadalajara, where we are meeting up with 25 UTSA students who are participating in two health-related programs. Our cross-cultural medicine course, offered in partnership with Tecnológico de Monterrey, places UTSA students at an Instituto Mexicano del Seguro social clinic. The IMSS is one of Mexico's primary government health care providers. Likewise, we offer a fantastic public health and epidemiology course with the Universidad de Guadalajara and the Civil Hospital of Guadalajara. The work our students are doing is preparing them to address the complex challenges in careers in the global health field. I'm looking forward to visiting with them and seeing, firsthand, all that they have learned and all that they are contributing to our shared commitment to impactful public health initiatives. </p>
<p>From Guadalajara, we are traveling to Mexico City to formalize an exchange program between the UT System and CONACYT, Mexico&rsquo;s version of our National Science Foundation. Last fall, we signed an agreement with CONACYT to develop collaborative academic and research programs across the UT System. UTSA is serving as the lead institution in this important initiative.</p>
<p>This partnership will promote exchanges between students and researchers for joint research initiatives, primarily in the STEM fields. Beginning next fall, we&rsquo;ll welcome the first doctoral students, post-doctoral fellows, faculty researchers and students from Mexico. </p>
<p>While in Mexico City, we will also be signing an agreement with El Colegio de México that will create yet another exchange program for researchers and students – this one in the social sciences and humanities. El Colegio de México is one of the country&rsquo;s most prestigious research institutions and its alumni include many of Mexico&rsquo;s most renowned scholars, analysts and public servants. </p>
<p>UTSA has 26 exchange agreements with universities throughout Mexico that promote the sharing of knowledge and the development of interdisciplinary solutions to the world&rsquo;s most pressing challenges. These experiences are giving our researchers the opportunity to make new discoveries and scientific breakthroughs. They&rsquo;re also giving our students a chance to use their knowledge and skills in a real-world environment before they enter the global workforce.</p>
<p>Our exchange programs in Mexico are models of collaboration for the next generation. Today&rsquo;s students will become tomorrow&rsquo;s leaders, and they will continue our collaborative work, making advances in nanotechnology, literacy, infectious diseases and many other important areas. I can&rsquo;t wait to see what the future holds.</p>
<p>Go &rsquo;Runners!</p>
<p><b>Ricardo Romo</b><br />
  President, The University of Texas at San Antonio

<p>----------------------------</p>


<p><em>Connect online at&nbsp;<a href="http://www.facebook.com/utsa">Facebook</a>,&nbsp;<a href="http://twitter.com/utsa/">Twitter</a>,<a href="http://www.youtube.com/utsa">&nbsp;YouTube</a> and&nbsp;<a href="http://instagram.com/utsa/">Instagram</a>.</em></p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->
