<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA Monuments lit in rainbow colors to honor victims of tragic events in Orlando
</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->

<!--INSERT	TITLE OF ARTICLE -->

 <h1>UTSA Monuments lit in rainbow colors to honor victims of tragic events in Orlando

</h1>

 <!--INSERT	IMAGE OF PHOTO -->

<div class="img-right">
  <img alt="UTSA Monuments lit in rainbow colors" src="http://www.utsa.edu/today/images/mon2.jpg" width="334" height="280" />
  <p class="img-caption">
    <em>Monuments will remain lit through June 16 as a symbol of community solidarity</em>
  </p>  
 </div>


<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>

<!--INSERT	BYLINE --><!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
<p> (June 14, 2016)&nbsp;--The UTSA Monuments on the Main Campus are lit in rainbow colors this week, following the tragic mass shooting that killed 49 people at a nightclub on June 12 in Orlando, Fla. The university&rsquo;s flags also have been lowered to half-staff.&nbsp; </p>
<p>The lighting scheme serves as a symbol of UTSA&rsquo;s solidarity with the LGBT community, the people of Orlando and all those affected by the shooting. The Monument Lights will remain lit and&nbsp;the flags will remain at half-staff through June 16, following President Barack Obama&rsquo;s directive earlier this week. </p>
<p>&ldquo;The students and administration of The University of Texas at San Antonio stand with the city of Orlando and the LGBT community,&rdquo; said <strong>Andrew J. Hubbard</strong>, president of the UTSA Student Government Association, who requested the lights be changed on behalf of the UTSA student body. </p>
<p>According to Hubbard, the rainbow display is a reminder to the world that UTSA is an institution built upon inclusiveness, respect and compassion. &nbsp;</p>
<p>&ldquo;This week, we remember that love will always overcome hate,&rdquo; he said. &quot;Education will always overcome intolerance. As the colors of the rainbow proudly glow for the city to see, our hearts and minds are with the communities that are going through the unthinkable right now. We stand with them.&quot; </p>
<p>The rainbow lights will be visible each evening from the Loop 1604 West side of the Main Campus. </p>
<p>The UTSA Monuments are an award-winning architectural element unique to the Main Campus. They highlight the university&rsquo;s presence in the community and shows that UTSA&rsquo;s spirit burns brightly for all to see. The lighting for the Monuments is composed of a full-spectrum LED display and can be set in a wide array of color combinations.&nbsp; </p>
<p>—— </p>
<p><em>For more information about the UTSA Monuments, contact the Office of the Vice President of Student Affairs at </em><a href="mailto:vpsa@utsa.edu"><em>vpsa@utsa.edu </em></a><em>or 210-458-4135.&nbsp;</em></p>
<p><em><a href="http://www.utsa.edu/today/images/monumentslightingschemes.pdf">Learn more about the Monument Lights and the meaning of their different lighting schemes.</a></em></p>
<p><em>Connect online at&nbsp;<a href="http://www.facebook.com/utsa">Facebook</a>,&nbsp;<a href="http://twitter.com/utsa/">Twitter</a>,<a href="http://www.youtube.com/utsa">&nbsp;YouTube</a>,&nbsp;and <a href="http://instagram.com/utsa/">Instagram.</a></em></p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->
