<!-- #include file="/today/inc/story-header.html" -->

<title>Architect for UTSA's newest building wins award

</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->
    
<!--INSERT	TITLE OF ARTICLE -->

 <h1>Architect for UTSA's newest building wins award
</h1>

 <!--INSERT	IMAGE OF PHOTO -->
 	
<div class="img-right"> <img src="/today/images/NPBportrait.jpg"  width="334" height="280" alt="Architect for UTSA's newest building wins award" />
 <p class="img-caption"><em>North Paseo Building design earns Page architecture firm a professional honor.
(Photo courtesy: Dror Baldinger)
</em></p>
</div>

<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div> 


<!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
<p> (June 10, 2016) -- An Austin architecture firm has earned an award for its design of the North Paseo Building (NPB) at The University of Texas at San Antonio (UTSA) Main Campus. Architecture firm Page received the honor from the AIA Austin Design Awards Competition, a professional association representing 1,000 architects and 180 companies working in fields related to architecture, design and construction.</p>

<p> When designing the building, located at the university's front door, Page used elemental simplicity, off-the-shelf materials, crisp detailing and strong urban design moves as well as a fresh look to combine indoor and outdoor spaces. </p>

<p>"As with most areas of excellence on campus, the award-winning design of the North Paseo Building helps to advance the institution on its path toward Tier One status," said <strong>Dave Riker</strong>, UTSA associate vice president for facilities. "This particular building houses UTSA's number one nationally ranked cybersecurity program in a single campus location. The building also has allowed UTSA to provide much needed additional classroom space, and improved operational efficiency by bringing many administrative offices back onto campus, thereby saving approximately $1.3M per year in lease costs. Those funds are now being used for other important institutional initiatives." </p>

<p>The five-story, 176,000 square-foot structure opened in September 2014. It contains research and teaching laboratories, classrooms, seminar rooms, and faculty and staff offices. </p>

<p>Located south of the Tobin Avenue Garage and adjacent to the UTSA Oval, the NPB features a wide corridor and seating areas to service first-floor classrooms. Landscaping and shaded outdoor seating enhances the north side of the building. A glass wall creates a strong visual connection between outdoors and indoors with an inviting environment for informal gathering and group study. </p>

<p>At the building's south end, a stairwell open to the fifth floor and topped with a skylight allows light to pass through multiple floors. The open stairway promotes interaction between floors and improved physical fitness, enticing more use of the stairs and less of the elevator. A wall system with doors on each level slides closed in the instance of a fire to contain smoke and fire.</p>

<p>The NPB in combination with the Graduate School and Research Building frame an outdoor courtyard where the university community can gather. A portal passing through the NPB ground floor creates a path connecting the UTSA Oval on the east side to nearby residence halls on the west side.
 
</p>

<!--INSERT	BYLINE -->
<p class="byline"> - <a href="mailto:courtney.clevenger@utsa.edu"> Courtney Clevenger</a><br> 
 Assistant Director of University Communications
</p>
------------------------------
<p><em>Learn more about the <a href= "https://aiaaustin.org/design-awards/2016"> AIA Austin Design Awards and to see other winners 
</a></em></p>


<p><em>Connect online at&nbsp;<a href="http://www.facebook.com/utsa">Facebook</a>,&nbsp;<a href="http://twitter.com/utsa/">Twitter</a>,<a href="http://www.youtube.com/utsa">&nbsp;YouTube</a> and&nbsp;<a href="http://instagram.com/utsa/">Instagram</a>.</em></p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->