<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA Family Orientation offers parents the keys to success</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->

<!--INSERT	TITLE OF ARTICLE -->

 <h1>UTSA Family Orientation offers parents the keys to success </h1>

 <!--INSERT	IMAGE OF PHOTO -->

<div class="img-right">
  <img alt="UTSA Family Orientation offers parents the keys to success" src="/today/images/welcomesign.jpg" width="334" height="280" />
</div>



<!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
<p>(June 20, 2016) -- UTSA Orientation is for more than just new students.</p>

<p>At The University of Texas at San Antonio (UTSA), parents and family members attend Family Orientation to learn how to help their children succeed during their transition into college life. The unique program introduces family members to UTSA’s top-tier academic and research programs, campus services and traditions.</p>

<p>Parent Julissa Garcia from Harlingen says the information shared during Family Orientation will help her guide her son, Isaac.</p> 

<p>“It reassures me; UTSA has so many resources now it is up to my son to make use of those resources offered and me as a parent to use these resources to guide him,” said Garcia.</p>

<p>Garcia’s son chose UTSA because of its Architecture program.
She says seeing a billboard about UTSA being a top-tier university sparked her interest.</p> 

<p>“It gave me assurance we chose a good university,” said Garcia.</p> 

<p>She says after spending some time on campus during family Orientation she feels better prepared for what’s to come.</p> 

<p>“There’s a sense of community here with the UTSA family and I look forward to seeing how my son becomes a part of it,” said Garcia.</p>

<p>Family orientation is typically offered once a week during June and July and runs concurrently with New Student Orientation.

 </p>

<p>By <a href="mailto:kara.mireles@utsa.edu">Kara Mireles</a><br />
  Public Affairs Specialist
</p>


<p>------------------------------- </p>


<p><em>Log in to <a href="https://asap.utsa.edu/pls/prod/twbkwbis.P_WWWLogin">ASAP to register for Orientation</a>.</em></p>

<p><em>Learn more about the <a href="http://www.utsa.edu/orientation/freshman/fall/what-to-expect.html">UTSA Office of Orientation and Family Programs</a>.</em></p>

<p><em>Learn more about <a href="http://www.utsa.edu/orientation/camps/roadrunner/">Roadrunner Camp, a supplement to UTSA Orientation</a>.</em></p> 

<p><em>Connect with UTSA online at&nbsp;</em><a href="http://www.facebook.com/utsa"><em>Facebook</em></a><em>,&nbsp;</em><a href="http://twitter.com/utsa/"><em>Twitter</em></a><em>,</em><a href="http://www.youtube.com/utsa"><em>&nbsp;</em><em>YouTube</em></a><em>,&nbsp;and</em><a href="http://instagram.com/utsa/"><em> Instagram</em></a><em>.</em><em></em></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->
