<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA photo of the day: Is the future Frank Lloyd Wright in this photo?
</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->
    
<!--INSERT	TITLE OF ARTICLE -->

 <h1>	UTSA photo of the day: Is the future Frank Lloyd Wright in this photo?</h1>

 <!--INSERT	IMAGE OF PHOTO -->


<!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
<div class="img-right"><img src="/today/images/pod-archacademy.jpg" width="780" alt="UTSA photo of the day: Is the future Frank Lloyd Wright in this photo?" />
</div>  

<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>


<p>(June 15, 2016) -- The future Frank Lloyd Wright could be among the dozens of high schoolers from around the San Antonio area who've spent the last two weeks at the UTSA Summer Career Academy in Architecture & Interior Design, hosted by the College of Architecture, Construction and Design. Over the course of the annual summer academy, the students gained insights into what it takes to be a successful architect and interior designer. <a href="http://cacp.utsa.edu/academic-programs/department-of-architecture/summer-academy-in-architecture-interior-design/">Learn more.</a> </p>
<p>(Photo courtesy: Nicole Chavez, CACP)</p>
<p>------------------------------- </p>

<p><em>Connect online at&nbsp;</em><a href="http://www.facebook.com/utsa"><em>Facebook</em></a><em>,&nbsp;</em><a href="http://twitter.com/utsa/"><em>Twitter</em></a><em>,</em><a href="http://www.youtube.com/utsa"><em>&nbsp;</em><em>YouTube</em></a><em>,&nbsp;</em><a href="http://instagram.com/utsa/"><em>Instagram</em></a><em>&nbsp;and&nbsp;</em><a href="http://www.utsa.edu/today"><em>UTSA Today</em></a><em>.</em></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->