<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA photo of the day: Serving up future 'Runners
</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->
    
<!--INSERT	TITLE OF ARTICLE -->

 <h1>	UTSA photo of the day: Serving up future 'Runners </h1>

 <!--INSERT	IMAGE OF PHOTO -->


<!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
<div><img src="/today/images/pod-tennis.jpg" width="780" alt= />
</div>  

<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>


<p>(June 24, 2016) — Future tennis stars took to the courts on the UTSA Main Campus this week for a free one-day clinic with UTSA coaches. The kids experienced what UTSA Tennis has to offer in a full day camp that included drills, technical advice and point play.  </p>

<p> (Photo Courtesy: Erika Bruno) </p>

<!--INSERT	BYLINE -->
<p class="byline"> - <a href="mailto:courtney.clevenger@utsa.edu">Courtney Clevenger</a> <br /> Assistant Director of University Communications</p>
<p>------------------------------- </p>

<p><em>Connect online at&nbsp;</em><a href="http://www.facebook.com/utsa"><em>Facebook</em></a><em>,&nbsp;</em><a href="http://twitter.com/utsa/"><em>Twitter</em></a><em>,</em><a href="http://www.youtube.com/utsa"><em>&nbsp;</em><em>YouTube</em></a><em>, and&nbsp;</em><a href="http://instagram.com/utsa/"><em>Instagram</em></a><em>.</em></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->