<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA photo of the day: Getting acquainted
</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->
    
<!--INSERT	TITLE OF ARTICLE -->

 <h1>UTSA photo of the day: Getting acquainted</h1>

 <!--INSERT	IMAGE OF PHOTO -->


<!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
<div><img src="/today/images/pod-orientation1.jpg" width="780" alt="UTSA photo of the day: Getting acquainted" />
</div>  
<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>



<p>(June 16, 2016) -- Orientation allows new Roadrunners to get to know the UTSA campus and start planning for their first year of college. The class of 2020 will be visiting in groups all summer, showing off their new orange backpacks and their new Roadrunner pride.</p>

<!--INSERT	BYLINE -->
<p class="byline">-- <a href="mailto:joanna.carver@utsa.edu">Joanna Carver</a> <br /> Public Affairs Specialist
</p>
<p>------------------------------- </p>

<p><em>Connect online at&nbsp;</em><a href="http://www.facebook.com/utsa"><em>Facebook</em></a><em>,&nbsp;</em><a href="http://twitter.com/utsa/"><em>Twitter</em></a><em>,</em><a href="http://www.youtube.com/utsa"><em>&nbsp;</em><em>YouTube</em></a><em>,&nbsp;</em><a href="http://instagram.com/utsa/"><em>Instagram</em></a><em>&nbsp;and&nbsp;</em><a href="http://www.utsa.edu/today"><em>UTSA Today</em></a><em>.</em></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->