<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA photo of the day: Talking with TPR
</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->
    
<!--INSERT	TITLE OF ARTICLE -->

 <h1>UTSA photo of the day: Talking with TPR</h1>

 <!--INSERT	IMAGE OF PHOTO -->


<!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
<div><img src="/today/images/pod-alaeddini.jpg" width="780" alt="Talking with TPR" />
</div>  
<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>



<p>(June 23, 2016) -- Texas Public Radio reporter <strong>Louisa Jonas</strong> stopped by the UTSA Main Campus to chat with <strong>Adel Alaeddini</strong>, UTSA assistant professor of mechanical engineering, about his <a href="http://www.utsa.edu/today/2016/06/chronicconditions.html">research in preventing multiple chronic conditons</a>.</p>

<!--INSERT	BYLINE -->
<p class="byline">-- <a href="mailto:joanna.carver@utsa.edu">Joanna Carver</a> <br /> Public Affairs Specialist
</p>
<p>------------------------------- </p>

<p><em>Connect online at&nbsp;</em><a href="http://www.facebook.com/utsa"><em>Facebook</em></a><em>,&nbsp;</em><a href="http://twitter.com/utsa/"><em>Twitter</em></a><em>,</em><a href="http://www.youtube.com/utsa"><em>&nbsp;</em><em>YouTube</em></a><em>, and&nbsp;</em><a href="http://instagram.com/utsa/"><em>Instagram</em></a><em>.</em></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->