<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA photo of the day: Campers take the stage at UTSA Performing Arts summer camp<
</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->
    
<!--INSERT	TITLE OF ARTICLE -->

 <h1>	UTSA photo of the day: Campers take the stage at UTSA Performing Arts Summer Camp</h1>

 <!--INSERT	IMAGE OF PHOTO -->


<!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
<div class="img-right"><img src="/today/images/pod-perform.jpg" width="780" alt="UTSA photo of the day: Campers take the stage at UTSA Performing Arts summer camp<" />
</div>  

<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>


<p>(June 20, 2016) -- Last week, dozens of kids learned what it takes to stand in the spotlight at the annual UTSA Performing Arts Summer Camp. </p>
<p>------------------------------- </p>

<p><em>Connect online at&nbsp;</em><a href="http://www.facebook.com/utsa"><em>Facebook</em></a><em>,&nbsp;</em><a href="http://twitter.com/utsa/"><em>Twitter</em></a><em>,</em><a href="http://www.youtube.com/utsa"><em>&nbsp;</em><em>YouTube</em></a><em>, and&nbsp;</em><a href="http://instagram.com/utsa/"><em>Instagram</em></a><em>.</em></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->