<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA photo of the day: Da Vinci's protégés
</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->
    
<!--INSERT	TITLE OF ARTICLE -->

 <h1>	UTSA photo of the day: Da Vinci's <span data-syllable="pro·té·gé">protégés</span></h1>

 <!--INSERT	IMAGE OF PHOTO -->


<!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
<div><img src="/today/images/pod-robot.jpg" width="780" alt="UTSA photo of the day: Da Vinci's" />
</div>  

<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>


<p>(June 10, 2016) — These UTSA summer campers aren't just playing with robots. They designed, built and programmed robot catapults this week during the Da Vinci's, Inventions and Paintings camp as part of the UTSA College of Engineering's Interactive Technology Experience Center camps. The goal is to make the robot throw a ball. </p>

<p> (Photo Courtesy: Courtney Campbell) </p>

<!--INSERT	BYLINE -->
<p class="byline"> - <a href="mailto:courtney.clevenger@utsa.edu">Courtney Clevenger</a> <br /> Assistant Director of University Communications</p>
<p>------------------------------- </p>

<p><em>Connect online at&nbsp;</em><a href="http://www.facebook.com/utsa"><em>Facebook</em></a><em>,&nbsp;</em><a href="http://twitter.com/utsa/"><em>Twitter</em></a><em>,</em><a href="http://www.youtube.com/utsa"><em>&nbsp;</em><em>YouTube</em></a><em> and &nbsp;</em><a href="http://instagram.com/utsa/"><em>Instagram</em></a><em>.</em></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->