<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA photo of the day: Rowdymon
</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->
    
<!--INSERT	TITLE OF ARTICLE -->

 <h1>	UTSA photo of the day: Rowdymon</h1>

 <!--INSERT	IMAGE OF PHOTO -->


<!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
<div><img src="/today/images/pod-rowdymon.jpg" width="780" alt="UTSA photo of the day: Rowdymon" />
</div>  

<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>


<p>(June 3, 2016) — When the 8,000 new Roadrunners start to arrive on campus next week for orientation, they'll be greeted by Rowdymon.  Members of the University Center marketing team are painting Rowdy figures to look like Pokémon on windows throughout the Paseo and University Center on the UTSA Main Campus. </p>

<!--INSERT	BYLINE -->
<p class="byline"> - <a href="mailto:courtney.clevenger@utsa.edu">Courtney Clevenger</a> <br /> Assistant Director of University Communications</p>
<p>------------------------------- </p>

<p><em>Connect online at&nbsp;</em><a href="http://www.facebook.com/utsa"><em>Facebook</em></a><em>,&nbsp;</em><a href="http://twitter.com/utsa/"><em>Twitter</em></a><em>,</em><a href="http://www.youtube.com/utsa"><em>&nbsp;</em><em>YouTube</em></a><em> and &nbsp;</em><a href="http://instagram.com/utsa/"><em>Instagram</em></a><em>.</em></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->