<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA photo of the day: Innovative robots
</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->
    
<!--INSERT	TITLE OF ARTICLE -->

 <h1>UTSA photo of the day: Innovative robots</h1>

 <!--INSERT	IMAGE OF PHOTO -->


<!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
<div><img src="/today/images/pod-robotics.jpg" width="780" alt="UTSA photo of the day: Innovative robots" />
</div>  
<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>



<p>(June 14, 2016) -- These plastic, spring-loaded robots were created in the laboratory of <strong>Pranav Bhounsule</strong>, UTSA assistant professor of mechanical engineering. In Bhounsule's lab, he and his students utilize 3D printing to take robotics to innovative new levels.</p>

<!--INSERT	BYLINE -->
<p class="byline">-- <a href="mailto:joanna.carver@utsa.edu">Joanna Carver</a> <br /> Public Affairs Specialist
</p>
<p>------------------------------- </p>

<p><em>Connect online at&nbsp;</em><a href="http://www.facebook.com/utsa"><em>Facebook</em></a><em>,&nbsp;</em><a href="http://twitter.com/utsa/"><em>Twitter</em></a><em>,</em><a href="http://www.youtube.com/utsa"><em>&nbsp;</em><em>YouTube</em></a><em>,&nbsp;</em><a href="http://instagram.com/utsa/"><em>Instagram</em></a><em>&nbsp;and&nbsp;</em><a href="http://www.utsa.edu/today"><em>UTSA Today</em></a><em>.</em></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->