<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA photo of the day: Buzzing around campus
</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->
    
<!--INSERT	TITLE OF ARTICLE -->

 <h1>	UTSA photo of the day: Buzzing around campus</h1>

 <!--INSERT	IMAGE OF PHOTO -->


<!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
<div><img src="/today/images/pod-drone.jpg" width="780" alt="UTSA photo of the day: Buzzing around campus" />
</div>  

<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>


<p>(June 8, 2016) -- A commercial unmaned aerial vehicle, or drone, spent yesterday buzzing around Main Campus in order to capture new 4K resolution aerial footage of the UTSA. The footage will be used in upcoming marketing efforts by the university. </p>
<p>------------------------------- </p>

<p><em>Connect online at&nbsp;</em><a href="http://www.facebook.com/utsa"><em>Facebook</em></a><em>,&nbsp;</em><a href="http://twitter.com/utsa/"><em>Twitter</em></a><em>,</em><a href="http://www.youtube.com/utsa"><em>&nbsp;</em><em>YouTube</em></a><em>,&nbsp;</em><a href="http://instagram.com/utsa/"><em>Instagram</em></a><em>&nbsp;and&nbsp;</em><a href="http://www.utsa.edu/today"><em>UTSA Today</em></a><em>.</em></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->