<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA photo of the day: Young engineers
</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->
    
<!--INSERT	TITLE OF ARTICLE -->

 <h1>UTSA photo of the day: Young engineers</h1>

 <!--INSERT	IMAGE OF PHOTO -->


<!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
<div><img src="/today/images/pod-iteccamp.jpg" width="780" alt="UTSA photo of the day: Young engineers" />
</div>  
<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>



<p>(June 7, 2016) -- Every summer, curious kids come to UTSA to indulge their love of learning in the UTSA College of Engineering's Interactive Technology Experience Center camps. These campers are learning about computer programming and robotics all week.</p>

<!--INSERT	BYLINE -->
<p class="byline">-- <a href="mailto:joanna.carver@utsa.edu">Joanna Carver</a> <br /> Public Affairs Specialist
</p>
<p>------------------------------- </p>

<p><em>Connect online at&nbsp;</em><a href="http://www.facebook.com/utsa"><em>Facebook</em></a><em>,&nbsp;</em><a href="http://twitter.com/utsa/"><em>Twitter</em></a><em>,</em><a href="http://www.youtube.com/utsa"><em>&nbsp;</em><em>YouTube</em></a><em>,&nbsp;</em><a href="http://instagram.com/utsa/"><em>Instagram</em></a><em>&nbsp;and&nbsp;</em><a href="http://www.utsa.edu/today"><em>UTSA Today</em></a><em>.</em></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->