<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA photo of the day: William Dupont wins award for work on Ernest Hemingway's house
</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->
    
<!--INSERT	TITLE OF ARTICLE -->

 <h1>	UTSA photo of the day: Arch. prof wins award for work on Ernest Hemingway's house</h1>

 <!--INSERT	IMAGE OF PHOTO -->


<!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
<div><img src="/today/images/pod-dupont1.jpg" width="780" alt="UTSA photo of the day: Arch. prof wins award for work on Ernest Hemingway's house" />
</div>  

<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>


<p>(June 6, 2016) -- <strong>William Dupont,</strong> FAIA, San Antonio Conservation Society Endowed Professor, recently received an award from the Cuban Ministry of Culture for his work in helping the Cuban government <a href="http://www.utsa.edu/today/2016/04/fincavigia.html">restore and preserve Ernest Hemingway's famed home Finca Vigia.</a> He is pictured here speaking with ABC News about his work.</p>
<p>------------------------------- </p>

<p><em>Connect online at&nbsp;</em><a href="http://www.facebook.com/utsa"><em>Facebook</em></a><em>,&nbsp;</em><a href="http://twitter.com/utsa/"><em>Twitter</em></a><em>,</em><a href="http://www.youtube.com/utsa"><em>&nbsp;</em><em>YouTube</em></a><em>,&nbsp;</em><a href="http://instagram.com/utsa/"><em>Instagram</em></a><em>&nbsp;and&nbsp;</em><a href="http://www.utsa.edu/today"><em>UTSA Today</em></a><em>.</em></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->