<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA photo of the day: Kids learn to make sushi at UTSA summer camp
</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->
    
<!--INSERT	TITLE OF ARTICLE -->

 <h1>	UTSA photo of the day: Kids learn to make sushi at UTSA summer camp</h1>

 <!--INSERT	IMAGE OF PHOTO -->


<!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
<div><img src="/today/images/pod-sushi.jpg" width="780" alt="UTSA photo of the day: Kids learn to make sushi at UTSA summer camp" />
</div>  

<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>


<p>(June 13, 2016) -- Kids ages 6-12 spent Friday learning how to make sushi rolls at the UTSA Japanese for Children summer camp, hosted by the UTSA East Asia Institute. The annual camp is designed to teach children about the Japanese language and its culture through music, cooking, movies, arts and crafts. <a href="http://www.utsa.edu/eai/2016/SummerCamps2016_Flyer.jpg">Learn more. </a></p>
<p>------------------------------- </p>

<p><em>Connect online at&nbsp;</em><a href="http://www.facebook.com/utsa"><em>Facebook</em></a><em>,&nbsp;</em><a href="http://twitter.com/utsa/"><em>Twitter</em></a><em>,</em><a href="http://www.youtube.com/utsa"><em>&nbsp;</em><em>YouTube</em></a><em>,&nbsp;</em><a href="http://instagram.com/utsa/"><em>Instagram</em></a><em>&nbsp;and&nbsp;</em><a href="http://www.utsa.edu/today"><em>UTSA Today</em></a><em>.</em></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->