<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA photo of the day: Roadrunner pride
</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->
    
<!--INSERT	TITLE OF ARTICLE -->

 <h1>UTSA photo of the day: Roadrunner pride</h1>

 <!--INSERT	IMAGE OF PHOTO -->


<!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
<div><img src="/today/images/pod-spectrum.jpg" width="780" alt="UTSA photo of the day: Roadrunner pride" />
</div>  
<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>



<p>(June 28, 2016) -- Members of the UTSA chapter of LGBTQ organization Spectrum showed their support for the victims of the Orlando shooting by encouraging their fellow Roadrunners to send words of love and encouragement to those effected.</p>

<!--INSERT	BYLINE -->
<p class="byline">-- <a href="mailto:joanna.carver@utsa.edu">Joanna Carver</a> <br /> Public Affairs Specialist
</p>
<p>------------------------------- </p>

<p><em>Connect online at&nbsp;</em><a href="http://www.facebook.com/utsa"><em>Facebook</em></a><em>,&nbsp;</em><a href="http://twitter.com/utsa/"><em>Twitter</em></a><em>,</em><a href="http://www.youtube.com/utsa"><em>&nbsp;</em><em>YouTube</em></a><em>, and&nbsp;</em><a href="http://instagram.com/utsa/"><em>Instagram</em></a><em>.</em></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->