<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA photo of the day: Cooking up creativity
</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->
    
<!--INSERT	TITLE OF ARTICLE -->

 <h1>	UTSA photo of the day: Cooking up creativity </h1>

 <!--INSERT	IMAGE OF PHOTO -->


<!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
<div><img src="/today/images/pod-architecture.jpg" width="780" alt="UTSA photo of the day: Cooking up creativity" />
</div>  

<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>


<p>(June 16, 2016) — Students are cooking up creativity at the Summer Career Academy in Architecture and Interior Design on the UTSA Downtown Campus. Teams disassembled toasters and turned the parts into new creations. The goal is to see how they can work together to turn ordinary things into something new. </p>

<p> (Photo Courtesy: Courtney Campbell) </p>

<!--INSERT	BYLINE -->
<p class="byline"> - <a href="mailto:courtney.clevenger@utsa.edu">Courtney Clevenger</a> <br /> Assistant Director of University Communications</p>
<p>------------------------------- </p>

<p><em>Connect online at&nbsp;</em><a href="http://www.facebook.com/utsa"><em>Facebook</em></a><em>,&nbsp;</em><a href="http://twitter.com/utsa/"><em>Twitter</em></a><em>,</em><a href="http://www.youtube.com/utsa"><em>&nbsp;</em><em>YouTube</em></a><em> and &nbsp;</em><a href="http://instagram.com/utsa/"><em>Instagram</em></a><em>.</em></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->