<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA photo of the day: A.J. Rodriguez's New Works takes him back to his roots
</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->
    
<!--INSERT	TITLE OF ARTICLE -->

 <h1>	UTSA photo of the day: A.J. Rodriguez's New Works takes him back to his roots</h1>

 <!--INSERT	IMAGE OF PHOTO -->


<!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
<div class="img-right"><img src="/today/images/pod-perform.jpg" width="780" alt="UTSA photo of the day: Campers take the stage at UTSA Performing Arts summer camp<" />
</div>  

<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>


<p>(June 22, 2016) -- San Antonio native and University of Texas at San Antonio (UTSA) alumnus A.J. Rodriguez '98, '00 is sharing his passion for painting by capturing a key part of his hometown's landscape in a unique way in a new exhibit at The University of Texas at San Antonio Downtown Art Gallery. <a href="http://www.utsa.edu/today/2016/06/rodriguezexhibit.html">Learn more.</a>

 </p>
<p>------------------------------- </p>

<p><em>Connect online at&nbsp;</em><a href="http://www.facebook.com/utsa"><em>Facebook</em></a><em>,&nbsp;</em><a href="http://twitter.com/utsa/"><em>Twitter</em></a><em>,</em><a href="http://www.youtube.com/utsa"><em>&nbsp;</em><em>YouTube</em></a><em>, and&nbsp;</em><a href="http://instagram.com/utsa/"><em>Instagram</em></a><em>.</em></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->