<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA researchers study the profession of public service</title>

<!-- #include file="/today/inc/story-header_after_title.html" --> 
        
        <!--INSERT	TITLE OF ARTICLE -->
        
        <h1>UTSA researchers study the profession of public service </h1>
        
        <!--INSERT	IMAGE OF PHOTO -->
        
        <div class="img-right"> <img alt="UTSA researches study the profession of public service" src="/today/images/pro2.jpg"width="334" height="280" /> <br />
          <p class="img-caption"><em> Reddick, McCabe, Demir explore the innate characteristics that comprise the profession for city managers</em></p>
        </div>
        
        <!--REQUIRED-->
        <div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>
        
        <!--INSERT	BYLINE --><!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
        <p>(June 15, 2016)&nbsp;--What makes a professional public servant?&nbsp;A new study by UTSA researchers&nbsp;<strong>Christopher Reddick</strong>,&nbsp;<strong>Barbara C. McCabe</strong> and&nbsp;<strong>Tansu Demir</strong> surveyed more than 1,000 city managers, the prototypical public administrator, to find out.</p>
        <p>According to Reddick, professor and chair of the UTSA Department of Public Administration, no consensus currently exists about what professionalism looks like in public service.&nbsp;</p>
        <p>&ldquo;Public servants, and city managers in particular, don&rsquo;t have any institutional characteristics that mark traditional professions,&rdquo; Reddick said. &ldquo;There is no licensure, no mandatory educational programs, required membership in a professional association that polices its members, and no monopoly over entry into the profession.&rdquo; </p>
        <p>&ldquo;In essence, to be a public servant or city manager, the basic requirement is being hired for the position,&rdquo; added McCabe. &ldquo;Given the breadth of public service, it is difficult even to define what public managers actually do.&quot;</p>
        <p>In an era of increased government accountability, Reddick said, local government employees and public servants have struggled to create a professional standard to remedy the situation in which they find themselves.&nbsp;</p>
        <p>The researchers surveyed city managers from across the country about their attitudes and beliefs about their profession over the course of two years. The goal of their top-tier research was to identify shared characteristics that will help sketch out a shared identity.</p>
        <p>&ldquo;We found several shared beliefs among these city managers,&rdquo; said Reddick. &ldquo;Most city managers believe strongly in the importance of public service and in self-regulation, and they feel a strong sense of calling to their career.&rdquo;</p>
        <p>Reddick believes public servants should emulate the archetypical professions, such as lawyers or doctors, and place a greater importance on strengthening professional associations and creating formal standards.</p>
        <p>&ldquo;Lawyers have associations at the national and state level, and doctors have medical boards that license, regulate and discipline them,&rdquo;&nbsp;Reddick said.&nbsp;&ldquo;Public servants, like the city managers we surveyed, have no organizations that are equivalent in strength or discipline. It might be time to change that for the good of the profession.&rdquo;</p>
        <p>By <a href="mailto:jesus.chavez@utsa.edu">Jesus Chavez</a><br />
          Public Affairs Specialist </p>
        <p><em>-------</em></p>
        <p><strong><em>About&nbsp;the Researchers</em></strong> <br />
          <em>Christopher G. Reddick, Ph.D., is a professor and the chair of the UTSA Department of Public Administration. His research interests include information technology and public sector organizations.&nbsp;</em></p>
        <p><em>Barbara Coyle McCabe, Ph.D., is an associate professor in the UTSA Department of Public Administration. She previously directed the master&rsquo;s programs at Arizona State University&rsquo;s School of Public Affairs. Her research interests focus on state and local governments and the intersections between politics and markets.&nbsp;</em></p>
        <p><em>Tansu Demir, Ph.D., is associate professor in the UTSA Department of Public Administration. His areas of research include public administration theory, local government administration and city managers, professionalism and administrative power.</em></p>
        <p><em>Learn more about the </em><a href="http://copp.utsa.edu/department/category/public-administration/"><em>UTSA Department of Public Administration</em></a><em>&nbsp;and </em><a href="http://copp.utsa.edu/"><em>College of Public Policy</em></a><em>.</em></p>
        <p><em>Connect online at&nbsp;<a href="http://www.facebook.com/utsa">Facebook</a>,&nbsp;<a href="http://twitter.com/utsa/">Twitter</a>,<a href="http://www.youtube.com/utsa">&nbsp;YouTube</a>,&nbsp;and <a href="http://instagram.com/utsa/">Instagram.</a></em></p>
        <p>&nbsp;</p>
        
        <!-- #include file="/today/inc/story-footer.html" -->