<!-- #include file="/today/inc/story-header.html" -->

<title>New exhibit at UTSA downtown art gallery takes artist back to his roots</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->

<!--INSERT	TITLE OF ARTICLE -->

 <h1>New exhibit  at UTSA downtown art gallery takes artist back to his roots </h1>

 <!--INSERT	IMAGE OF PHOTO -->

<div class="img-right">
  <img alt="New exhibit at UTSA downtown art gallery takes artist back to his roots" src="/today/images/rodriguez2.jpg" width="334" height="280" />
<p class="img-caption"><em>Artist A.J. Rodriguez showcases the San Antonio River in new exhibit open through August 26
</em>
</p>
</div><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>



<!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
<p>(June 10, 2016) -- San Antonio native and University of Texas at San Antonio (UTSA) alumnus <strong>A.J. Rodriguez</strong> '98, '00 is sharing his passion for painting by capturing a key part of his hometown's landscape in a unique way in a new exhibit at The University of Texas at San Antonio Downtown Art Gallery. </p>

<p>Rodriguez says most of his artwork features nature, and he decided to focus on the San Antonio River in his most recent exhibit called "A.J. Rodriguez New Works," presented by UTSA President <strong>Ricardo Romo</strong> and sociology professor <strong>Harriett Romo</strong>.</p>

<p>Rodriguez says six generations of his family have lived near the San Antonio River, so this exhibit is very personal to him. Rodriguez also lives near the river and walks by it with his wife and children often. He took several photos one morning and that inspired his work on display now. </p>

<p>"Painting the view of the antenna tower and capturing the distant buildings from the Arsenal St. bridge while gazing through the cross-banded rails was meant to focus on those features we tend to barely notice," said Rodriguez. "The entirety of this series seeks to do just that; find and share the virtually limitless amount of beauty one can see while taking a walk through lesser traveled areas of the iconic, legendary and invigorating resource that we know as our San Antonio River. " </p>

<p>The top-tier UTSA Art Collection is curated by <strong>Arturo Infante Almeida</strong>. The collection contains paintings, sculptures, gifts and fine art acquisitions and mixed media by many talented south Texas artists, some of whom are UTSA graduates. Almeida says Rodriguez interprets beauty along the banks of the river. </p>

<p>"Using vigorously expressive brush strokes, he explores the intrinsic nature and spirit of the historic river that flows through the heart of the city," said Almeida.</p>

<p>The A.J. Rodriguez New Works Exhibit is on display through August 26 at the UTSA Downtown Art Gallery (DB 1.122). The gallery is located inside the Durango Building at the UTSA Downtown Campus, located at 501 W. César E. Chávez Blvd.</p>

<p>Rodriguez is donating a portion of proceeds collected from his work to the UTSA Art Collection. </p>

<p>An opening reception will be held Thursday, June 23, 2016 from 6 until 8 p.m.
</p>
<p>By <a href="mailto:kara.mireles@utsa.edu">Kara Mireles</a><br />
  Public Affairs Specialist
</p>


<p>------------------------------- </p>

<p><em>Learn more about <a href="https://www.youtube.com/watch?v=dBcXmimIvrQ">
A.J. Rodriguez New Works Exhibit.</a></em></p>

<p><em>Learn more about the <a href="http://www.utsa.edu/artcollection/"> UTSA Art Collection. </a></em></p>


<p><em>Connect with UTSA online at&nbsp;</em><a href="http://www.facebook.com/utsa"><em>Facebook</em></a><em>,&nbsp;</em><a href="http://twitter.com/utsa/"><em>Twitter</em></a><em>,</em><a href="http://www.youtube.com/utsa"><em>&nbsp;</em><em>YouTube</em></a><em>,&nbsp;and</em><a href="http://instagram.com/utsa/"><em> Instagram</em></a><em>.</em><em></em></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->
