<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA professor honored with Regents' Outstanding Teaching Award
</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->
    
<!--INSERT	TITLE OF ARTICLE -->

 <h1>UTSA professor honored with Regents' Outstanding Teaching Award
</h1>

 <!--INSERT	IMAGE OF PHOTO -->
 	
<div class="img-right"> <img src="/today/images/mccarter1.jpg"  width="334" height="280" alt= />
 <p class="img-caption"><em>Matthew McCarter uses experiential learning to earn teaching honor
</em></p>
</div>

<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div> 


<!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
<p> (June 21, 2016) -- <strong>Matthew McCarter</strong>, associate professor of management in The University of Texas at San Antonio (UTSA) College of Business, was selected to receive the 2016 Regents' Outstanding Teaching Award (ROTA) from the University of Texas System. </p>

<p> The Regents' Outstanding Teaching Awards were established in 2008 to recognize faculty who demonstrate a history and promising future of sustained excellence in undergraduate teaching. Since the program's inception, more than 40 UTSA faculty have received the award. </p>

<p> "We are honored that UT System once again has recognized a UTSA faculty member for outstanding undergraduate teaching," said <strong>Mauli Agrawal</strong>, interim provost and vice president for academic affairs. "Matthew McCarter is an exceptionally talented teacher and an extraordinary representative of our university's top-tier faculty. I congratulate him for this distinction and thank him for exemplary commitment to our students."</p>

<p> McCarter's teaching method is rooted in experiential learning. He is known for assigning in-class exercises and semester-long projects that allow his students to apply management theory and internalize the practical value of the course material. </p>

 <p>"I believe the best way to learn management theory and principles is to experience them," McCarter said. "Experiential learning engages students and encourages them to develop and test their skills, making the students more marketable and resourceful in their work, family and community." </p>

<p>One of the semester-long projects McCarter uses to teach theories of entrepreneurship, leadership, team dynamics and decision making is the Group Paperclip Project. Student teams start with a single paperclip and negotiate a series of trades to obtain something of much greater value. In the past, students have traded their paperclips up for furniture, electronics, thousands of dollars in gift cards, and enough frozen turkeys, stuffing, and cranberries to provide a Thanksgiving meal to women and children at a local battered women's shelter. </p>

<p>For another project, UTSA Apprentice, student teams plan, organize, and execute external fundraising events to learn about goal-setting, motivation and coping with surprises. Students in McCarter's Organizational Behavior and Management class this spring helped generate nearly $25,000 for local charities through the UTSA Apprentice exercise. 
</p>

<p>For his most recent project, The Rainmaker, student teams lobby for policy change in their community, work, and higher education institutions to gain first-hand knowledge about influence and power, negotiation, strategic planning and organizational change. </p>

<p>"In less than three years since joining the College of Business, Dr. McCarter has quickly become a student favorite for his use of experiential and service learning projects in his management classes," said <strong>Wm. Gerard Sanders</strong>, dean and Bodenstedt Chair in the College of Business. "His interactive style of learning not only engages students and helps them better understand the material through real world application, but also brings significant value to the community in the process." </p>

<p> McCarter and other Regents' Award recipients will be recognized August 24 during the Board of Regents meeting in Austin. </p>

<p> "UT educators provide invaluable mentorship and deliver high-quality instruction and innovation while enhancing the minds of the nation's next leaders. Their deep commitment to outstanding education ensures student success across the System," Chairman <strong>Paul L. Foster</strong> said. "The Board of Regents is honored to recognize our dedicated faculty members through the ROTA program."

 
</p>

<!--INSERT	BYLINE -->
<p class="byline"> - <a href="mailto:rebecca.luther@utsa.edu"> Rebecca Luther </a><br> 
 Director of Communications, Office of the Provost and Vice President for Academic Affairs
</p>
------------------------------
<p><em>Learn more about the <a href= "http://business.utsa.edu/"> UTSA College of Business.
</a></em></p>


<p><em>Connect online at&nbsp;<a href="http://www.facebook.com/utsa">Facebook</a>,&nbsp;<a href="http://twitter.com/utsa/">Twitter</a>,<a href="http://www.youtube.com/utsa">&nbsp;YouTube</a> and&nbsp;<a href="http://instagram.com/utsa/">Instagram</a>.</em></p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->