<!-- #include file="/today/inc/story-header.html" -->

<title>Two UTSA professors receive grants to support innovative top-tier research
</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->
    
<!--INSERT	TITLE OF ARTICLE -->

 <h1>Two UTSA professors receive grants to support innovative top-tier research
</h1>

 <!--INSERT	IMAGE OF PHOTO -->
 	
<div class="img-right"><img src="/today/images/bseportrait.jpg" width="334" height="280" alt="wo UTSA professors receive grants to support innovative top-tier research" />
</div>

 
<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>


  
<p><!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->(June 2, 2016) -- <strong>Yufei Huang</strong> and <strong>David Akopian</strong>, professors of electrical and computer engineering at The University of Texas at San Antonio (UTSA), have each received a $100,000 grant to support their top-tier healthcare research. Huang’s grant will support his work in cloud computing to offer greater precision in medicine, while Akopian’s research will focus on mobile messaging solutions for health promotion interventions.</p>

<p>In his endeavors to bring cloud computing to the healthcare community, Huang will work with <strong>Yidong Chen</strong>, professor of epidemiology biostatistics at the UT Health Science Center. An innovative component of their study is the exploration of integrating electronic medical record data from health care providers in the San Antonio area with linked genomics data.</p>

<p>“What is particularly exciting about these collaborative grants is that they not only provide an initial investment in innovative research ideas, they bring scientists and institutions together to significantly accelerate and broaden the impact of their work,” said <strong>Bernard Arulanandam</strong>, Ph.D., assistant vice president for research support at UTSA.</p>

<p>Akopian’s research will delve into mobile technology, specifically the possibility of allowing non-technical project organizers to program multistage automated protocols though a low-cost, user-friendly, non-technical interface that would allow health promotion researchers to communicate with patients and health care providers participating in health studies.</p>

<p>SALSI, a collaborative partnership established between the Health Science Center and UTSA by the Texas Legislature in 2003, has strengthened research in the life sciences, one of the fastest growing  industries in our state and a $30.6 billion industry in San Antonio. The grants awarded through the Innovation Challenge are high-risk, high-reward studies that have the potential to create groundbreaking research directions in health informatics and bioinformatics.</p>

<p>In addition to the Innovation Challenge grants, SALSI provides collaborative research opportunities for scientific, educational and industry partners throughout South Texas. 
</p>

<!--INSERT	BYLINE -->
<p>-- <a href="mailto:joanna.carver@utsa.edu">Joanna Carver</a>
<br />
Public Affairs Specialist
</p>


<p>----------------------------</p>

<p><em>Learn more about the <a href="http://ece.utsa.edu/">UTSA Department of Computer and Electrical Engineering</a>.</em></p>

<p><em>Learn more about the <a href="http://www.utsalsi.org/">San Antonio Life Sciences Institute</a>.</em></p>


<p><em>Connect online at&nbsp;<a href="http://www.facebook.com/utsa">Facebook</a>,&nbsp;<a href="http://twitter.com/utsa/">Twitter</a>,<a href="http://www.youtube.com/utsa">&nbsp;YouTube</a>,&nbsp;<a href="http://instagram.com/utsa/">Instagram</a>&nbsp;and&nbsp;<a href="http://www.utsa.edu/today">UTSA Today</a>.</em></p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->