<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA professor Francine Romero takes a closer look at the 2016 Presidential election by looking to the past
</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->
    
<!--INSERT	TITLE OF ARTICLE -->

 <h1>UTSA professor Francine Romero takes a closer look at the 2016 Presidential election by looking to the past
</h1>

 <!--INSERT	IMAGE OF PHOTO -->
 	

  <div class="img-right"><img alt="UTSA professor Francine Romero takes a closer look at the 2016 Presidential election by looking to the past " src="http://www.utsa.edu/today/images/taft2.jpg" /><p class="img-caption"><em>Policy researcher sees similarities between today’s election and Taft’s political career, struggles with Roosevelt</em></p>
</div>

 
<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>




<!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
<p>(May 9, 2016) — What can the career of<strong>&nbsp;William Howard Taft</strong>&nbsp;teach us about modern politics? Quite a bit, according to<strong>&nbsp;Francine Romero</strong>, associate professor and associate dean of The University of Texas at San Antonio (UTSA) College of Public Policy.&nbsp;<br />
  &nbsp;&nbsp;<br />
 Taft served as the nation&rsquo;s 27th President from 1909 to 1913. Although Romero says that Taft was one of history&rsquo;s least understood presidents, she believes his presidential career and battles with his predecessor,&nbsp;<strong>Theodore Roosevelt,</strong>&nbsp;regarding progressive action are more relevant now than ever.</p>
<p>&ldquo;Americans are seeing a return to Progressive Era rhetoric in a big way,&rdquo; Romero said. &quot;Anti-trust policies were cornerstones of the Progressive Era at the beginning of the 20th century. In 2016,&nbsp;we see candidates talk about breaking up banks in ways that remind me of Roosevelt. And then you have the question of how presidents should use their power, which was Taft&rsquo;s big concern.&rdquo;</p>
<p>Before Taft took office, Roosevelt, a charismatic and bombastic leader, wielded executive power ferociously. He&nbsp;was a fierce proponent of environmentalism and breaking up&nbsp;monopolies, or &quot;trust-busting.&rdquo; He was known for bending the U.S. Constitution to suit his needs. Even so, he handpicked Taft to succeed him as president in 1909.</p>
<p>Taft, however, had a dramatically different approach to governing than Roosevelt.</p>
<p>&ldquo;In contrast to Roosevelt, Taft was a stickler for the rule of law,&rdquo; Romero said.&nbsp;&ldquo;He was cautious. He only took actions that were explicitly allowed by the U.S. Constitution, and he believed that executive actions should be limited. His biggest progressive victory was throwing his support behind the 16th Amendment,&nbsp;which instituted the income tax.&rdquo;</p>
<p>Romero&nbsp;said that she&rsquo;s begun to see shades of the Taft and Roosevelt dynamic on both sides of the aisle in the 2016 presidential race.&nbsp;</p>
<p>&ldquo;Taft very much hated the idea of a personality president,&rdquo; Romero said.&nbsp;&ldquo;Roosevelt was a personality president. He led by virtue of his popularity. If he thought he could legally get away with something, he would find a way to do what he felt was right.&nbsp;In a race full of personality candidates, I wonder what Taft would think of the presidential race in 2016.&rdquo;</p>
<p>In 1912, Taft and Roosevelt's clashing ideologies led to a rift within the Republican Party. This led to particularly contentious Republican convention showdown, where Roosevelt lost the nomination and then split off to run as a third-party candidate. As a result of this power struggle, both eventually lost the presidency to <strong>Woodrow Wilson</strong>.&nbsp;&nbsp;</p>
<p>&ldquo;The election of 1912 was a spectacle in a way that&rsquo;s very reminiscent of what&rsquo;s happening within the Republican&nbsp;and Democratic parties today,&rdquo; Romero said.&nbsp;&ldquo;The nominating and convention season was a fight. Primary candidates were more concerned with each other than with their election opponents.&quot;&nbsp;</p>
<p>There&rsquo;s&nbsp;another way Taft&rsquo;s career could come into play today, Romero said. With seat on the U.S. Supreme Court open and more likely to open up in the coming years, Romero believes that talk of nominating a former president to the court could soon resurface. </p>
<p>&ldquo;Taft is so far the only president to also sit on the U.S. Supreme Court, even serving as Chief Justice,&rdquo; Romero said.&nbsp;&ldquo;I am not saying that this is a certain thing, but&nbsp;I am saying that if a former president were nominated to the court,&nbsp;there is precedent.&quot;</p>
<p>Romero recently penned an entire chapter detailing the Taft&rsquo;s relationship with the U.S. Constitution in a new book edited by&nbsp;<strong>Ken Gormley,</strong> president-elect of&nbsp;Duquesne&nbsp;University. The book,&nbsp;&ldquo;The Presidents and the Constitution: A Living History,&rdquo; features similar chapters by some of the nation&rsquo;s foremost experts on the American presidency and the U.S. Constitution.<!--INSERT	BYLINE --></p>
<p class="byline">--<a href="mailto:jesus.chavez@utsa.edu"> Jesus Chavez</a>, Public Affairs Specialist</p>
<p>-----------------------</p>
<p><em><a href="http://nyupress.org/books/9781479839902/">Learn more about &ldquo;The Presidents and the Constitution: A Living History.&quot;</a></em></p>
<p><em>Learn more about the <a href="http://copp.utsa.edu/">UTSA College of Public Policy.</a></em><a href="http://copp.utsa.edu/"></a></p>
<p><em>Connect online at&nbsp;<a href="http://www.facebook.com/utsa">Facebook</a>,&nbsp;<a href="http://twitter.com/utsa/">Twitter</a>,<a href="http://www.youtube.com/utsa">&nbsp;YouTube</a>,&nbsp;<a href="http://instagram.com/utsa/">Instagram</a>&nbsp;and&nbsp;<a href="http://www.utsa.edu/today">UTSA Today</a>.</em></p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->