<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA offers unique summer camps for all ages, June 27-July 1
</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->
    
<!--INSERT	TITLE OF ARTICLE -->

 <h1>UTSA offers unique summer camps for all ages, June 27-July 1
</h1>

 <!--INSERT	IMAGE OF PHOTO -->
 	
<div class="img-right"><img src="/today/images/moncamp.jpg" width="334" height="280" alt="UTSA offers unique summer camps for all ages, June 27-July 1" />
<p class="img-caption"><em>This week summer campers will explore STEM-related topics and more </em>
</div>

 
<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>


  
<p><!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->(June 27, 2016) -- <strong>—</strong> Students are exploring new programs this week with top-tier students and faculty members during The University of Texas at San Antonio’s summer camps. The camps are both educational and fun giving students a glimpse of what it’s like to learn on a college campus. </p>
<p>Children, high school students and incoming college undergraduates can participate in athletic programs, music programs and learn STEM-related topics to help them develop their skills and talents. Throughout the summer, UTSA hosts nearly 100 camps offering interesting and innovative learning opportunities.</p>
<p>This week, UTSA offers the following camps:</p>
<p><a href="http://itec.utsa.edu/summercamps-16.html"><strong>ITEC Camps</strong></a><strong> </strong><br />
  Monday, June 27 – Friday, July 1, 8 a.m. - 4 p.m., Main Campus <br />
  The UTSA Interactive Technology Experience Center camps are for curious students interested in STEM and related topics. This week, campers in kindergarten through 2nd grade will study engineering physics and food chemistry. Third through 5th grade campers will learn about human biology. Sixth through 8th graders will explore programming Sphero. Ninth through 12th grade campers will learn about robotics.</p>
<p><a href="http://www.utsasocceracademy.com"><strong>UTSA Soccer Academy-Junior Elite Camp</strong></a></strong><br/>
  Monday, June 27 - Friday, July 1, 9 a.m. - 3 p.m., Main Campus<br />
  UTSA’s junior elite camp will help intermediate to advanced players ages 10 to 14 develop their soccer skills. The staff leading the camp has a combined 75 years of experience building the best soccer camp program in the San Antonio area.
  </p>
  <p><a href="http://www.utsatenniscamps.com/tennis-clinics.cfm"><strong>Tennis Camp </strong></a><strong> </strong><br />
  Monday, June 27 - Thursday, June 30, 9 a.m. - 11 a.m., UTSA Tennis Facility Main Campus <br />
  This camp will help students improve their skills with several drills, tournament style match play and video analysis of every stroke.</p>
<p><a href="http://www.texancultures.com/educator_center/summer_camps"><strong>History Mystery Museum Summer Camp</strong></a><br />
  Monday, June 27 - Friday, July 1, 9 a.m. - 2 p.m., Institute of Texan Cultures<br />
  Children 8 to 10 years old will get a behind-the-scenes look at the museum and learn about Texas history through hands-on activities with museum staff.</p>
<p><a href="http://music.utsa.edu/index.php/camps/utsa-choir-camp1"><strong>High School Choir Camp</strong></a><strong> </strong><br />
  Sunday, June 26 - Wednesday, June 29, Registration 2-5 p.m., Main Campus<br />
  Campers will work alongside UTSA conductors, faculty and clinicians from prominent high school music programs who will provide an intensive study of All-state audition music. UTSA choir camp is a leader in the Texas All-State Choir preparatory process. </p>

<p>----------------------------</p>

<p><em>Learn more about <a href="https://www.utsa.edu/camps/">UTSA Summer Camps</a>.</em></p>

<p><em>Learn more about <a href="http://www.utsa.edu/academics/">UTSA Academics</a>.</em></p>

<p><em>Learn more about <a href="http://goutsa.com/">UTSA Athletics</a>.</em></p>


<p><em>Connect online at&nbsp;<a href="http://www.facebook.com/utsa">Facebook</a>,&nbsp;<a href="http://twitter.com/utsa/">Twitter</a>,<a href="http://www.youtube.com/utsa">&nbsp;YouTube</a>, and&nbsp;<a href="http://instagram.com/utsa/">Instagram</a>.</em></p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->