<!-- #include file="/today/inc/story-header.html" -->

<title>More than 8,000 new Roadrunners to attend UTSA Orientation this summer
</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->
    
<!--INSERT	TITLE OF ARTICLE -->

 <h1>More than 8,000 new Roadrunners to attend UTSA Orientation this summer

</h1>

 <!--INSERT	IMAGE OF PHOTO -->
 	
<div class="img-right">
  <img src="/today/images/orientationstaff2.jpg" width="334" height="280" alt="More than 8,000 new Roadrunners to attend UTSA Orientation this summer" ><br />
  <p class="img-caption"><em>Newest students will get a crash course in UTSA life, <br />
  traditions and services</em></p>
<iframe width="334" height="180" src="https://www.youtube.com/embed/0yg2-7feMDA" allowfullscreen></iframe>
</div>

 
<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>

<!--INSERT	BYLINE --><!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
<p> (June 6, 2016)&nbsp;-- Welcome, Roadrunners. UTSA kicks off its new student and family orientation sessions for the fall 2016 semester today, and more than 8,000 incoming UTSA students are expected to attend. Sessions will take place at the Main and Downtown Campuses.</p>
<p>UTSA Orientation is hosted by the <a href="http://www.utsa.edu/orientation">Office of Orientation and Family Programs </a>to help new UTSA students&nbsp;— including first-time freshmen, transfer students, graduate students and international students, and their families&nbsp;— adjust to life at UTSA.&nbsp;Over the course of the three-day orientation,&nbsp;the students and their families will immerse themselves in every aspect of UTSA, gaining a deeper understanding of university life.&nbsp;</p>
<p>For the first time, this year&rsquo;s Orientation participants will include a guide traditions experience, the Roadrunner Walk, that immerses them in university traditions.</p>
<p>At UTSA Orientation, student attendees can expect to:</p>
<ul>
  <li>Attend a comprehensive advising session and complete a full class schedule in their chosen major for the fall semester</li>
  <li>Gain insight into UTSA&rsquo;s many student and family support services to ensure academic success</li>
  <li>Learn about UTSA traditions, campus life and how they can get involved&nbsp;</li>
  <li>Tour UTSA&rsquo;s many campuses and learn about what sets each apart</li>
  <li>Gain a deep understanding of the personal and financial responsibilities that come with attending a university</li>
  <li>Explore the importance of academic responsibility and what it takes to succeed in college</li>
</ul>
<p>Parents and families will also be given the chance to learn about their Roadrunner&rsquo;s new home and how they can stay involved.</p>
<p>Incoming Roadrunners also have the opportunity to attend Roadrunner Camp, an optional event for students to meet new friends, student leaders, faculty and staff while learning about UTSA, in an outdoors setting. The camp offers low and high ropes course experiences, sportsmanship and athletic opportunities, and many other fun camp-like activities. The reservation deadline is July 29. </p>
<p>By <a href="mailto:jesus.chavez@utsa.edu">Jesus Chavez</a><br />
  Public Affairs Specialist
</p>
<p>-------</p>
<p><em>Learn more about the </em><em><a href="http://www.utsa.edu/orientation">UTSA Office of Orientation and Family Programs</a></em><em>.</em><br />
  <br />
 <em>Log in to ASAP to register for Orientation.</em></p>
<p><em><a href="http://www.utsa.edu/orientation/camps/roadrunner/index.html">Learn more</a></em><em>.about Roadrunner Camp, a supplement to UTSA Orientation.</em></p>
<p><em>Connect online at&nbsp;<a href="http://www.facebook.com/utsa">Facebook</a>,&nbsp;<a href="http://twitter.com/utsa/">Twitter</a>,<a href="http://www.youtube.com/utsa">&nbsp;YouTube</a>,&nbsp;and <a href="http://instagram.com/utsa/">Instagram.</a></em></p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->