<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA summer camps help youth and teens achieve their personal best
</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->
    
<!--INSERT	TITLE OF ARTICLE -->

 <h1>UTSA summer camps help youth and teens achieve their personal best
</h1>

 <!--INSERT	IMAGE OF PHOTO -->
 	
<div class="img-right">
  <img src="/today/images/archcamp2.jpg" width="334" height="280" alt="UTSA summer camps help youth and teens achieve their personal best" />
<p class="img-caption"><em>Start the summer strong with UTSA’s top-tier camps
</em>
</p>
</div>

<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>
 

<p><!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->(June 1, 2016) -- Throughout the summer, UTSA will host nearly 100 camps that will offer exciting, innovative and intellectually challenging programs for children age 5 and up, high school students and incoming college undergraduates.</p>
<p>More than 30 summer camps will focus on STEM fields. They will provide a glimpse of the collaborative, groundbreaking and innovative UTSA programs developed by top-tier researchers and faculty to prepare the next generation of scientists and engineers. </p>
<p>All sessions start with basic activities then build up through the week. Campers finish the week strong having developed, produced or participated in a large project such as a play or concert performance, building a robot from LEGOs or visiting construction sites to see first-hand how architects and designers think.</p>
<p><strong>Stephen Temple</strong>, a UTSA architecture and interior design associate professor, said that at the beginning of each summer camp, many activities might seem fragmented in the eyes of students. But as the exercises build upon each other, the campers begin to connect abstract concepts to more concrete ideas that end with a final project.</p>
<p>&ldquo;Everything is set up around this structure; everything they do is associated with participant's learning and the final product at the end of the camp,&rdquo; said <strong>Scott Flanagan</strong>, an administrator of five summer music camps.</p>
<p>UTSA coaches also will host several sports camps. Younger campers will have the opportunity to learn and fine-tune their skills. Older campers will experience training sessions in a competitive environment, similar to that experienced by UTSA&rsquo;s Conference USA athletes.</p>
<p>Many sports camps also offer a perfect opportunity for aspiring college athletes to establish relationships with UTSA coaches.</p>
<p>&ldquo;There is a lot of one-on-one instruction, especially in the smaller camps where we see a lot of high school players that are beginning their recruitment process,&rdquo; said <strong>Michelle Cheatham</strong>, head coach of the UTSA women&rsquo;s softball team. &ldquo;The practice pace is different and they train with the same pace our collegiate players do.&rdquo;<br />

 <!--INSERT	BYLINE --></p>
<p>
  
  By <a href="mailto:diego.aparicio@utsa.edu">Diego Aparicio</a>
  <br />
Multimedia Manager
</p>

<p>----------------------------</p>

<p><em>Learn more about  <a href="https://www.utsa.edu/camps/">UTSA summer camps</a>.</em></p>

<p><em>Connect online at&nbsp;<a href="http://www.facebook.com/utsa">Facebook</a>,&nbsp;<a href="http://twitter.com/utsa/">Twitter</a>,<a href="http://www.youtube.com/utsa">&nbsp;YouTube</a>,&nbsp;<a href="http://instagram.com/utsa/">Instagram</a>&nbsp;and&nbsp;<a href="http://www.utsa.edu/today">UTSA Today</a>.</em></p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->