<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA offers fun and unique summer camps for all ages, June 20 - 24
</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->
    
<!--INSERT	TITLE OF ARTICLE -->

 <h1>UTSA offers fun and unique summer camps for all ages, June 20 - 24
</h1>

 <!--INSERT	IMAGE OF PHOTO -->
 	
<div class="img-right"><img src="/today/images/perf2.jpg" width="334" height="280" alt="UTSA offers summer camps for all ages, June 13 – 17" />
<p class="img-caption"><em>This week, summer camp attendees will explore Mayan culture, solve forensic mysteries and more </em>
</div>

 
<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>


  
<p><!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->(June 20, 2016) -- <strong>—</strong>Each summer, UTSA hosts nearly 100 summer camps full of exciting, innovative and intellectually challenging programs for children, high school students and incoming college undergraduates. </p>
<p>UTSA summer camps are a way for the community to glimpse some of the groundbreaking programs at UTSA in a fun summer environment. The camps are developed by UTSA&rsquo;s top-tier researchers, faculty and staff in order to prepare the next generation of scientists, engineers, archaeologists, writers and criminal justice professionals.</p>
<p>All camps are designed to teach or enhance skills to children while also giving them a unique experience on a college campus. Campers will have the opportunity to participate in athletic activities, explore archaeological techniques and past cultures, delve into the criminal justice profession and forensic techniques, and learn the ins and outs of musical performance.</p>
<p>This week, UTSA offers the following camps:</p>
<p><a href="http://itec.utsa.edu/summercamps-16.html"><strong>ITEC Camps</strong></a><strong> </strong><br />
  Monday, June 20 – Friday, June 24, Main Campus <br />
  The UTSA Interactive Technology Experience Center camps are for curious youth who are interested in STEM and related topics. This week, campers in kindergarten through 2nd grade will study environmental science. Third through 5th grade campers will focus on food chemistry or robotics and programming. Sixth through 8th grade youth will delve into computer science.</p>
<p><a href="http://copp.utsa.edu/department/criminal-justice-summer-camp/"><strong>Criminal Justice Summer Camp</strong></a><strong> </strong><br />
  Monday, June 20 – Friday, June 24, Downtown Campus<br />
  The UTSA Department of Criminal Justice is providing high school juniors and seniors with the opportunity to learn all about the criminal justice profession. Over the one-week camp, teens will learn the skills necessary to investigate crime scenes, learn the science behind fingerprints, and tour a local law enforcement facility.</p>
<p><a href="http://music.utsa.edu/index.php/camps/middle-school-band-camp"><strong>UTSA Middle School Band Camp</strong></a><br />
  Monday, June 20 – Friday, June 24, Main Campus<br />
  The UTSA Music Department is hosting a one-week, fun-filled musical experience for young musicians. Campers from middle school bands across San Antonio will receive music instruction from some of the finest professional musicians in south Texas and even get to enjoy a special carnival.</p>
<p><a href="http://testing.utsa.edu/jump-start-and-math-boot-camp/"><strong>Jump Start Camp</strong></a><strong> </strong><br />
  Monday, June 20 – Wednesday, June 22, Downtown Campus<br />
  The UTSA Department of Mathematics offers the Jump Start, two-and-a-half day refresher for UTSA undergraduate students whose math skills are a little rusty. Jump Start is a fast paced program led by UTSA math faculty to prepare campers for success in future math courses. </p>
<p><a href="http://www.utsamensbasketballcamps.com/"><strong>UTSA Men&rsquo;s Basketball Camp – Shooting Camp</strong></a><strong> </strong><br />
  Monday, June 20 – Tuesday, June 21, Main Campus Convocation Center<br />
  UTSA is training high school students and up on the fundamentals of the game in a fun learning environment. The basketball shooting camp will help students perfect the art of shooting the perfect basket. Each camp is taught by UTSA players and coaches and offers daily competitions and games.</p>
<p><a href="http://www.utsawomensbasketballcamp.com/team-camp.cfm"><strong>UTSA Women&rsquo;s Basketball Camp – Team Camp</strong></a><strong> </strong><br />
  Saturday, June 25 – Sunday, June 26, Main Campus<br />
  UTSA is training junior high and high school students and up on the fundamentals of the game in a fun learning environment. Each camp is taught by UTSA players and coaches and offers daily competitions and games. The women&rsquo;s basketball team camp is designed to help teams play and work together in a highly organized atmosphere.</p>
<p><a href="http://www.utsasocceracademy.com/summer-youth-camps.cfm"><strong>UTSA Soccer Academy – 2016 Summer Youth Camp</strong></a><strong> </strong><br />
  Monday, June 20 – Friday, June 24, Main Campus<br />
  UTSA Soccer is offering San Antonio area students a chance to sharpen their skills at its annual UTSA Soccer Academy. With a combined 75 years of camp experience, the UTSA soccer staff is helping build the most comprehensive soccer academy program in the San Antonio area. </p>
<p><a href="http://www.utsavolleyballcamps.com/ds_libero-camp.cfm"><strong>UTSA Volleyball Camps – Defense / Libero Camp</strong></a><strong> </strong><br />
  Monday, June 20, Main Campus Convocation Center<br />
  The UTSA Defense / Libero Camp focuses on the individual training of back row play, including passing and individual defense skills. The camp is for players entering 7th grade and older. </p>
<p><a href="http://www.utsatenniscamps.com/one-day-free-clinic.cfm"><strong>Free One-Day UTSA Tennis Clinic</strong></a><strong> </strong><br />
  Wednesday, June 22, Main Campus Tennis Courts<br />
  UTSA Tennis will host a free one-day clinic for students ages 10 - 18 with UTSA coaches. Experience what UTSA Tennis has to offer in a full day camp that will include drills, technical advice and point play. </p>
<p>----------------------------</p>

<p><em>Learn more about <a href="https://www.utsa.edu/camps/">UTSA Summer Camps</a>.</em></p>

<p><em>Learn more about <a href="http://www.utsa.edu/academics/">UTSA Academics</a>.</em></p>

<p><em>Learn more about <a href="http://goutsa.com/">UTSA Athletics</a>.</em></p>


<p><em>Connect online at&nbsp;<a href="http://www.facebook.com/utsa">Facebook</a>,&nbsp;<a href="http://twitter.com/utsa/">Twitter</a>,<a href="http://www.youtube.com/utsa">&nbsp;YouTube</a>, and&nbsp;<a href="http://instagram.com/utsa/">Instagram</a>.</em></p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->