<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA offers summer camps for all ages, June 6 – 10
</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->
    
<!--INSERT	TITLE OF ARTICLE -->

 <h1>UTSA offers summer camps for all ages, June 6 – 10
</h1>

 <!--INSERT	IMAGE OF PHOTO -->
 	
<div class="img-right"><img src="/today/images/summercamps1.jpg" width="334" height="280" alt="UTSA offers summer camps for all ages, June 6 – 10" />
<p class="img-caption"><em>Students in UTSA's ITEC summer camp. Photo credit: Deborah Silliman.</em>
</div>

 
<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>


  
<p><!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->(June 6, 2016) -- Throughout the summer, UTSA will host nearly 100 camps that will offer exciting, innovative and intellectually challenging programs for children, high school students and incoming college undergraduates.</p>

<p>The camps will provide a glimpse of the collaborative, groundbreaking and innovative UTSA programs developed by top-tier researchers and faculty to prepare the next generation of scientists and engineers.</p>

<p>All sessions start with basic activities then build up through the week. Campers finish the week strong having developed, produced or participated in a large project such as a play or concert performance, building a robot from LEGOs or visiting construction sites to see first-hand how architects and designers think.</p>

<p>This week, UTSA is offering the following camps:</p>

<p><strong>Summer Career Academy in Architecture and Interior Design</strong><br />
Monday to Friday, 11:30 a.m. – 4 p.m., UTSA Downtown Campus<br />
This camp offers a two-week summer introduction to the design careers and education of architects and interior design. It is intended to help high school and college students ponder whether architecture and interior design is right for them.</p>

<p><strong>ITEC Camps</strong><br />
Monday to Friday, 8 a.m. – 4 p.m., UTSA Main Campus<br />
The UTSA Interactive Technology Experience Center camps are for curious youth who are interested in STEM and related topics. This week, campers in kindergarten through 2nd grade will study environmental science. Third through 5th grade campers will focus on food chemistry plus robotics and programming. Sixth through 8th grade children will delve into computer science.</p>

<p><strong>Youth Football Camp</strong><br />
Monday, 9 a.m. – 4 p.m. and Tuesday, 9 a.m. – 12 p.m., UTSA Main Campus Practice Facility<br />
Young football players in 3rd to 8th grades will receive football instruction from UTSA coaching staff and will get to rub elbows with Coach Frank Wilson. Campers will be coached on passing, receiving, line play, blocking and other techniques.</p>

<p><strong>Baseball Camp</strong><br />
Monday to Wednesday, 8:30 a.m. – 4 p.m., Roadrunner Baseball Field<br />
UTSA baseball coaches will coach young players ages 5 to 18 with individualized instruction, drill work, situational teaching as well as hitting and pitching academies.</p>

<p><strong>Tennis Camp</strong><br />
Monday to Friday, 9 a.m. – 5 p.m. , UTSA Tennis Courts<br />
Kids ages 10 to 18 will receive a week full of excitement with tournament-style match play to improve campers’ tennis skill with a plethora of drills and video analysis of every stroke, along with tennis-specific fitness to improve court performance.</p>

<p><strong>Performing Arts Camp</strong><br />
Monday to Friday, 9:30 a.m. – 3 p.m. until June 17, UTSA Downtown Campus<br />
This camp is an intensive workshop style camp for students interested in the Performing Arts, both onstage and behind the scenes. Instructors are all working professionals and college students in the field. Students will receive instruction in acting, voice, dance, theatre history, music theory, costuming, stage properties, and more.</p>

<p><strong>Japanese for Children</strong><br />
Monday to Friday, 8:30 a.m. – 4 p.m., UTSA Main Campus<br />
Campers ages 6 to 12 will learn about the language of Japan as well as its culture through music, cooking, movies and crafts. In the morning, students will learn to read, write and speak the language. In the afternoon, the program is packing with cultural activities.
</p>

<!--INSERT	BYLINE -->
<p>-- <a href="mailto:joanna.carver@utsa.edu">Joanna Carver</a>
<br />
Public Affairs Specialist
</p>


<p>----------------------------</p>

<p><em>Learn more about <a href="https://www.utsa.edu/camps/">UTSA Summer Camps</a>.</em></p>

<p><em>Learn more about <a href="http://www.utsa.edu/academics/">UTSA Academics</a>.</em></p>


<p><em>Connect online at&nbsp;<a href="http://www.facebook.com/utsa">Facebook</a>,&nbsp;<a href="http://twitter.com/utsa/">Twitter</a>,<a href="http://www.youtube.com/utsa">&nbsp;YouTube</a>, and&nbsp;<a href="http://instagram.com/utsa/">Instagram</a>.</em></p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->