<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA offers summer camps for all ages, June 13 – 17
</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->
    
<!--INSERT	TITLE OF ARTICLE -->

 <h1>UTSA offers summer camps for all ages, June 13 – 17
</h1>

 <!--INSERT	IMAGE OF PHOTO -->
 	
<div class="img-right"><img src="/today/images/summercampsweek2.jpg" width="334" height="280" alt="UTSA offers summer camps for all ages, June 13 – 17" />
<p class="img-caption"><em>Students in UTSA's Japanese for Children camp.</em></p>
</div>

 
<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>


  
<p><!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->(June 13, 2016) -- Throughout the summer, UTSA will host nearly 100 camps that will offer exciting, innovative and intellectually challenging programs for children, high school students and incoming college undergraduates.</p>

<p>The camps will provide a glimpse of the collaborative, groundbreaking and innovative UTSA programs developed by top-tier researchers and faculty to prepare the next generation of scientists and engineers.</p>

<p>All camps are designed to teach or enhance skills to children along with giving them a unique experience on a college campus. Campers will have the opportunity to participate in athletic activities, build robots, explore archaeological techniques, sharpen their writing skills and even participate in a musical performance.</p>

<p>This week, UTSA is offering the following camps:</p>

<p><strong>Legacy Archaeology Camp</strong><br/>
Monday to Friday, 9 a.m. – 4 p.m., UTSA Main Campus<br />
The UTSA Center for Archaeological Research's weeklong day camp "Archaeology and Innovations," is open to 9 to 13-year-olds. Campers will participate in indoor and outdoor activities while exploring ancient technologies from around the world and new technologies archaeologists are using now.</p>

<p><strong>ITEC Camps</strong><br />
Monday to Friday, 8 a.m. – 4 p.m., UTSA Main Campus<br />
The UTSA Interactive Technology Experience Center camps are for curious youth who are interested in STEM and related topics. This week, campers in kindergarten through 2nd grade will study environmental science. Third through 5th grade campers will focus on food chemistry plus robotics and programming. Sixth through 8th grade children will delve into computer science.</p>

<p><strong>Basketball Camp</strong><br />
Monday to Thursday, 9 a.m. – 4 p.m., UTSA Main Campus Practice Facility<br />
This camp focuses on fundamentals of the game and is designed to be a fun learning experience. Each session features great teaching from UTSA players and coaches as well as daily competitions and games. Campers will be divided into groups based on age and ability. Boys from 1st - 9th grade are eligible to participate in this camp.</p>

<p><strong>Baseball Camp</strong><br /> Tuesday, June 14th, 9 a.m. – 4 p.m., Roadrunner Baseball Field<br />
 This camp will provide an experience much like a UTSA Baseball practice day from the stretching routine and a training session with baseball specific training techniques to pitching/catching, bunting and base running drills. This camp is open to high school students and up.</p>
 
<p><strong>Tennis Camp</strong><br />
  Monday to Friday, 9 a.m. – 5 p.m., UTSA Tennis Facility<br />
  Youth ages 10 to 18 will receive a week full of excitement with tournament-style match play to improve campers’ tennis skill with a plethora of drills and video analysis of every stroke, along with tennis-specific fitness to improve court performance.</p>
  
<p><strong>Softball Camp</strong><br />
  Monday to Tuesday, times vary based on camp selection, Roadrunner Field<br />
  Various camps will be offered including all skills, youth, hitting, pitching and defensive camp. Campers will be put through a series of infield, outfield and offensive drills as well as game-like situations. Mechanics and techniques will be taught the Roadrunner way.</p>
  
<p><strong>Soccer Camp</strong><br />
 Monday to Friday, 9 a.m. – 3 p.m., UTSA Soccer Fields<br />
 Boys and girls ages 10 to 14 will receive a week full of the most comprehensive camp program in the San Antonio-area. This camp is designed to give campers to ability to gain an edge on his/her opponent, or for an elite high school girl interested in the possibility of playing for UTSA.</p>
  
<p><strong>Flute Camp</strong><br />
  Monday to Friday, 10 a.m. – 4 p.m., UTSA Arts Building<br />
  This camp is open to all middle and high school flutists with at least one year of flute playing experience. High school students are encouraged to take advantage of the complete camp experience, which include campus housing, meals and evening activities. The camp will include classes on tone development, technique, etudes and solo literature as well as small and large flute ensembles.</p>
  
 <p> <strong>Young Writer’s Camp</strong><Br />
  Monday to Friday, 8:30 a.m. – 3:30 p.m., UTSA Downtown Campus<Br />
  This camp is a place where emerging writers can practice and refine their writing skills, share with others, and grow as artisans and thinkers. Each day, they will investigate the art of writing, apply the craft to their own writing, and celebrate what they have done with fellow campers. Camps are either half-day or full day and held for writers ages 9-18.
</p>
  
  <!--INSERT	BYLINE --></p>
<p>-- <a href="mailto:erika.bruno@utsa.edu">Erika Bruno</a>
  <br />
Social Media Specialist
</p>


<p>----------------------------</p>

<p><em>Learn more about <a href="https://www.utsa.edu/camps/">UTSA Summer Camps</a>.</em></p>

<p><em>Learn more about <a href="http://www.utsa.edu/academics/">UTSA Academics</a>.</em></p>

<p><em>Learn more about <a href="http://goutsa.com/">UTSA Athletics</a>.</em></p>


<p><em>Connect online at&nbsp;<a href="http://www.facebook.com/utsa">Facebook</a>,&nbsp;<a href="http://twitter.com/utsa/">Twitter</a>,<a href="http://www.youtube.com/utsa">&nbsp;YouTube</a>, and&nbsp;<a href="http://instagram.com/utsa/">Instagram</a>.</em></p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->