<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA student to compete in statewide conference</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->
    
<!--INSERT	TITLE OF ARTICLE -->

 <h1>UTSA student to compete in statewide conference </h1>

 <!--INSERT	IMAGE OF PHOTO -->
 	
<div class="img-right">
  <p class="img-caption"><img src="/today/images/ruraltexas.jpg" width="334" height="280" alt="UTSA student to compete in statewide conference" >
<em>Global Affairs major is a finalist in the Texas Rural Challenge
</em>
</p>
</div>



<!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
<p>(June 8, 2016) -- A UTSA student will show off his top-tier business knowledge this week in a statewide competition. <strong>Maynard J. Galloway</strong>, a junior majoring in Global Affairs, is one of six finalists competing in the Texas Rural Challenge Conference, June 9 and 10 in Waco. </p>
<p>The UTSA Small Business Development Center (SBDC) Rural Business Program, the Governor's Small Business Forum, Texas Workforce Commission and the Heart of Texas Council of Governments (HOTCOG) is hosting the 7th annual conference, the largest event of its kind to focus on rural Texans and their communities. This year’s theme is “Small town BIG IDEAS”. </p>
<p>Students will showcase their ideas during the Texas Student Challenge, a business plan competition held to encourage entrepreneurship and technological innovation among Texas college students. A $3,000 first place cash prize is up for grabs. As one of the finalists, Galloway will pitch his plan, which includes a STEM program installer and website development company for rural schools and small businesses </p>
<p>“The Texas Rural Challenge is different from other conferences because it offers an opportunity for rural Texans to engage with one another, openly discuss best practices, and then implement those ideas in their communities,” said <strong>Gilbert Gonzalez</strong>, UTSA SBDC rural business program director. “If you haven’t experienced the TRC the past seven years, I challenge you to attend. You will never stop attending.” </p>
<p>Keynote speakers include: </p>
<p>• <strong>Sid Miller</strong>, Commissioner, Texas Department of Agriculture </p>
<p>• <strong>Carlos Cascos</strong>, Texas Secretary of State </p>
<p>• <strong>Libby Lane</strong>, Libby Lane Leather Goods </p>
<p>• <strong>Carrie Kelleher</strong>, Coffee House Cafe </p>
<p>In addition to conference sessions, the Texas Rural Challenge provides unique opportunities for students and small businesses. The Texas Strong competition, with a first place cash prize of $10,000, features Small Business Development Center client finalists selected from across the state to participate in a fast-pitch competition. The businesses will be judged on their innovation, environmental impact, rural community impact, previous successes and community involvement.</p>
<p>The Governor’s office will also present Governor’s Small Business Awards to 2-3 exemplary small businesses. Additional breakout sessions feature expert panelists in water, entrepreneurship, community development, tourism and rural housing.</p>
<p>By <a href="mailto:kara.mireles@utsa.edu">Kara Mireles</a><br />
  Public Affairs Specialist
</p>


<p>------------------------------- </p>

<p><em>Learn more about <a href="http://www.cvent.com/events/2016-texas-rural-challenge/event-summary-2cfde23f25ba496ba7024355cd2534ff.aspx">The Texas Rural Challenge</a>.</em></p>
<p><em>Learn more about the <a href="https://fund.utsa.edu/project/2307">Texas Student Challenge on Launch UTSA. </a></em></p>
<p><em>Connect online with the UTSA Institute for Economic Development on <a href="https://www.facebook.com/UTSAEconomicDevelopment">Facebook</a> and <a href="https://twitter.com/EconDevUTSA">Twitter</a>.</em></p>

<p><em>Connect with UTSA online at&nbsp;</em><a href="http://www.facebook.com/utsa"><em>Facebook</em></a><em>,&nbsp;</em><a href="http://twitter.com/utsa/"><em>Twitter</em></a><em>,</em><a href="http://www.youtube.com/utsa"><em>&nbsp;</em><em>YouTube</em></a><em>,&nbsp;and</em><a href="http://instagram.com/utsa/"><em> Instagram</em></a><em>.</em><em></em></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->