<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA libraries partners with digital transgender archive</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->

<!--INSERT	TITLE OF ARTICLE -->

 <h1>UTSA libraries partners with digital transgender archive </h1>

 <!--INSERT	IMAGE OF PHOTO -->

<div class="img-right"><img src="/today/images/archivepic.jpg" width="334" height="280" alt="UTSA libraries partners with digital transgender archive" />
</div>

        <div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>

<!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
<p>(June 28, 2016) -- Have you ever searched for information on a topic that you knew existed, but always seemed to be just outside of your grasp? </p>

<p>This is exactly what happened to <strong>K. J. Rawson</strong> when he wrestled with finding transgender-related research materials for his Ph.D. In the years that followed, this struggle led him to developing the Digital Transgender Archive (DTA) now an internationally recognized repository.</p>

<p>In November of last year, UTSA Libraries Special Collections was invited to join the DTA, as one of several prestigious partner institutions including Harvard, Cornell, the University of Michigan, One Archives at USC, and the GLBT Historical Society among others.</p>

<p>The Digital Transgender Archive links to collections that consist of documents, newsletters, photographs and more relating to transgender history. The organization’s mission is to increase researchers’ accessibility to transgender history by providing an online hub for archival holdings from around the world. </p>

<p>UTSA Special Collections' contribution to the DTA are the papers of Linda and Cynthia Phillips, longtime transgender activists. The collection includes quarterly publications from Cross Currents, Gender Euphoria the newsletter of the Boulton and Park Society, Proceedings from the International Conference on Transgender Law and Employment Policy and more. The Phillips Papers were digitized in 2015 and were therefore easily accessible to the DTA. </p>

<p>"Without vehicles like the Digital Transgender Archive, it would be much more difficult to discover and access transgender collections," said <strong>Melissa Gohlke</strong>, Assistant Archivist. "You would have to physically go visit the universities and access their transgender collections on-site."</p>

<p>Since its debut in February, the DTA has grown to become an international collaboration between twenty different colleges, nonprofit organizations and private collections from around the world.</p>

<p>"The DTA is driving a new age of digitization for an underrepresented facet of history," said Gohlke.  "It's exciting to be on the leading edge of that."</p>

<p>By <a href="mailto:ryan.schoensee@utsa.edu">Ryan Schoensee</a><br />
  Communications Specialist UTSA Libraries 
</p>


<p>------------------------------- </p>

 <p><em>Learn more about <a href="http://lib.utsa.edu">UTSA Libraries</a></em></p>

<p><em>Connect with UTSA online at&nbsp;</em><a href="http://www.facebook.com/utsa"><em>Facebook</em></a><em>,&nbsp;</em><a href="http://twitter.com/utsa/"><em>Twitter</em></a><em>,</em><a href="http://www.youtube.com/utsa"><em>&nbsp;</em><em>YouTube</em></a><em>,&nbsp;and</em><a href="http://instagram.com/utsa/"><em> Instagram</em></a><em>.</em><em></em></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->
