<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA Libraries digitize LGBTQ t-shirt collections for wearing gay history project</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->

<!--INSERT	TITLE OF ARTICLE -->

 <h1>UTSA Libraries digitize LGBTQ t-shirt collections for wearing gay history project</h1>

 <!--INSERT	IMAGE OF PHOTO -->

<div class="img-right">
  <img alt="UTSA Libraries digitize LGBTQ t-shirt collections for wearing gay history project" src="/today/images/tshirt.jpg" width="334" height="280" />

</div>



<!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
<p>(June 22, 2016) -- Do you remember the day you retired your favorite t-shirt, and all the memories recalled by that “holey” piece of fabric? </p>

<p>T-shirt memories don'thave to be lost to the erosion of time or Goodwill.</p>

<p>Over a dozen LGBTQ t-shirts and other textiles from UTSA Libraries Special Collections have been photographed and digitally preserved in Wearing Gay History, a project devoted to promoting t-shirts as a lens for viewing the hidden histories of the LGBTQ community. </p>

<p>Wearing Gay History is an online exhibit featuring digitized t-shirt collections from a number of LGBTQ archives from across the United States. The organization's mission is to uncover the rich textile histories of queer communities, particularly in the American South and Midwest.</p>

<p>"It's an exciting time for us to participate in this project and collaborate with other archives across the country to provide more recognition for the LGBTQ community," said <strong>Melissa Gohlke</strong>, Assistant Archivist and recently named "Most Influential" by Out In SA </p>

<p>Most of the Special Collections textiles were from The Lollie Johnson Papers including one shirt that is so thin and faded that it could have been someone's favorite possession. Other pieces came from the Texas Lesbian Conference Records and the San Antonio Lesbian Gay Assembly (SALGA).</p>

<p>Melissa is excited that these items, hidden away in boxes for years, are getting some attention.</p>

<p>"Normally when collections have textiles they sit in a box and people are unaware that you have them," she said. "They represent an interesting facet of history that is often overlooked or unavailable." </p>

<p>"It's wonderful that we can now make these LGBTQ textiles accessible and evoke sentimental meaning from the times and places they're connected to."
</p>
<p>By <a href="mailto:ryan.schoensee@utsa.edu">Ryan Schoensee</a><br />
  Communications Specialist, UTSA Libraries
</p>


<p>------------------------------- </p>

<p><em>Learn more about <a href="http://wearinggayhistory.com/collections/show/21">Wearing Gay History Project</a>.</em></p>

 <p><em>Learn more about <a href="http://lib.utsa.edu">UTSA Libraries</a>.</em></p>

<p><em>Connect with UTSA online at&nbsp;</em><a href="http://www.facebook.com/utsa"><em>Facebook</em></a><em>,&nbsp;</em><a href="http://twitter.com/utsa/"><em>Twitter</em></a><em>,</em><a href="http://www.youtube.com/utsa"><em>&nbsp;</em><em>YouTube</em></a><em>,&nbsp;and</em><a href="http://instagram.com/utsa/"><em> Instagram</em></a><em>.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->
