<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA researcher helps Eagle Ford shale towns thrive as gas prices fall</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->
    
<!--INSERT	TITLE OF ARTICLE -->

 <h1>UTSA researcher helps Eagle Ford shale towns thrive as gas prices fall
</h1>

 <!--INSERT	IMAGE OF PHOTO -->
 	
<div class="img-right"><img src="http://www.utsa.edu/today/images/eaglefordshale.jpg" alt="UTSA researcher helps Eagle Ford shale towns thrive as gas prices fall" />
</div>

 
<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>


  
<p><!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->(June 16, 2016) -- In recent months, it looks as if the oil boom in the Eagle Ford shale has come to a screeching halt, with employment and production dropping as rapidly as gas prices. According to <strong>Thomas Tunstall</strong>, research director of the UTSA Institute for Economic Development, south Texas towns that benefitted from the boom and are now struggling aren’t victims of the “resource curse.” Instead they’re at risk because of a lack of economic diversification.</p>

<p>“The basic fact is that there’s a lot of oil in the Eagle Ford shale, roughly 10 to 12 billion barrels, so production can continue for a long time,” Tunstall said. “Right now, the oil rig count is down to around 30, when it’s been as high as 270 in the recent past.”</p>

<p>From 2008 to 2015, as oil production skyrocketed in the Eagle Ford Shale, many towns grew rapidly to keep up with the new influx of residents working on the oil rigs. In a study published in 2015 in The Journal of Regional Analysis & Policy, Tunstall <a href="http://www.utsa.edu/today/2015/11/resourcecurse.html">predicted that Eagle Ford shale towns</a> that didn’t use their excess tax revenue to invest in development outside of oil production would be at risk of becoming ghost towns if the oil industry went awry.</p>

<p>Now that production is down, Tunstall says that the towns like Gonzales and Cotulla that have diversified are doing well in spite of the tough economic climate.</p>

<p>“Gonzales has reinvented itself as a tourist destination because it’s the birthplace of the Texas Revolution,” he said. “Cotulla is building sports facilities and working on being designated as a Free Trade Zone to attract truckers.”</p>

<p>With his team at the UTSA Institute of Economic Development, Tunstall helped develop many towns’ diversification strategies. He advised Carrizo Springs to take advantage of large, unused plots of land and to begin planting olive groves. The town’s olive oil is now sold at H-E-B and other grocery stores in Texas and is an important source of economic stimulation in the town since oil production has slowed.</p>

<p>“Towns that haven’t diversified aren’t by any means doomed,” Tunstall said, noting that city councils who hired experienced city managers to revitalize their communities have tended to succeed. “In the downturn in the 1980s, people were packing up and leaving Texas. We’re not seeing that now.”</p>

<p>One of the reasons Eagle Ford shale towns don’t have to fear is that since that downturn, many more countries have become involved in oil production, whereas previously only the United States and Saudi Arabia were shouldering much of the burden for the world. For that reason, Tunstall doesn’t see catastrophe on the horizon. The idea is not for towns to just survive, but to also thrive.</p>

<p>“I don’t know if uniformly every town is better off, but those who stepped up to the opportunity have clearly benefitted from that proactive approach,” Tunstall said.
</p>

<!--INSERT	BYLINE -->
<p>-- <a href="mailto:joanna.carver@utsa.edu">Joanna Carver</a>
<br />
Public Affairs Specialist
</p>


<p>----------------------------</p>

<p><em>Learn more about the <a href="http://iedtexas.org/">UTSA Institute for Economic Development</a>.</em></p>

<p><em>Learn more about <a href="http://www.utsa.edu/today/2012/01/thomastunstall.html">Thomas Tunstall</a>.</em></p>


<p><em>Connect online at&nbsp;<a href="http://www.facebook.com/utsa">Facebook</a>,&nbsp;<a href="http://twitter.com/utsa/">Twitter</a>,<a href="http://www.youtube.com/utsa">&nbsp;YouTube</a>, and&nbsp;<a href="http://instagram.com/utsa/">Instagram</a>.</em></p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->