<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA delegation builds partnerships in Guadalajara and Mexico City</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->

<!--INSERT	TITLE OF ARTICLE -->

 <h1>UTSA delegation builds partnerships in Guadalajara and Mexico City </h1>

 <!--INSERT	IMAGE OF PHOTO -->

<div class="img-right">
  <img alt="UTSA delegation builds partnerships in Guadalajara and Mexico City" src="/today/images/delegation.jpg" width="334" height="280" />
<p class="img-caption"><em>UTSA delegation visits the IMSS clinic
</em>
</p>
</div>



<!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->
<p>(June 20, 2016) -- University of Texas at San Antonio (UTSA) President <strong>Ricardo Romo</strong>, UTSA Vice Provost for International Initiatives <strong>René Zenteno</strong> and other university leaders are in Mexico to nurture top-tier partnerships with Mexican collaborators and broaden the university's global footprint. </p>

<p>Today, the UTSA delegation is in Mexico City to sign an agreement with El Colegio de México to create an exchange program for researchers and students focusing on social sciences and humanities. El Colegio de México is one of the country's most prestigious research institutions. Its alumni include many of Mexico's most renowned scholars, analysts and public servants.</p>

<p>While at El Colegio de México, UTSA sociologist and Mexico Center Director <strong>Harriett Romo</strong> is presenting a new book, "Mexican Migration to the United States: Perspectives from Both Sides of the Border." </p>

<p>Tomorrow, UTSA will formalize an exchange program between the UT System and Mexico's National Council for Science and Technology (CONACYT), Mexico's version of the National Science Foundation.</p>

<p>Last fall, the UT System signed an agreement with CONACYT in San Antonio to develop academic and research programs across the UT System. UTSA will serve as the headquarters for the partnership, which will promote academic and research exchanges, primarily in the STEM fields. </p>

<p>The UTSA delegation stopped in Guadalajara last week to meet with 25 students in two health-related programs. Students in UTSA's cross-cultural medicine course, offered in partnership with Tecnológico de Monterrey, are learning first-hand about health care in Mexico at an Instituto Mexicano del Seguro Social clinic. The IMSS is one of Mexico's primary government health care providers. Students in UTSA's public health and epidemiology course, offered with the Universidad de Guadalajara and the Hospital Civil de Guadalajara, are likewise preparing for careers in the global health field. The civil hospital has been in operation for 220 years.</p>

<p>"Our exchange programs in Mexico are models of collaboration for the next generation," said Romo. "Today's students will become tomorrow's leaders, and they will continue our collaborative work, making advances in nanotechnology, literacy, infectious diseases and many other important areas."</p>

<p>The delegation returns to San Antonio on Wednesday, June 22. </p>


<p>By <a href="mailto:kara.mireles@utsa.edu">Kara Mireles</a><br />
  Public Affairs Specialist
</p>


<p>------------------------------- </p>

<p><em>Learn more about <a href="http://international.utsa.edu/linkages/">
UTSA's international partners.</a></em></p>

<p><em>Learn more about the <a href="http://www.conacyt.mx"> CONACYT. </a></em></p>


<p><em>Connect with UTSA online at&nbsp;</em><a href="http://www.facebook.com/utsa"><em>Facebook</em></a><em>,&nbsp;</em><a href="http://twitter.com/utsa/"><em>Twitter</em></a><em>,</em><a href="http://www.youtube.com/utsa"><em>&nbsp;</em><em>YouTube</em></a><em>,&nbsp;and</em><a href="http://instagram.com/utsa/"><em> Instagram</em></a><em>.</em><em></em></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->
