<!-- #include file="/today/inc/story-header.html" -->

<title>UTSA professors’ research shows what makes and breaks a video game</title>

<!-- #include file="/today/inc/story-header_after_title.html" -->
    
<!--INSERT	TITLE OF ARTICLE -->

 <h1>UTSA professors’ research shows what makes and breaks a video game
</h1>

 <!--INSERT	IMAGE OF PHOTO -->
 	
<div class="img-right"><img src="/today/images/videogames.jpg" width="334" height="280" alt="UTSA professors' research shows what makes and breaks a video game" />
</div>

 
<!--REQUIRED--><div class="addthis"><!-- #include file="/today/inc/addthis.html"--></div>


  
<p><!--INSERT	FIRST PARAGRAPH OF ARTICLE IN <P> TAG -->(June 13, 2016) -- Research by <strong>Suman Basuroy</strong>, Graham Weston Endowed Professor and chair of the UTSA Department of Marketing, and <strong>Richard Gretz</strong>, UTSA associate professor of marketing, is delving into what makes or breaks a video game. A series of top-tier papers and presentations, including one at the Big Data, Big Movies conference in Berlin, Germany this fall, show that the video game industry has developed several innovative tactics to snag and keep customers.</p>

<p>In an industry where video games cost upwards of $60 each and consoles run into the hundreds, companies like Sony and Microsoft are working to strike a balance between pleasing their customers and gaining new ones.</p>

<p>“One of the first things we started looking at was backward compatibility,” Gretz said. “Some consoles are compatible with older versions of themselves, which allows users to play games they already own on a newer console.”</p>

<p>While backward compatibility keeps gamers from having to replace all of their games when they upgrade their consoles, Gretz, Basuroy and UTSA Ph.D. candidate <strong>Jorge Pena Marin</strong>, found that it wasn’t as attractive as they anticipated.</p>

<p>“People perceive backward compatibility as less innovative,” Gretz said. “They’re less interested in paying more for these consoles because they’re not on the frontier of technology. If your new console is doing things your previous console can do, then how is it new?”</p>

<p>The pair also worked with their Ph.D. student <strong>BJ Allen</strong> to find that companies are utilizing a classic marketing technique called bundling, wherein a console and a game are sold as one package. McDonald’s similarly sells “meal deals” to convince customers to spend more in order to save money. Sony recently implemented this tactic with the release of <em>Star Wars: Battlefront</em>, by selling it along with a PlayStation 4.</p>

<p>“We’ve found that companies are actually more successful when they bundle a game and a console later in its release,” Basuroy said. “That way, you’re offering a new, more attractive deal for a console that doesn’t have the advantage of being brand new.”</p>

<p>While novelty does play a role in a console’s success, Gretz and Basuroy found that consoles paired with “superstar” games are also a big contributing factor to their continuing sales.</p>

<p>“Thousands of games come out every year,” Gretz said. “You see commercials for maybe 10 of them, and those are the superstars.”</p>

<p>Blockbuster games like Halo, Call of Duty and Uncharted are often associated with either PlayStation or Xbox. Companies often take advantage of the high-demand for these extremely popular games by making them playable only on one console, to encourage gamers to buy that console.</p>

<p>“You would think this might frustrate customers who don’t want to have to buy a second console,” Gretz said. “But our Ph.D. student <strong>Carlos Bauer</strong> actually found that they just increase demand until the game is available on more than one platform.”</p>

<p>Gretz and Basuroy also discovered that while superstar games account for a majority of the industry’s revenue, they don’t seem to snag sales away from lesser-performing games.</p>

<p>“In fact, the superstar games attract more people to the industry and in most cases actually help the sales of the smaller games,” Basuroy said. “In a sense, everyone wins.”
</p>

<!--INSERT	BYLINE -->
<p>-- <a href="mailto:joanna.carver@utsa.edu">Joanna Carver</a>
<br />
Public Affairs Specialist
</p>


<p>----------------------------</p>

<p><em>Learn more about the <a href="http://business.utsa.edu/marketing/index.aspx">UTSA Department of Marketing</a>.</em></p>


<p><em>Connect online at&nbsp;<a href="http://www.facebook.com/utsa">Facebook</a>,&nbsp;<a href="http://twitter.com/utsa/">Twitter</a>,<a href="http://www.youtube.com/utsa">&nbsp;YouTube</a>, and&nbsp;<a href="http://instagram.com/utsa/">Instagram</a>.</em></p>
<p>&nbsp;</p>

<!-- #include file="/today/inc/story-footer.html" -->