<!-- #include file="/today/_inc/v1.1/generated/today-header.html" -->
  <title>UTSA Today - More News | UTSA | The University of Texas at San Antonio</title>
  <!--#include virtual="/today/_inc/v1.1/generated/today-header-after-title.html" -->
  <!--#include virtual="/inc-share/analytics/analytics.js" -->
</head>
<body>
<!--#include virtual="/_files/global-header.html" -->
<!--#include virtual="/today/_inc/v1.1/generated/today-nav.html" -->

<section id="utsatoday-top" style="margin-top: 2em;">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <!--#include virtual="/today/_inc/v1.1/generated/today-more-news-page.html" -->

      </div><!--end col-sm-8 -->

      <div class="col-md-3 utsaToday-RightSide"></div>
    </div>
  </div>
</section>

<!--#include virtual="/today/_inc/v1.1/generated/today-footer.html" -->
<!--#include virtual="/_files/global-footer.html" -->

<script src="/today/js/typekit.js"></script>
<script type="text/javascript" src="/_files/js/global.min.js"></script>
</body>
</html>
