<!-- #include file="/today/_inc/v1.1/generated/today-header.html" -->
  <title>UTSA Today Search Results | UTSA | The University of Texas at San Antonio</title>
  <!--#include virtual="/today/_inc/v1.1/generated/today-header-after-title.html" -->
  <!--#include virtual="/inc-share/analytics/analytics.js" -->
</head>
<body>
<!--#include virtual="/_files/global-header.html" -->
<!--#include virtual="/today/_inc/v1.1/generated/today-nav.html" -->

<section id="utsatoday-top" style="margin-top: 2em;">
  <div class="container">
    <div class="row">
      <div class="col-md-9">

        <div class="utsaToday-MoreNews">
          <div class="row">
            <div class="col-sm-12">
              <span class="utsaToday-SectionTitle">Search Results</span>
            </div>
          </div>
          <hr>
          <div class="row"><div class="col-sm-12">
          <script>
          (function() {
            var cx = '000238266656426684962:z1bmoync9ei';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
          })();
          </script>
          <gcse:searchresults-only></gcse:searchresults-only>
          </div></div>
        </div>

        <p class="morenews"><a href="archives/">
          <i class="fa fa-angle-double-right" aria-hidden="true"></i> News Archives
        </a></p>
      </div><!--end col-sm-8 -->

      <div class="col-md-3 utsaToday-RightSide">
      </div>

    </div>
  </div>
</section>

<!--#include virtual="/today/_inc/v1.1/generated/today-footer.html" -->
<!--#include virtual="/_files/global-footer.html" -->

<script src="/today/js/typekit.js"></script>
<script type="text/javascript" src="/_files/js/global.min.js"></script>
</body>
</html>
