<cfIF isdefined("url.sqlSort") is False>
	<cfset sqlSort = "CategoryID">
</cfif>
<cfIf isdefined("url.sAscDesc") is False>
	<cfset sAscDesc = "asc">
</cfif>
<cfQuery name="SelectAllCategories" datasource="#Application.primaryDSN#">
Select * from RSSCategories
ORDER BY #sqlSort# #sAscDesc#
</cfquery>