<section id="utsatoday-nav">
		<div class="container">
			<nav class="navbar navbar-expand-md navbar-dark">
				<button aria-controls="todayNavbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#todayNavbar" data-toggle="collapse" type="button">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="todayNavbar">
					<ul class="nav navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="../../../categories/roadrunners.html">Meet a Roadrunner</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="https://www.utsa.edu/experts">Experts</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/ucm">Communications &amp; Marketing</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/ucm/communications/media-relations/media-contacts.html">For the Media</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/sombrilla/">Sombrilla Magazine</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="../../../archives/index.html">News Archive</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>