<cfQuery name="SelectSubCategoryForOneLink" datasource="#request.PrimaryDSN#">
Select subCategoryLinkRelations.SubCategoryID, subCategories.subCategoryName
	FROM subCategoryLinkRelations, subCategories
	WHERE subCategoryLinkRelations.subCategoryID=subCategories.subCategoryID
		and subCategoryLinkRelations.LinkID in (#linkID#)
</cfquery>

<!---
<cfQuery name="SelectSubCategoryForOneLink" datasource="#request.PrimaryDSN#">
Select subCategoryLinkRelations.ArticleID, subAudiences.subAudienceName, subAudiences.subAudienceID
	FROM subAudienceLinkRelations, subAudiences 
	WHERE subAudiences.subAudienceID=subAudienceLinkRelations.subAudienceID
		and subAudienceLinkRelations.LinkID in (#LinkID#)
</cfquery>
--->