<!---<cfif SelectOneArticle.ArticleTypeID is "">
	<cfset ArticleTypeID=0>
<CFELSE>
	<cfset ArticleTypeID=SelectOneArticle.ArticleTypeID>
</cfif> --->
	
<cfQuery name="SelectPhotoDimensionTypesForOnePhoto" datasource="#request.PrimaryDSN#">
Select PhotoDimensions.*
	FROM photoDimensions
	WHERE PhotoDimensionID=#PhotoDimensionID#
UNION ALL
Select PhotoDimensions.*
	FROM photoDimensions
	WHERE PhotoDimensionID not in (#PhotoDimensionID#)

</cfquery>