<cfIF isdefined("url.sqlSort") is False>
	<cfset sqlSort = "ExpertID">
</cfif>
<cfIf isdefined("url.sAscDesc") is False>
	<cfset sAscDesc = "asc">
</cfif>
<cfQuery name="SelectAllExperts" datasource="#request.PrimaryDSN#">
Select * from Experts
--left join custodians
--on custodianID=primaryCustodianID
Order by #sqlSort# #sAscDesc#

</cfquery>