<!---<cfquery datasource="#request.PrimaryDSN#" name="InsertOfficeStart">
SET NOCOUNT ON
INSERT INTO Offices (OfficeName)
VALUES ('#OfficeName#')
SELECT ThisID = @@Identity
SET NOCOUNT OFF
</cfquery>

<cfset OfficeID = InsertOfficeStart.ThisID>

--->

<cfquery datasource="#request.PrimaryDSN#" name="InsertOfficeStart">
INSERT INTO Offices (OfficeName)
VALUES ('#OfficeName#')
</cfquery>
<cfquery datasource="#request.PrimaryDSN#" name="SelectRecent">
SELECT top 1 OfficeID
from Offices
Order by OfficeID desc

</cfquery>



<cfoutput query="SelectRecent">
	<cfset officeID = SelectRecent.officeID>
</cfoutput>