<!---<cfquery datasource="#request.PrimaryDSN#" name="InsertCustodianStart">
SET NOCOUNT ON
INSERT INTO Custodians (LastName)
VALUES ('#LastName#')
SELECT ThisID = @@Identity
SET NOCOUNT OFF
</cfquery>
--->
<cfquery datasource="#request.PrimaryDSN#" name="InsertCustodianStart">
INSERT INTO Custodians (LastName)
VALUES ('#LastName#')
</cfquery>
<cfquery datasource="#request.PrimaryDSN#" name="SelectRecentCustodian">
SELECT top 1 CustodianID
from Custodians
Order by CustodianID desc

</cfquery>



<cfoutput query="SelectRecentCustodian">
	<cfset CustodianID = SelectRecentCustodian.CustodianID>
</cfoutput>
