<cfIF isdefined("form.AudienceID")>
	<cfscript>
		//Prepare our update query
		iCounter = 1;
		sSQL = "";
		DO {
			sSQL = sSQL & "Insert into AudienceLinkRelations (AudienceID, LinkID) values(" & listGetAt(form.AudienceID,iCounter) & "," & form.LinkID & ")";	
			iCounter = iCounter + 1;
		}WHILE (iCounter LT ListLen(Form.AudienceID)+1);
		writeOutPut(sSQL & "<br />");
	</cfscript>
	<cfQuery name="InsertAudienceLinkRelations" datasource="#request.PrimaryDSN#">
		#sSQL#
	</cfquery>
<cfELSE>
	<!-- 	Audience did not receive any categories.
			This means that some items can avoid having a Audience associated with them
	-->
</cfif>
