<cfIF isdefined("url.sqlSort") is False>
	<cfset sqlSort = "OfficeID">
</cfif>
<cfIf isdefined("url.sAscDesc") is False>
	<cfset sAscDesc = "asc">
</cfif>
<cfQuery name="SelectAllOffices" datasource="#request.PrimaryDSN#">
Select * from Offices
Order by #sqlSort# #sAscDesc#
</cfquery>