<cfIF isdefined("url.sqlSort") is False>
	<cfset sqlSort = "LinkID">
</cfif>
<cfIf isdefined("url.sAscDesc") is False>
	<cfset sAscDesc = "asc">
</cfif>
<cfQuery name="SelectAllLinks" datasource="#request.PrimaryDSN#">
Select * from links
--left join custodians
--on custodianID=primaryCustodianID
Order by #sqlSort# #sAscDesc#

</cfquery>