<cfIF isdefined("form.subordinateOffices")>
	<cfscript>
		//Prepare our update query
		iCounter = 1;
		sSQL = "";
		DO {
			sSQL = sSQL & "Update Offices Set OfficeParent = #OFFICEID# WHERE OFFICEID=" & listGetAt(form.subordinateOffices,iCounter) & ";" & chr(10);	
			iCounter = iCounter + 1;
			//writeOutPut(sSQL & "<br>");
		}WHILE (iCounter LT ListLen(Form.subordinateOffices)+1);

	</cfscript>
<hr>

	<cfOutPut><pre>#sSql#</pre> </cfoutput>
	<hr>
	<cfQuery name="UpdateOfficeSubordinates" datasource="#request.PrimaryDSN#">
		#sSQL#
	</cfquery>
<cfELSE>
	<!-- 	Category did not receive any categories.
			This means that some items can avoid having a category associated with them
	-->
</cfif>
test