<cfIF isdefined("url.sqlSort") is False>
	<cfset sqlSort = "CustodianID">
</cfif>
<cfIf isdefined("url.sAscDesc") is False>
	<cfset sAscDesc = "asc">
</cfif>
<cfQuery name="SelectAllCustodians" datasource="#request.PrimaryDSN#">
Select * from Custodians
Order by #sqlSort# #sAscDesc#
</cfquery>