<cfIF isdefined("url.sqlSort") is False>
	<cfset sqlSort = "photoID">
</cfif>
<cfIf isdefined("url.sAscDesc") is False>
	<cfset sAscDesc = "asc">
</cfif>
<cfQuery name="SelectAllPhotos" datasource="#request.PrimaryDSN#">
Select * from photogallery
Order by #sqlSort# #sAscDesc#
</cfquery>