<br/>
  <div class="learnMore bgblue" style="background-color:#0c2340;">
    <a ga-on="click" ga-event-category="todayClick" ga-event-label="cta-spring-commencement" ga-event-action="/commencement/" href="/commencement/">
        <img src="/today/img/cta/spring-commencement-cta.jpg" style="align:center;" alt="Spring Commencement" />
    </a>
  <br/><br/>
  <a ga-on="click" ga-event-category="todayClick" ga-event-label="cta-spring-commencement" ga-event-action="/commencement/" class="learnMoreButtons sans bold blue" href="/commencement/">LEARN MORE</a>
</div>
<br/>
