<br/>
  <div class="learnMore bgblue">
    <a data-label="cta02-sombrilla-fall2016" href="/sombrilla/">
      <video width="100%" autoplay loop>
        <source src="/today/img/cta/sombrilla.mp4" type="video/mp4" />

        <img src="/today/img/cta/cover-layar-10fps-320-cropped.gif" style="align:center;" alt="Sombrilla" />
      </video>
    </a>
  <br/><br/>
  <a data-label="cta02-sombrilla-fall2016" class="learnMoreButtons sans bold blue" href="/sombrilla/">Learn More</a>
</div>
<br/>
