<br/>
  <div class="learnMore bgblue" style="background-color:#00153f;">
    <a ga-on="click" ga-event-category="todayClick" ga-event-label="cta-spring-break-tours-2017" ga-event-action="https://www.eventbrite.com/e/utsa-spring-break-tours-tickets-30954591015" href="https://www.eventbrite.com/e/utsa-spring-break-tours-tickets-30954591015">
        <img src="/today/img/cta/spring-break-tours-cta.jpg" style="align:center;" alt="Spring Break Tours CTA" />
    </a>
  <br/><br/>
  <a class="learnMoreButtons sans bold blue" ga-on="click" ga-event-category="todayClick" ga-event-label="cta-spring-break-tours-2017" ga-event-action="https://www.eventbrite.com/e/utsa-spring-break-tours-tickets-30954591015" href="//www.eventbrite.com/e/utsa-spring-break-tours-tickets-30954591015">Sign Up</a>
</div>
<br/>
