<div class="col1" style="padding:5px;">
    <div class="content-top">
      
  
	


    <h2>Browse by Category</h2>

    <ul class="archive-category">
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=77">Academic Calendar</a></li>
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=86">Academics</a></li>
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=88">Admissions</a></li>
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=76">All Stories</a></li>
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=64">Alumni</a></li>
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=87">Announcements</a></li>
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=45">Arts and Entertainment</a></li>
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=46">Athletics</a></li>
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=52">Campus Life</a></li>
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=95">Campus Newswire</a></li>
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=53">College of Architecture, Const. & Plan.</a></li>
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=54">College of Business</a></li>
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=57">College of Educ. and Human Development</a></li>
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=58">College of Engineering</a></li>
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=59">College of Liberal and Fine Arts</a></li>
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=60">College of Public Policy</a></li>
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=61">College of Sciences</a></li>
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=41">Community Outreach</a></li>
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=68">Downtown Campus</a></li>
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=78">Events</a></li>
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=83">Faculty and Staff</a></li>
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=62">Graduate School</a></li>
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=63">Honors College</a></li>
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=67">Institute of Texan Cultures</a></li>
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=80">International</a></li>
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=69">Main Campus</a></li>
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=91">Meet a Roadrunner - Alumni</a></li>
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=93">Meet a Roadrunner - Faculty</a></li>
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=92">Meet a Roadrunner - Staff</a></li>
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=90">Meet a Roadrunner - Students</a></li>
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=51">Research</a></li>
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=44">Student Services</a></li>
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=89">Transfer</a></li>
        
            <li><a href="/today/archives/index.cfm?fuseaction=category&iStartRow=1&categoryid=85">University College</a></li>
        
    </ul>
    <h1 style="padding-top:20px;">Browse by Date</h1>
	
	
	
	
	<ul class="archive-date">
     
	
		
            <li><a id="archive-2017">2017</a>	
            <ul id="archive-2017-month" class="archive-month">            	
				
                
				
                         
                
					
                                
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2017&month=2"> February</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2017&month=1"> January</a></li>	
                    
                     
                
                    
                    	
            </ul></li>   
			
		
               
	
		
            <li><a id="archive-2016">2016</a>	
            <ul id="archive-2016-month" class="archive-month">            	
				
                
				
                         
                
                    	
                                
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2016&month=12"> December</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2016&month=11"> November</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2016&month=10"> October</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2016&month=9"> September</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2016&month=8"> August</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2016&month=7"> July</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2016&month=6"> June</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2016&month=5"> May</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2016&month=4"> April</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2016&month=3"> March</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2016&month=2"> February</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2016&month=1"> January</a></li>	
                    
                     
                
            </ul></li>   
			
		
               
	
		
            <li><a id="archive-2015">2015</a>	
            <ul id="archive-2015-month" class="archive-month">            	
				
                
				
                         
                
                    	
                                
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2015&month=12"> December</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2015&month=11"> November</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2015&month=10"> October</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2015&month=9"> September</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2015&month=8"> August</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2015&month=7"> July</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2015&month=6"> June</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2015&month=5"> May</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2015&month=4"> April</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2015&month=3"> March</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2015&month=2"> February</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2015&month=1"> January</a></li>	
                    
                     
                
            </ul></li>   
			
		
               
	
		
            <li><a id="archive-2014">2014</a>	
            <ul id="archive-2014-month" class="archive-month">            	
				
                
				
                         
                
                    	
                                
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2014&month=12"> December</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2014&month=11"> November</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2014&month=10"> October</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2014&month=9"> September</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2014&month=8"> August</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2014&month=7"> July</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2014&month=6"> June</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2014&month=5"> May</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2014&month=4"> April</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2014&month=3"> March</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2014&month=2"> February</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2014&month=1"> January</a></li>	
                    
                     
                
            </ul></li>   
			
		
               
	
		
            <li><a id="archive-2013">2013</a>	
            <ul id="archive-2013-month" class="archive-month">            	
				
                
				
                         
                
                    	
                                
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2013&month=12"> December</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2013&month=11"> November</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2013&month=10"> October</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2013&month=9"> September</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2013&month=8"> August</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2013&month=7"> July</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2013&month=6"> June</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2013&month=5"> May</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2013&month=4"> April</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2013&month=3"> March</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2013&month=2"> February</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2013&month=1"> January</a></li>	
                    
                     
                
            </ul></li>   
			
		
               
	
		
            <li><a id="archive-2012">2012</a>	
            <ul id="archive-2012-month" class="archive-month">            	
				
                
				
                         
                
                    	
                                
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2012&month=12"> December</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2012&month=11"> November</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2012&month=10"> October</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2012&month=9"> September</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2012&month=8"> August</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2012&month=7"> July</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2012&month=6"> June</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2012&month=5"> May</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2012&month=4"> April</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2012&month=3"> March</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2012&month=2"> February</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2012&month=1"> January</a></li>	
                    
                     
                
            </ul></li>   
			
		
               
	
		
            <li><a id="archive-2011">2011</a>	
            <ul id="archive-2011-month" class="archive-month">            	
				
                
				
                         
                
                    	
                                
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2011&month=12"> December</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2011&month=11"> November</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2011&month=10"> October</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2011&month=9"> September</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2011&month=8"> August</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2011&month=7"> July</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2011&month=6"> June</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2011&month=5"> May</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2011&month=4"> April</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2011&month=3"> March</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2011&month=2"> February</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2011&month=1"> January</a></li>	
                    
                     
                
            </ul></li>   
			
		
               
	
		
            <li><a id="archive-2010">2010</a>	
            <ul id="archive-2010-month" class="archive-month">            	
				
                
				
                         
                
                    	
                                
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2010&month=12"> December</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2010&month=11"> November</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2010&month=10"> October</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2010&month=9"> September</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2010&month=8"> August</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2010&month=7"> July</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2010&month=6"> June</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2010&month=5"> May</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2010&month=4"> April</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2010&month=3"> March</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2010&month=2"> February</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2010&month=1"> January</a></li>	
                    
                     
                
            </ul></li>   
			
		
               
	
		
            <li><a id="archive-2009">2009</a>	
            <ul id="archive-2009-month" class="archive-month">            	
				
                
				
                         
                
                    	
                                
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2009&month=12"> December</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2009&month=11"> November</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2009&month=10"> October</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2009&month=9"> September</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2009&month=8"> August</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2009&month=7"> July</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2009&month=6"> June</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2009&month=5"> May</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2009&month=4"> April</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2009&month=3"> March</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2009&month=2"> February</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2009&month=1"> January</a></li>	
                    
                     
                
            </ul></li>   
			
		
               
	
		
            <li><a id="archive-2008">2008</a>	
            <ul id="archive-2008-month" class="archive-month">            	
				
                
				
                         
                
                    	
                                
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2008&month=12"> December</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2008&month=11"> November</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2008&month=10"> October</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2008&month=9"> September</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2008&month=8"> August</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2008&month=7"> July</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2008&month=6"> June</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2008&month=5"> May</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2008&month=4"> April</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2008&month=3"> March</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2008&month=2"> February</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2008&month=1"> January</a></li>	
                    
                     
                
            </ul></li>   
			
		
               
	
		
            <li><a id="archive-2007">2007</a>	
            <ul id="archive-2007-month" class="archive-month">            	
				
                
				
                         
                
                    	
                                
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2007&month=12"> December</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2007&month=11"> November</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2007&month=10"> October</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2007&month=9"> September</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2007&month=8"> August</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2007&month=7"> July</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2007&month=6"> June</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2007&month=5"> May</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2007&month=4"> April</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2007&month=3"> March</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2007&month=2"> February</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2007&month=1"> January</a></li>	
                    
                     
                
            </ul></li>   
			
		
               
	
		
            <li><a id="archive-2006">2006</a>	
            <ul id="archive-2006-month" class="archive-month">            	
				
                
				
                         
                
                    	
                                
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2006&month=12"> December</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2006&month=11"> November</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2006&month=10"> October</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2006&month=9"> September</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2006&month=8"> August</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2006&month=7"> July</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2006&month=6"> June</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2006&month=5"> May</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2006&month=4"> April</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2006&month=3"> March</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2006&month=2"> February</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2006&month=1"> January</a></li>	
                    
                     
                
            </ul></li>   
			
		
               
	
		
            <li><a id="archive-2005">2005</a>	
            <ul id="archive-2005-month" class="archive-month">            	
				
                
				
                         
                
                    	
                                
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2005&month=12"> December</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2005&month=11"> November</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2005&month=10"> October</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2005&month=9"> September</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2005&month=8"> August</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2005&month=7"> July</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2005&month=6"> June</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2005&month=5"> May</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2005&month=4"> April</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2005&month=3"> March</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2005&month=2"> February</a></li>	
                    
                     
                
                    
						
                        <li><a href="/today/archives/index.cfm?fuseaction=date&year=2005&month=1"> January</a></li>	
                    
                     
                
            </ul></li>   
			
		
               
	
    
	
	
	</ul>

    </div>
</div> <!-- end col1 -->

