<div class="col2">   	  
    <div class="content-archives">
		
		<h1>Archived Stories</h1>
			
            	<!-- Search -->


<h2>Recent Stories</h2>


  
  

<table>
<tr>
	<th>Title</th>
	<th>Date</th>
</tr>

<tr>
	<td><a href="http://facilities.utsa.edu/current-announcements/">Devine Avenue parking lot closed part of this weekend</a></td>
	<td>02/01/17</td>
</tr>

<tr>
	<td><a href="https://utsa.givepulse.com/event/36531-Civic-Engagement-Summit-VOLUNTEERS-NEEDED">Volunteers needed for UTSA Civic Engagement Summit</a></td>
	<td>02/01/17</td>
</tr>

<tr>
	<td><a href="https://youtu.be/NWyKQxn4TAQ">volunteer fair</a></td>
	<td>02/01/17</td>
</tr>

<tr>
	<td><a href="http://www.newsweek.com/will-donald-trump-try-erode-digital-freedoms-544630#test">In the news: UTSA researcher discusses digital freedom of speech</a></td>
	<td>02/01/17</td>
</tr>

<tr>
	<td><a href="http://lib.utsa.edu/news/utsa-libraries-announces-two-new-grants-for-faculty">UTSA Libraries announces two new grants for faculty</a></td>
	<td>01/23/17</td>
</tr>

<tr>
	<td><a href="http://www.utsa.edu/Safety/#/recycling/news">UTSA goes green during Recyclemania 2017</a></td>
	<td>01/17/17</td>
</tr>

<tr>
	<td><a href="http://facilities.utsa.edu/facilities-establishes-a-facilities-service-center/">New facilities service center established at UTSA </a></td>
	<td>01/06/17</td>
</tr>

<tr>
	<td><a href="http://international.utsa.edu/news/winners-of-photo-contest-honored-during-international-education-week/">Winners of photo contest honored during International Education Week</a></td>
	<td>01/01/17</td>
</tr>

<tr>
	<td><a href="https://www.washingtonpost.com/lifestyle/style/the-traditional-way-of-reporting-on-a-president-is-dead-and-trumps-press-secretary-killed-it/2017/01/22">This is a test</a></td>
	<td>01/01/17</td>
</tr>

<tr>
	<td><a href="/today/2015/07/littlefield.html">Miss Fiesta Teen Queen Ashley Littlefield makes UTSA her home</a></td>
	<td>02/24/16</td>
</tr>

</table>
        
            
    </div>
</div> <!-- end col2 -->
