

  
  


<div class="row"><div class="col-sm-12">

  
    
    
    
      <div class="section group img2">
        <a ga-on="click" ga-event-category="todayClick" ga-event-label="include-marr" ga-event-action="http://www.utsa.edu/today/2017/05/ron-mckenzie.html" href="http://www.utsa.edu/today/2017/05/ron-mckenzie.html">
          <img width="100%" src="http://www.utsa.edu/today/images/mckenzie340.jpg" alt="Ron McKenzie '89 promotes the ultimate theme park experience" max-height="95%"/>
          <h3 class="PODheadlineblue">
              Ron McKenzie &#x27;89 promotes the ultimate theme park experience
          </h3>
        </a>
      </div>
    
  
 	

  
 	

  
 	

</div></div>

