<link rel="stylesheet" href="css/experts.css" />
<cfquery name="qryExpertDetail" datasource="weblinks-syntax">
	SELECT *
	FROM Experts
	WHERE ExpertID = #URL.EID#;
</cfquery>

<cfset myEID = #URL.EID#>