<cfoutput>
		<br>
		<table border="0" cellpadding="10">
		<tr>
		<!--- Display prev link --->
		<cfif start NOT EQUAL 1>
			<cfif start GTE disp>
				<cfset prev = disp>
				<cfset prevrec = start - disp>
		 	<cfelse>
				<cfset prev = start - 1>
				<cfset prevrec = 1>
		 	</cfif>
		 	<td><a href="/today/admin/ExpertsManager2/viewExperts.cfm?start=#prevrec#">&lt;&lt; Previous #prev# records</a></td>
		</cfif>
		<!--- Display next link --->
		<cfif end LT qryExperts.RecordCount>
			<cfif start + disp * 2 GTE qryExperts.RecordCount>
				<cfset next = qryExperts.RecordCount - start - disp + 1>
		  	<cfelse>
				<cfset next = disp>
			</cfif>
			<td><a href="/today/admin/ExpertsManager2/viewExperts.cfm?start=#Evaluate("start + disp")#">Next #next# records &gt;&gt;</a></td>
		</cfif>
	</table>
</cfoutput>