@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700|Bitter:400,700,400italic|Roboto:400,900,700italic,900italic);
/**  Basic Page CSS **/


h1{
  padding-top: 10px;

}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin: 0;
}


h1, h2, h3, h4, h5, h6 {
   font-family: "Roboto", sans-serif;
   font-weight: bold;
  padding-bottom: 6px;

}


.tagline{
  font-family: "Oxygen", sans-serif;
  padding-top: 5px;
  color: #fff;
  font-weight: bold;
}

#header{
  width: 100%;
  background: #0c2340;
  border-bottom: 3px solid #f15a22;
  padding: 7px 0;

}

.site-header{
  background-color: #000; color: #fff;
  height: 40%;
}

#topBranding{
  border-bottom: 3px solid #f15a22;
}

#logoSprite:hover{
  background-position: bottom;
}

.navbar-header a.navbar-brand {
	color: #fff;
	font-size: .7em;
	margin-top: 5px;
}

.navbar-default .navbar-brand:hover{
	color: #f15a22;
}

.error {
  color: #900;
  font-weight: bold;
}

@media (max-width: 600px) {
 .navbar-brand{
    display:none;
  }
}

/* override  bootstrap */
.navbar-default{
	background-color: #0c2340;
	border-color: #0c2340;
}
/* override  bootstrap */
.navbar {
	border-radius: 0;
	margin-bottom: 0;
}
/* override  bootstrap */
.navbar-nav > li > a {
    padding-bottom: 0;
    padding-top: 0;
}

#collapse ul.navbar-right > li > a:hover {
	color: #f15a22;
}

#collapse ul.navbar-right > li > a {
    padding: 5px 5px;
	color: #fff;
}

#logoSprite{
  float:left;
  display: inline-block;
  height: 29px;
  width: 100px;
  background-image: url("../img/fullLogoSprite.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: top;
  margin-top: 10px;
}

#collapse{
	font-size: .7em;
	margin-top:12px;
}

body{
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  font-size: 2em;
  position: relative;
}

#side-nav-container{
	/* background-color:#000; */
	margin-top:13px;
	padding-bottom:5px;
}

#footer {
  background: none repeat scroll 0 0 #0c2340;
  border-top: 3px solid #f15a22;
  width: 100%;
  color: white;
  font-size: .6em;
  padding: 10px 0 20px 0;
}

#footer a {
  color: #fff;
}

#footer a:hover{ color: #f15a22;}

#footerLinks, #socialLinks{
  padding-top: 5px;
  text-align:center;
}

#footer-row{
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

@media(max-width: 1806px){
  #footer-row{
    width: 80%;
  }
}

@media(min-width: 1218px and max-width: 1978px){
  #footer-row{
    width: 70%;
  }
}
