<cfif isDefined("url.sqlSort") is False>
	<cfset sqlSort = "ID">
</cfif>

<cfIf isDefined("url.sAscDesc") is False>
	<cfset sAscDesc = "desc">
</cfif>
<cfQuery name="SelectAllSpotlights" datasource="#Application.primaryDSN#">
SELECT * FROM Spotlight
ORDER BY #sqlSort# #sAscDesc#
</cfquery>
<h3>Current Database: <cfoutput>#Application.primaryDSN#</cfoutput></h3>
