
<!-- RUBEN -->



         <p><a class="jsOff_articleLink" href="/today/2016/08/RRDays819.html">UTSA Roadrunner Days Schedule: August 19-21</a><br />
            Thousands of students move in, get acquainted and kick back during a weekend full of events</p>




         <p><a class="jsOff_articleLink" href="/today/2016/08/movein.html">UTSA students move into campus housing Aug. 19-20</a><br />
            More than 4,300 students  will be on campus this weekend to celebrate a milestone</p>




         <p><a class="jsOff_articleLink" href="/today/2016/08/messagefromthepresident.html">A Message from UTSA President Ricardo Romo, August 2016</a><br />
            </p>




         <p><a class="jsOff_articleLink" href="/today/2016/08/facultyorientation.html">New UTSA professors engage in Orientation activities</a><br />
            UTSA continues to expand its world-class faculty</p>




         <p><a class="jsOff_articleLink" href="/today/2016/08/oitipass.html">UTSA's innovative iPASS program serves as a model for other institutions</a><br />
            Program aims to promote student success and improve access to advising</p>
