<!--<span class="utsaToday-SectionTitle">Did You Know?</span>
                  <h3 style="font-size: 1.3em; clear: both;">How many bytes in a Chameleon?</h3>
                  <div id="didYouKnowExpand">
                    <p>The UTSA Open Cloud Institute is taking a lead role in a five-institution partnership that promises to take cloud technology to new new heights. Funded by a $10 million National Science Foundation grant, the consortium is creating Chameleon, a cloud-computing testbed to research and experiment with new cloud architectures and applications. Researchers will use Chameleon to analyze data relating to machine learning, adaptive operating systems, climate simulations, flood prediction and other big data projects. Chameleon will consist of 650 cloud nodes and five petabytes of storage! </p>
                    <p><strong>Did you know?</strong>  A petabyte is a quadrillion bytes - more than four times all the data held by the U.S. Library of Congress.</p>
                  </div>
<a href="#" id="didYouKnowTrigger" style="color: #f15a22; text-transform: uppercase; font-size: 0.7em;"><strong>Read More &raquo;</strong></a>-->

<!--<span class="utsaToday-SectionTitle">Did You Know?</span>
                  <h3 style="font-size: 1.3em; clear: both;">UTSA researcher is looking for ways to cool a deadly disease</h3>
                  <div id="didYouKnowExpand">
                                       <p>Microbiology Professor Karl Klose may have found cholera's Achilles' heel. Klose and reseachers at Ruhr University in Bochum, Germany, discovered that the bacterium <em>Vibrio cholerae</em> senses a shift in temperature when it enters the human body. That higher temperature causes it to switch on virulence factors that lead to the disease. Klose found that interfering with the thermometer prevents the bacteria from causing cholera. In fact, when the organisms sense lower temperatures, they pass right through the body. The next step: determine how to disrupt the bacterium's thermometer and create a therapy against the disease.</p>
                    <p><strong>Did you know?</strong>  Cholera strikes up to five million people worldwide each year, resulting in up to 120,000 deaths. </p>
                  </div>
<a href="#" id="didYouKnowTrigger" style="color: #f15a22; text-transform: uppercase; font-size: 0.7em;"><strong>Read More &raquo;</strong></a>
<hr />-->

 

<!--<span class="utsaToday-SectionTitle">Did You Know?</span>
                  <h3 style="font-size: 1.3em; clear: both;">UTSA Libraries offer more than food for thought</h3>
                  <div id="didYouKnowExpand">
                  
                    <p>Are you in the mood for some Caf&eacute; de Olla, Receta Tradicional (spiced coffee) or Flan de Casta&ntilde;a (chestnut flan)? Check out the UTSA Libraries Special Collections, which includes many new &ndash; make that old &ndash; holiday recipes. The UTSA Mexican Cookbook Collection includes more than 1,500 cookbooks in English and Spanish featuring the cuisine of Mexico, Texas and the Southwest, with rare volumes dating back to 1789. Recipes from the collection are posted weekly on the <a href="http://lacocinahistorica.wordpress.com/">La Cocina Historica</a>, a blog published by Special Collections celebrating and showcasing Mexican cuisine and culinary history.</p>
                    <p><strong>Did you know?</strong>  The UTSA Mexican Cookbook Collection is one of the largest and most extensive Mexican cookery collections in the United States.</p>
                  </div>
<a href="#" id="didYouKnowTrigger" style="color: #f15a22; text-transform: uppercase; font-size: 0.7em;"><strong>Read More &raquo;</strong></a>
<hr />-->


<!--<span class="utsaToday-SectionTitle">Did You Know?</span>
                  <h3 style="font-size: 1.3em; clear: both;">For UTSA researchers, history means business</h3>
                  <div id="didYouKnowExpand">
                  
                    <p>San Antonio's cultural heritage is at the heart of the city's multibillion-dollar hospitality industry. Now that its Spanish missions are a World Heritage Site, the city can expect more interest and more visitors. This makes it necessary to plan future marketing and promotion strategies for all of San Antonio's heritage sites.</p>
                    <p>The UTSA Center for Cultural Sustainability, part of the College of Architecture, Construction and Planning, is helping the city do just that. UTSA researchers will inventory the city's historic sites, evaluate their condition and determine their potential impact on tourism. The "State of San Antonio Heritage Resources" will be the first academic evaluation of a major U.S. city's heritage resources on such a grand scale. The research will help the city retain its status as a top tourist destination.</p>
                    <p><strong>Did you know?</strong>  San Antonio attracts 30 million visitors each year.</p>
                  </div>
<a href="#" id="didYouKnowTrigger" style="color: #f15a22; text-transform: uppercase; font-size: 0.7em;"><strong>Read More &raquo;</strong></a>
<hr />-->


<!--<span class="utsaToday-SectionTitle">Did You Know?</span>
                  <h3 style="font-size: 1.3em; clear: both;">UTSA researcher is a star behind the cloud</h3>
                  <div id="didYouKnowExpand">
                  
                    <p>A revolution in cloud computing is underway, and Ravi Sandhu believes it will be much bigger than the PC and Internet revolutions that have already changed the way we live. Sandhu, director of the UTSA Institute for Cyber Security, says UTSA is taking a leadership role in tackling three fundamental cloud technology problems: how to build and operate the cloud, how to use it profitably for diverse applications and how to keep it secure.</p>
                    <p>
Sandhu, the Lutcher Brown Distinguished Chair in Cyber Security in the College of Sciences, and Ram Krishnan, assistant professor of electrical engineering in the UTSA College of Engineering, are funded by a $500,000 grant from the National Science Foundation to improve cloud security. 
</p>
                    <p><strong>Did you know?</strong>  Sandhu, a world-renowned cybersecurity expert, holds 30 patents, has authored more than 250 papers and been cited more than 30,000 times. </p>
                  </div>
<a href="#" id="didYouKnowTrigger" style="color: #f15a22; text-transform: uppercase; font-size: 0.7em;"><strong>Read More &raquo;</strong></a>
<hr />-->


<!--<span class="utsaToday-SectionTitle">Did You Know?</span>
                  <h3 style="font-size: 1.3em; clear: both;">Sometimes you have to see the little picture</h3>
                  <div id="didYouKnowExpand">
                  
                    <p>UTSA researchers are exploring matter at the atomic level with Helenita. It's one of the most powerful microscopes in the world, with the ability to operate near the theoretical limit of resolution. At 9 feet, 2 inches tall and weighing more than two tons, Helenita can dissect almost anything. With Helenita's resolution, researchers can study particles atom by atom to see how they behave.</p>
                    <p>That's critical in developing nanotechnology that will help diagnosis early-stage breast cancer or make helmets that are uber strong. Moreover, the detail that Helenita provides will allow nanotechnology researchers to create new therapies and treatments to fight a wide range of human diseases.</p>
                    <p><strong>Did you know?</strong>  Helenita can magnify a sample 20 million times its size, which would make a strand of human hair the size of San Antonio.</p>
                  </div>
<a href="#" id="didYouKnowTrigger" style="color: #f15a22; text-transform: uppercase; font-size: 0.7em;"><strong>Read More &raquo;</strong></a>
<hr />
-->

<!--<span class="utsaToday-SectionTitle">Did You Know?</span>
                  <h3 style="font-size: 1.3em; clear: both;">For acclaimed UTSA writer, poetry rhymes with life</h3>
                  <div id="didYouKnowExpand">
                  
                    <p>Robert Penn Warren said: &ldquo;How do poems grow? They grow out of your life.&rdquo; That is certainly true for Carmen Tafolla. An associate professor of practice with the UTSA College of Education and Human Development, Tafolla has authored more than 20 acclaimed books of poetry and prose, including "The Holy Tortilla and a Pot of Beans." It won the Tom&acute;s Rivera Children&rsquo;s Book Award in 2009.</p>
                    <p>Tafolla is a San Antonio native who grew up on the West Side. Attending a private high school, she realized that the literature did not positively portray her community or the people who lived there. She determined to change that in her writing. In published works for both adults and children &mdash; more than 200 anthologies, magazines, journals, textbooks and readers in four languages &mdash; Tafolla reflects on the rich Mexican-American culture of San Antonio in which she grew up. </p>
                    <p><strong>Did you know?</strong>  Tafolla was San Antonio's first Poet Laureate, from 2012 to 2014, and currently serves as the Poet Laureate of Texas. </p>
                  </div>
<a href="#" id="didYouKnowTrigger" style="color: #f15a22; text-transform: uppercase; font-size: 0.7em;"><strong>Read More &raquo;</strong></a>
<hr />-->


<!--<span class="utsaToday-SectionTitle">Did You Know?</span>
                  <h3 style="font-size: 1.3em; clear: both;">UTSA biology professor focuses on vision in the classroom and the lab</h3>
                  <div id="didYouKnowExpand">
                  
                    <p>For more than 30 years, UTSA biology professor Andrew Tsin has studied the biochemical and cellular events that give rise to both normal eyesight and diseases in the eye. Tsin wants to better understand how retinal damage is caused by diabetes and age. This year, he was named a Gold Fellow of the Association for Research in Vision and Ophthalmology for his work.</p>
                    <p>In the classroom, Tsin's role as a teacher involves another kind of vision. He has mentored more than 130 students during his UTSA career. In 2011, he earned the Presidential Award for Excellence in Science, Engineering and Mathematics Mentoring. The award, given to Tsin at the White House, recognizes the importance of mentoring in the development of science and engineering students, particularly those who belong to groups that are underrepresented in the STEM fields. Tsin is also the recipient of the American Association for the Advancement of Science's Mentor Award for Lifetime Achievement.</p>
                    <p><strong>Did you know?</strong>  Tsin has helped UTSA obtain more than $68 million in grant funding to establish programs for minority students.</p>
                  </div>
<a href="#" id="didYouKnowTrigger" style="color: #f15a22; text-transform: uppercase; font-size: 0.7em;"><strong>Read More &raquo;</strong></a>
<hr />-->

<!--<span class="utsaToday-SectionTitle">Did You Know?</span>
                  <h3 style="font-size: 1.3em; clear: both;">UTSA makes the grade with a strong core curriculum</h3>
                  <div id="didYouKnowExpand">
                  
                    <p>Robots have come a long way from the pages of science fiction, but they haven't completely arrived yet. However, the gap is closing fast and that's exciting. Walking is a mundane task for people, but legged robots are still struggling to match human grace, speed and efficiency. UTSA mechanical engineering professor Pranav Bhounsule is trying to change that.</p>
                    <p>Bhounsule's research focuses on the motion control of legged robots. For his Ph.D. thesis, he developed an energy-efficient bipedal robot that walked 40 miles without stopping or recharging.  The energy for that walk cost a paltry six cents, but the pace of 1.1 mph was very slow by human standards. Bhounsule hopes to develop better legged machines using novel designs and advanced control algorithms. Making robots adept at mobility will speed up their use in society – from service robots in homes to fast responders in emergency situations. </p>
                    <p><strong>Did you know?</strong>  As a postdoctoral researcher, Bhounsule worked on Disney's theme-park robots, known by their trademark name of Audio-AnimatronicsTM figures. He developed control algorithms that would enable them to draw, paint and serve drinks to guests.</p>
                  </div>
<a href="#" id="didYouKnowTrigger" style="color: #f15a22; text-transform: uppercase; font-size: 0.7em;"><strong>Read More &raquo;</strong></a>
<hr />-->

<!--<span class="utsaToday-SectionTitle">Did You Know?</span>
                  <h3 style="font-size: 1.3em; clear: both;">UTSA's first class of biomedical engineering undergrads achieves top-tier graduation rate</h3>
                  <div id="didYouKnowExpand">
                  
                    <p>Last spring, UTSA graduated its first class of undergraduate biomedical engineering students. The success of this inaugural class reflected the growing number of research and educational opportunities offered by the College of Engineering. But that's not all. These students played an important role in UTSA's community outreach efforts, and their influence will be felt for years to come.</p>
                    <p>UTSA's biomed students were active outside the classroom as UTSA Ambassadors, Engineering Ambassadors and members of the UTSA Presidential Leadership Council. As graduates, they will be a vital part of the biomedical engineering industry, working in hospitals, government agencies, research laboratories and academia. And, as contributors to the San Antonio economy, expect them to put up some amazing numbers – just as they did as undergraduates. </p>
                    <p><strong>Did you know?</strong>  20 of the 25 students who began in the 2011 inaugural class completed the program, for an 80 percent graduation rate and an average class G.P.A. of 3.53. </p>
                  </div>
<a href="#" id="didYouKnowTrigger" style="color: #f15a22; text-transform: uppercase; font-size: 0.7em;"><strong>Read More &raquo;</strong></a>
<hr />-->

<!--<span class="utsaToday-SectionTitle">Did You Know?</span>
                  <h3 style="font-size: 1.3em; clear: both;">Highly published UTSA researcher has chemistry with his peers</h3>
                  <div id="didYouKnowExpand">
                  
                    <p>When UTSA chemistry professor Banglin Chen talks, the research world listens. Last year, Chen was named among the world's Highly Cited Researchers by Thomson Reuters. It wasn't the first time he was recognized by the distinguished publication. In 2011, he ranked No. 15 on its Top Chemists of the Past Decade list.</p>
                    <p>Chen, who joined UTSA in 2009, studies solid-state nanoporous metal-organic frameworks, hydrogen-bonded organic frameworks and nanoparticles. His discoveries have led to applications in gas storage, gas separation, sensors, catalysis, photonics and electronics. He holds eleven U.S. patents. </p>
                    <p>Thompson Reuters ranked Chen as one of the 198 most cited chemists in the world. His work has been published in <em>Science</em>, <em>Nature Communications</em>, <em>the Journal of the American Chemical Society</em>,  <em>Angewandte Chemie International Edition</em>, <em>Chemical Reviews</em>, <em>Accounts of Chemical Research</em>, <em>Chemical Society Review</em>, <em>Advanced Materials, Energy & Environmental Science</em>, and other top chemistry and materials magazines.</p>
                    
                    <p><strong>Did you know?</strong>  Chen has authored more than 185 peer-reviewed papers and his work has been cited more than 20,000 times.</p>
                  </div>
<a href="#" id="didYouKnowTrigger" style="color: #f15a22; text-transform: uppercase; font-size: 0.7em;"><strong>Read More &raquo;</strong></a>
<hr />-->

<!--<span class="utsaToday-SectionTitle">Did You Know?</span>
                  <h3 style="font-size: 1.3em; clear: both;">UTSA: the perfect partner for Military City USA</h3>
                  <div id="didYouKnowExpand">
                  
                    <p>There's a reason why San Antonio is known as Military City USA. It's had a consistent military presence for almost 300 years and supports one of the largest active and retired military populations in the country. When it comes to educating San Antonio's military community, UTSA is a force of its own.</p>
                    <p>About 10 percent of UTSA's population, some 3,000 students, make up our military community of veterans, active-duty military personnel and their dependents. UTSA supports these students financially and through a host of social and academic programs that promote achievement and success. </p>
                    <p>UTSA has been designated as one of the nation's top Military Friendly Schools five times by Victory Media and recognized by the Military Times as a Best for Vets school. UTSA is the only four-year institution in the country whose VetSuccess on Campus Program has two full-time Department of Veteran Affairs' vocational rehabilitation counselors. They work in collaboration with the Veteran Services Advisory Committee, the Veteran Certification office and the Student Veteran Association to ensure successful outcomes for UTSA's military community.</p>
                    
                    <p><strong>Did you know?</strong>  The Department of the Army presented UTSA President Ricardo Romo with its Outstanding Civilian Service medal last year, recognizing contributions of significance to a major Army command. It's the third highest honor that a civilian can receive from the U.S. Army. </p>
                  </div>
<a href="#" id="didYouKnowTrigger" style="color: #f15a22; text-transform: uppercase; font-size: 0.7em;"><strong>Read More &raquo;</strong></a>
<hr />-->

<!--<span class="utsaToday-SectionTitle">Did You Know?</span>
                  <h3 style="font-size: 1.3em; clear: both;">UTSA makes the grade with a strong core curriculum</h3>
                  <div id="didYouKnowExpand">
                  
                    <p>UTSA prides itself on giving students a well-rounded education. Combining a top-tier academic program with opportunities for personal growth prepares students to compete in a global economy. And that's not all. They learn to be informed and engaged citizens as well. At the heart of that academic program is an award-winning core curriculum.</p>
                    <p>For four consecutive years, UTSA has received an A-rating from the American Council of Trustees and Alumni for the caliber of its core curriculum. According to ACTA, UTSA requires its students to take six of the seven courses deemed "crucial" to a well-rounded education: composition, literature, U.S. government or history, economics, mathematics and science. Only a handful of other institutions in the U.S. are giving students these tools, which are needed to succeed in careers and the community.</p>
                    
                    <p><strong>Did you know?</strong>  UTSA is one of only three Texas institutions and 23 in the United States to receive the highest rating for its core curriculum in the 2014-2015 edition of the ACTA's "What Will They Learn?" report. </p>
                  </div>
<a href="#" id="didYouKnowTrigger" style="color: #f15a22; text-transform: uppercase; font-size: 0.7em;"><strong>Read More &raquo;</strong></a>
<hr />-->
<!--
<span class="utsaToday-SectionTitle">Did You Know?</span>
                  <h3 style="font-size: 1.3em; clear: both;">Football standouts make Roadrunner history</h3>
                  <div id="didYouKnowExpand">
                  
                    <p>For Ashaad Mabry and Triston Wade, football is not just a passing fancy. Both players were part of the UTSA football program almost from the beginning. When UTSA opens the 2015 season Thursday at Arizona, it will be the first time the Roadrunners take the field without them. But Mabry and Wade will still be playing football; their uniforms will just be a different color.</p>
                    <p>Mabry, a defensive tackle from San Antonio's MacArthur High School, was an honorable mention All-Conference USA selection his final two seasons as a Roadrunner and second among the team's defensive linemen with 49 tackles last year. Wade, a defensive back from Tyler, was the most decorated player in school history. He was a semifinalist for the 2014 Jim Thorpe Award – for the nation's top defensive back – a three-time all-conference honoree and two-year team captain who set a school record of 293 tackles in his career. Both men had outstanding college careers that allowed them to make UTSA history.</p>
                    
                    <p><strong>Did you know?</strong>  Mabry and Wade both agreed to terms as undrafted free agents with the New Orleans Saints and Seattle Seahawks, respectively, becoming the first UTSA players to move to the professional ranks.</p>
                  </div>
<a href="#" id="didYouKnowTrigger" style="color: #f15a22; text-transform: uppercase; font-size: 0.7em;"><strong>Read More &raquo;</strong></a>
<hr />-->

<span class="utsaToday-SectionTitle">Did You Know?</span>
                  <h3 style="font-size: 1.3em; clear: both;">UTSA writes the book on all-digital libraries</h3>
                  <div id="didYouKnowExpand">
                  
                    <p>As touch screens and e-books demand more and more attention from both casual readers and scholars, many people say the handwriting is on the wall for the printed page.</p>
                    <p>At UTSA, the handwriting is on the wall for a library that doesn't have any printed books.</p>
                    <p>Since March 2010, the bookless library in the Applied Engineering and Technology Building has given UTSA students an innovative way to read, research and work with each other to solve problems.</p>
                    <p>With ultra-modern furniture and a d&eacute;cor featuring desktop computers, scanners and LCD screens, the AET Library is designed to engage students in an online format. But it also offers group study niches and study rooms with whiteboards and glass walls on which students can write. The space encourages teamwork, communications and problem solving for the next generation of scientists and professional engineers.</p>
                    <p><strong>Did you know?</strong>  The UTSA AET Library is the nation's first completely bookless library on a college or university campus. It served as a model for Bexar County's first-in-the-nation public bookless library system and one of its branches, the Dr. Ricardo Romo BiblioTech.</p>
                  </div>
<a href="#" id="didYouKnowTrigger" style="color: #f15a22; text-transform: uppercase; font-size: 0.7em;"><strong>Read More &raquo;</strong></a>

