<style type="text/css">
<!--
.style1 {font-size: small}
.style2 {color: #FF6600}
.style3 {color: #FFFFFF}
-->
</style>
<style type="text/css">
	a.footer-logo {display:none;}
</style>
<div id="footer"><div id="footerWrapper">
	
    <div class="footerCol">
    
	<h1>News links</h1>
    <ul>
	<li><a href="http://news.google.com/news?hl=en&edition=us&ie=UTF-8&q=%22UTSA%22+OR+%22University+of+Texas+at+San+Antonio%22+OR+%22Institute+of+Texan+Cultures%22&scoring=d">UTSA in the News</a> (Google News)</li>
	<li><a href="http://www.utsystem.edu/news/">University of Texas System News</a></li>
    <li><a href="http://abcnews.go.com/">ABC News</a></li>
	<li><a href="http://news.bbc.co.uk/">BBC News</a></li>
    <li><a href="http://www.cnn.com">CNN</a></li>
    <li><a href="http://www.laprensasa.com/1_inicio/index.html">La Prensa</a></li>
    <li><a href="http://www.nytimes.com/" title="New York Times">New York Times</a></li>
    <li><a href="http://newslink.org">Newslink</a></li>
    <li><a href="http://www.paisano-online.com/">The Paisano</a></li>
    <li><a href="http://www.bizjournals.com/sanantonio/" title="San Antonio Business Journal home page">San Antonio Business Journal</a></li>
    <li><a href="http://www.sacurrent.com">San Antonio Current</a></li>
    <li><a href="http://www.mysanantonio.com/news" title="San Antonio Express-News">mySA News</a></li>
    <li><a href="http://www.therivardreport.com" title="The Rivard Report">The Rivard Report</a></li> 
	<li><a href="http://www.texastribune.org/">Texas Tribune</a></li>
    <li><a href="http://www.usatoday.com/">USA Today</a></li>
    <li><a href="http://news.yahoo.com/top-stories">Yahoo! News Top Stories</a></li>
    </ul>
    </div>
    
    <div class="footerCol2">
    
   
    <h1>Office of University Communications and Marketing</h1>
    <p>UTSA Today is the official news source of The University of Texas at San Antonio.</p>
    <p>The Office of University Communications and Marketing is the official  source of news and information for The University of Texas at San  Antonio, providing services in media relations, internal communications,  publications, social media, marketing, photography and videography.</p>
    
      <p>As The University of Texas at San Antonio progresses toward Tier  One ranking as a research institution, the Office of University  Communications and Marketing promotes awareness, understanding and  support of the university's mission to advance knowledge through  research and discovery, teaching and learning, community engagement and  public service.</p>
      <p>The Office of University Communications and Marketing is a  component of the UTSA Office of the Vice President for External  Relations, which also includes the Development Office, Advancement  Services and Katz Alumni Center.</p>
    
    <p>&nbsp;</p>
    
     </div>
   
    
    <div class="footerColLast">
   
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      
      <p>Communications services:</p>
      
        <p>Relations with print, broadcast and online journalists</p>
        <p>Campus news for students, faculty, staff, alumni, prospective students and their parents, and the community</p>
        <p>Publication of university magazines</lp>


      <p>&nbsp;</p>
      <p>Marketing services:</p>

        <p>Design</p>
        <p>Branding</p>
        <p>Advertising</p>
        <p>Photography and videography</p>
    
        
      <p>&nbsp;</p>
   
    </div>
	<div class="floatClear"></div>
		<hr style="color: #f47321; margin-top:15px;"/>
		<!--#include virtual="/inc/master/footerWrap.html" -->
        <!-- add by Ruben O. on 10-5-2010 -->
      	<!--<div id="orange-border"></div>
		-->
       <!--</div>-->
       <!--<div id="logo1" style="float:right">
           <a class="footer-logo" href="/" style="float:right;">UTSA</a>
       </div>-->   
       <div style="float:right">
           <a class="footer-logo2" href="/" style="float:right; margin-top: -14px;">UTSA</a>
       </div>   
	</div><!-- end copyright -->


       <!--   <p class="footer-copyright style1 style3">&copy; The University of Texas at San Antonio</a> | One UTSA Circle, San Antonio TX 78249 | Information: 210-458-4011 | UTSA Police: 210-458-4911</p>-->
     </div>        
    <!-- </div>-->
<!--
</div>
</div>-->