
<div id="topBar">
  <div id="topBarWrapper"> 
    <!--<a href="http://utsa.edu" target="_blank"><img src="/today/img/utsa_mark.png" alt="" border="0"/>&nbsp;The University of Texas at San Antonio</a>-->
    <div class="logo floatLeft"><a href="/"><img src="/today/img/ic-utsaMark-solid-20x60.png" alt="UTSA" border="0"/> The University of Texas at San Antonio</a></div>
    <div class="links floatRight">
      <ul>
      <li><a href="/utshare/">UTShare</a></li>
        <li><a href="/">UTSA home</a></li>
        <li><a href="http://my.utsa.edu/">myUTSA</a></li>
        <li><a href="/info/index.html">Info For</a></li>
        <li><a href="/about/campuses/">Locations</a></li>
        <li><a href="/directory/">Directory</a></li>
        <li><a href="/calendar/">Calendar</a></li>
        <li><a href="/about/">About UTSA</a></li>
      </ul>
    </div>
    <div class="floatClear"></div>
  </div>
</div>
