<div class="section group" style="background-color: #eee; padding: 1em 0;">  
	<div class="internalContainer clearfix">
        <div class="col span_8_of_12">
              <h3>UTSA's Mission</h3>
              <p>The University of Texas at San Antonio is dedicated to the advancement of knowledge through research and discovery, teaching and learning, community engagement and public service.  As an institution of access and excellence, UTSA embraces multicultural traditions and serves as a center for intellectual and creative resources as well as a catalyst for socioeconomic development and the commercialization of intellectual property - for Texas, the nation and the world.</p>
              <h3>UTSA's Vision</h3>
              <p>To be a premier public research university, providing access to educational excellence and preparing citizen leaders for the global environment.</p>
              <h3>UTSA's Core Values</h3>
              <p>We encourage an environment of dialogue and discovery, where integrity, excellence, inclusiveness, respect, collaboration and innovation are fostered.</p>
        </div>
        <div class="col span_4_of_12">
            <h3>Connect with UTSA News</h3>
            <a href="https://www.facebook.com/utsa"><img src="/today/img/social-icons/facebook.png" width="35"/></a>&nbsp;
            <a href="https://twitter.com/utsa"><img src="/today/img/social-icons/twitter.png" width="35"/></a>&nbsp;
            <a href="http://instagram.com/utsa"><img src="/today/img/social-icons/instagram.png" width="35"/></a>&nbsp;
               <a href="https://www.linkedin.com/edu/the-university-of-texas-at-san-antonio-19521"><img src="/today/img/social-icons/linkedin.png" width="35"/></a>&nbsp;
            <a href="http://www.youtube.com/user/utsa"><img src="/today/img/social-icons/youtube.png" width="35"/></a>
         
            <br /><br /><br />
            <h3>Related Links</h3>
            <ul class="custBulletList">                
                <li><a href="/sombrilla">Sombrilla Magazine</a></li>
                <li><a href="http://giving.utsa.edu/spring2015">UTSA Giving</a></li>
                <li><a href="/roadrunners">Meet a Roadrunner</a></li>
                <li><a href="/experts">Expert Source Guide</a></li>
            </ul>
        </div>
</div>