







    
     

    
        
			
         	
           
			
         	
           
			
                
                

                
                
                
                    <div class="section group">
                        <img src="http://www.utsa.edu/today/images/penamarin.jpg" alt="" width="297" />
                        <h3 style="font-size: 0.95em;"><a href="http://www.utsa.edu/today/2016/08/jorgepenamarin.html">Jorge Pena-Marin is a tennis pro turned top-tier researcher</a></h3>
                        <p>UTSA Ph.D. candidate found his true calling in higher education after career-ending injury</p>
                    </div>
                

            
         	
           
    


