<form id="cse-search-box" action="/today/searchresults.html">
  <input type="hidden" name="cx" value="000238266656426684962:z1bmoync9ei">
  <input type="hidden" name="cof" value="FORID:10">
  <input type="hidden" name="ie" value="UTF-8">
  <input class="google-search" type="text" name="q" value="Search" onfocus="if
(this.value==this.defaultValue) this.value='';" onblur="if(this.value==='') this.value='Search';" id="todaySearch">
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">google.load("elements", "1", {packages: "transliteration"});</script><script src="http://www.google.com/uds/?file=elements&amp;v=1&amp;packages=transliteration" type="text/javascript"></script><link href="http://www.google.com/uds/api/elements/1.0/eba16861df9ab13b86abad98f01667ef/transliteration.css" type="text/css" rel="stylesheet"><script src="http://www.google.com/uds/api/elements/1.0/eba16861df9ab13b86abad98f01667ef/transliteration.I.js" type="text/javascript"></script>
  <script type="text/javascript" src="http://www.google.com/coop/cse/t13n?form=cse-search-box&amp;t13n_langs=en"></script>
  <!--<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&lang=en"></script>-->
  <!--  <input type="text" />
  <input type="submit" value="go" style="background:none; color:#fff; cursor:pointer;"/>-->
  <!--<li class="today-day">Wednesday - November 3, 1969</li>-->
  <input name="siteurl" type="hidden" value="http://www.utsa.edu/today/">
</form>
