<!--
<div class="section group"> <span class="utsaToday-SectionTitle">2015 Year in Review</span>
  <div class="section group"> <a href="/yearinreview"><img src="/today/img/2015yearinreviewbox.png" alt="" width="297" height="168" /> </a>
    <p>2015 was a significant year for UTSA. As the university moved forward on the road to Tier One research, designations and recruitment of high caliber faculty and students, it also completed its first ever capital campaign. <a href="/yearinreview">Read about UTSA's accomplishments in the 2015 Year in Review</a> as we look forward to what the next year will bring. </p>
  </div>
</div>
-->
