 <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
      <link rel="stylesheet" type="text/css" href="/_inc/css/global-style.css" />
      <link rel="stylesheet" type="text/css" href="/_inc/css/internal-style.css" />
      <!--[if lt IE 9]>
      <script src="/_inc/js/selectivizr-min.js"></script>
      <link rel="stylesheet" type="text/css" href="/_inc/css/ie8-fixes.css" />
      <![endif]-->
      <!--Glyphicons-->
      <link rel="stylesheet" href="/_inc/css/glyphicons.css" />
      <!--Fonts-->
      <script src="//use.typekit.net/uzw2huo.js"></script>
      <script>try{Typekit.load();}catch(e){}</script>
      <!--scripts-->
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="/_inc/js/vendor/modernizr.custom.71422.js"></script>
      <script src="/_inc/js/respond.min.js"></script>
      
      <style>
      .utsaToday-Logo{margin-top: 1.4em;}
      
      .utsaToday-date{float: right; font-weight: 500;}
      .utsaToday-date em{color: #0C2340;}

      .utsaToday-MainMenu .span_7_of_12, .utsaToday-MainMenu .span_5_of_12{margin-top: 0; margin-bottom: 0; line-height: 0;}
      .utsaToday-MainMenu{background: #0C2340; margin-bottom: 2.5em;}
      .utsaToday-MainMenu ul{margin: 0;}
      .utsaToday-MainMenu ul li{display: inline-block; border-right: 1px solid #072D5E; padding: 0.5em 0.6em;}
      .utsaToday-MainMenu ul li:hover{background: #0D3466;}
      .utsaToday-MainMenu ul li a{color: #ffffff; display: inline;}


      h3{color: #000000; font-size: 1em; margin-bottom: 0.3em;} /*Overriding*/
      h3 a{color: #f15a22;}
      p{font-size: 0.95em;} /*Overriding*/

      /*events*/
      .event-item {margin-bottom:5px;}
      .event-date {float:left; width:100%; margin: 0 0 0.3em 0; color: #f15a22; font-weight: bold; font-size: 14px;}
      .event-date span.month {}
      .event-date span.day {}
      .event-name {float:left; width:100%;}
      .event-name a {color:#002a5c; border-bottom:1px solid #f47321;}
      .event-name a:hover {color:#f47321;}
      .event-name p {margin-bottom:10px; }

      #didYouKnowExpand{
      display: none;
      float: left;
      }

    .utsaToday-SectionTitle{float: left; display: inline; font-weight:400; text-align: center; color: #ffffff; font-size: 0.95em; background: #f15a22; padding: 0.3em 1.5em; margin-bottom: 1.5em;}
    #todaySearch{float: right; padding: 3px 5px; margin: 6px 4px 6px 0;}

      @media screen and (max-width: 767px){
        .twoColumnRight .span_8_of_12{width: 100%;}
        .twoColumnRight .span_4_of_12{width: 100%; margin-left: 0;}

        /*today menu*/
        .utsaToday-MainMenu{overflow: hidden;}
        .utsaToday-MainMenu .span_7_of_12, .utsaToday-MainMenu .span_5_of_12{width: 100%;}
        .utsaToday-MainMenu .span_7_of_12 ul li{width: 100%; padding: 0.5em 0; border-bottom: 1px solid #3D3D3D;}
        .utsaToday-MainMenu .span_7_of_12 ul li:hover{background: none;}
        .utsaToday-MainMenu .span_7_of_12 ul li a{padding-left: 0.8em;}

        .utsaToday-MainMenu .span_5_of_12{margin-left: 0;}
        .utsaToday-MainMenu .span_5_of_12 #todaySearch{display: block; padding: 0.6em 0; margin: 0; text-indent: 15px; width: 100%; -webkit-box-sizing : border-box;‌​ -moz-box-sizing : border-box; box-sizing : border-box;
        }
      }
	  
	   .img-right img, .img-left img {border:5px solid #ddd; margin-bottom:9px;}
	
		 .img-right{
			width:300px;
			margin: 10px 0px 10px 20px;
			float:right;
		  }
	
		  .img-left{
			  width:300px;
			  margin: 10px 30px 10px 0px;
			  float:left;
		  }
	
		.img-caption {
			width:300px;
			font-size:11px;
			color:#333;
			font-style:italic;
			padding-top:8px;
			padding-bottom:10px;
			border-bottom:1px solid #aaa;
		}
      </style>
</head>

<body>

      <!-- start global header -->
            <!--#include virtual="/_inc/global-sm-header.html"-->
      <!-- end global header -->

      <!--start whiteContainer-->
      <div class="whiteContainer">
        <div class="internalContainer clearfix">
          
          <div class="section group">
            <div class="col span_8_of_12 utsaToday-Logo">
              <a href="/today"><img src="/today/img/utsaTodayLogo.jpg" alt="UTSA Today" /></a>
            </div>
            <div class="col span_4_of_12">
              <p class="utsaToday-date">today is <em>Friday, March 15, 2015</em></p>
              <nav id="departmentalSocialNav" style="margin-top: 0;">
                <a href="https://www.facebook.com/utsa"><img src="/_inc/img/socialIcons/facebook-gray.png" alt="Facebook" /></a>
                <a href="https://twitter.com/utsa"><img src="/_inc/img/socialIcons/twitter-gray.png" alt="Twitter" /></a>
                <a href="https://www.youtube.com/user/utsa"><img src="/_inc/img/socialIcons/youtube-gray.png" alt="Youtube" /></a>
                <a href="https://www.linkedin.com/edu/the-university-of-texas-at-san-antonio-19521"><img src="/_inc/img/socialIcons/linkedin-gray.png" alt="LinkedIn" /></a>
                <a href="https://instagram.com/utsa/"><img src="/_inc/img/socialIcons/instagram-gray.png" alt="Instagram" /></a>
              </nav>
            </div>
          </div>


          <div class="section group clearfix utsaToday-MainMenu">
            <div class="col span_7_of_12">
              <ul>
                <li><a href="/today">Home</a></li><li><a href="http://www.utsa.edu/ucm/">Communications and Marketing</a></li><li><a href="/today/archives/">Archive</a></li><li><a href="/">UTSA Home</a></li>
              </ul>
            </div>
            <div class="col span_5_of_12">
              <form id="cse-search-box" action="http://www.utsa.edu/today/search/">
                <input type="hidden" name="cx" value="000238266656426684962:z1bmoync9ei">
                <input type="hidden" name="cof" value="FORID:10">
                <input type="hidden" name="ie" value="UTF-8">
                <input class="google-search" type="text" name="q" value="Search" onFocus="if
        (this.value==this.defaultValue) this.value='';" onBlur="if(this.value==='') this.value='Search';" id="todaySearch">
                <script type="text/javascript" src="http://www.google.com/jsapi"></script>
                <script type="text/javascript">google.load("elements", "1", {packages: "transliteration"});</script><script src="http://www.google.com/uds/?file=elements&amp;v=1&amp;packages=transliteration" type="text/javascript"></script><link href="http://www.google.com/uds/api/elements/1.0/eba16861df9ab13b86abad98f01667ef/transliteration.css" type="text/css" rel="stylesheet"><script src="http://www.google.com/uds/api/elements/1.0/eba16861df9ab13b86abad98f01667ef/transliteration.I.js" type="text/javascript"></script>
                <script type="text/javascript" src="http://www.google.com/coop/cse/t13n?form=cse-search-box&amp;t13n_langs=en"></script>
                <!--<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&lang=en"></script>-->
                <!--  <input type="text" />
                <input type="submit" value="go" style="background:none; color:#fff; cursor:pointer;"/>-->
                <!--<li class="today-day">Wednesday - November 3, 1969</li>-->
                <input name="siteurl" type="hidden" value="http://www.utsa.edu/today/">
              </form>
            </div>
          </div>
          
          <div class="section group">
            <div class="col span_9_of_12">