            </div>

            <div class="col span_3_of_12 nocontent">
           		 <!--#include virtual="/today/inc/story-sidebar.html"-->
        	</div>
      	</div>
      </div>
    </div>
      <!--end whiteContainer-->

		<!--start internal footer-->
        <!--#include virtual="/today/inc/internal-footer.html"-->
        <!-- end internal footer -->
       </div>

      <!--start global footer-->
      <!--#include virtual="/_inc/global-footer.html"-->
      <!--end global footer-->

       <script>
      $(document).ready(function(){
         $("#didYouKnowTrigger").click(function(e){
            e.preventDefault();
            e.stopPropagation();

            if(!$('#didYouKnowExpand').hasClass('active'))
            {
              $('#didYouKnowExpand').slideDown('fast').addClass('active');
              $('#didYouKnowTrigger').html('<strong>Read Less &raquo;</strong>');
            }
            else
            {
              $('#didYouKnowExpand').slideUp('fast').removeClass('active');
              $('#didYouKnowTrigger').html('<strong>Read More &raquo;</strong>');
            }
         });
      });
      </script>
      <script>
      $(document).ready(function(){
        $("#departmentalMobileMenuTrigger").on("click", function(){
          $("#departmentalMobileMenuExpand").slideToggle("fast");
        });
      });
      </script>

</body>
</html>
