<div class="nocontent" style="background: #F2F2F2; padding: 1em 1em;">


    <!--#include virtual="/inc/home/events.html"-->
    <p class="submitEvents"><a class="floatR" href="/today/intake/view.cfm?page=intake-event">Submit an Event</a></p>
    <hr />
    <!--
    <h2 class="utsaToday-SectionTitle">Meet a Roadrunner</h2>
  -->
    <!-- include virtual="/today/inc/meetarr.html"-->

   	<div class="section group">
                  <!--#include virtual="/today/inc/side-promotion.html"-->
                </div>

  </div>


<script>
$(".event-name .event-desc").css({"display":"none"});
$(".event-name br").css({"display":"none"});
</script>
