 <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
      <link rel="stylesheet" type="text/css" href="/_inc/css/global-style.css" />
      <link rel="stylesheet" type="text/css" href="/_inc/css/internal-style.css" />
      <!--[if lt IE 9]>
      <script src="/js/selectivizr-min.js"></script>
      <link rel="stylesheet" type="text/css" href="/_inc/css/ie8-fixes.css" />
      <![endif]-->
      <!--Glyphicons-->
      <link rel="stylesheet" href="/_inc/css/glyphicons.css" />
      <!--Fonts-->
      <script src="//use.typekit.net/uzw2huo.js"></script>
      <script>try{Typekit.load();}catch(e){}</script>
      <!--scripts-->
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="/_inc/js/vendor/modernizr.custom.71422.js"></script>
      <script src="/_inc/js/respond.min.js"></script>
      <link rel="stylesheet" type="text/css" href="/today/css/today-new.css">
      <!--#include virtual="/inc-share/analytics/analytics.js"-->
</head>

<body>
      <!-- start global header -->
      <!--#include virtual="/_inc/global-sm-header.html"-->
      <!-- end global header -->

      <!--start whiteContainer-->
      <div class="whiteContainer">
        <div class="internalContainer clearfix">
          <div class="section group">
            <!--#include virtual="/today/inc/utsa-today-header.html"-->
          </div>

          <div class="section group" id="departmentalMobileMenuTrigger"><p>Menu<span class="floatR glyphicons glyphicons-chevron-down"></span></p></div>
          <div class="section group clearfix utsaToday-MainMenu" id="departmentalMobileMenuExpand">

            <div class="col span_8_of_12">
              <!--#include virtual="/today/inc/utsa-today-mainMenu.html"-->

            </div>
            <div class="col span_4_of_12">
				<!--#include virtual="/today/inc/search-form.html"-->
            </div>
          </div>

          <div class="section group content">
            <div class="col span_9_of_12">
