              <ul>
  <li><a href="/today"><img src="/img/icon/icon-home-blue.png"></a></li>
  <li><a href="/today/archives/">Archive</a></li>
  <li><a href="/roadrunners">Meet a Roadrunner</a></li>  
  <li><a href="/experts">UTSA Experts</a></li>  
 <li><a href="/ucm/">Communications &amp; Marketing</a></li>
<!--<li><a href="http://www.utsa.edu/">UTSA Home</a></li>-->
</ul>