


<div class="col span_7_of_12 utsaToday-Logo">
  <a href="/today"><img src="/today/img/utsaTodayLogoBlue.png" width="45%" alt="UTSA Today"></a>
</div>
<div class="col span_5_of_12">
  <span class="utsaToday-date">Friday, August 19, 2016</span>
  <nav id="departmentalSocialNav" style="margin-bottom: 0;margin-top: -25;float:right;">
   <a href="https://www.facebook.com/utsa"><img src="/_inc/img/socialIcons/facebook-gray.png" alt="Facebook"></a>
   <a href="https://twitter.com/utsa"><img src="/_inc/img/socialIcons/twitter-gray.png" alt="Twitter"></a>
   <a href="https://instagram.com/utsa/"><img src="/_inc/img/socialIcons/instagram-gray.png" alt="Instagram"></a>
   <a href="https://www.linkedin.com/edu/the-university-of-texas-at-san-antonio-19521"><img src="/_inc/img/socialIcons/linkedin-gray.png" alt="LinkedIn"></a>
   <a href="https://www.youtube.com/user/utsa"><img src="/_inc/img/socialIcons/youtube-gray.png" alt="Youtube"></a>
</nav>

</div>

