<!--- 
	Updates our caches of major elements through out the site every half hour. 
	Is sceduled by the Coldfusion Administrator.	
	
	
	
	
--->
<!---<cf_UTSATemplate columns="1" title="Site Cache">--->
<h1>Site Cache Update</h1>

<!---<cf_UTSASiteCache url="1/cf_weather/index--1.cfm">



<cf_UTSASiteCache url="home/students/index--1.cfm">
<cf_UTSASiteCache url="home/facultyStaff/index--1.cfm">
<cf_UTSASiteCache url="home/alumni/index--1.cfm">
<cf_UTSASiteCache url="home/students/future/index--1.cfm">
<cf_UTSASiteCache url="home/parents/index--1.cfm">
<cf_UTSASiteCache url="home/visitors/index--1.cfm">
<cf_UTSASiteCache url="home/academics/index--1.cfm">
<cf_UTSASiteCache url="home/research/index--1.cfm">
<cf_UTSASiteCache url="home/TheUniversity/index--1.cfm">
<cf_UTSASiteCache url="home/administration/index--1.cfm">
<cf_UTSASiteCache url="home/campusLife/index--1.cfm">

 <cf_UTSASiteCache url="home/sitemap/index--1.cfm"> --->



<!---

<cf_UTSASiteCache url="businessguide/index--1.cfm">
<cf_UTSASiteCache url="futureStudents/index--1.cfm">
<cf_UTSASiteCache url="currentStudents/index--1.cfm">
<cf_UTSASiteCache url="alumniFriends/index--1.cfm">
<cf_UTSASiteCache url="facultyStaff/index--1.cfm">
<cf_UTSASiteCache url="parents/index--1.cfm">

<cf_UTSASiteCache url="categories/academics--1.cfm">
<cf_UTSASiteCache url="categories/sportsandRecreation--1.cfm">
<cf_UTSASiteCache url="categories/administration--1.cfm">
<cf_UTSASiteCache url="categories/campuslife--1.cfm">
<cf_UTSASiteCache url="categories/community--1.cfm">
<cf_UTSASiteCache url="categories/research--1.cfm">
<cf_UTSASiteCache url="categories/resources--1.cfm">
<cf_UTSASiteCache url="categories/theUniversity--1.cfm">
--->



<cf_UTSASiteCache url="today/index1.cfm" path="today/index.cfm">


<!---<cfSavecontent variable="sWeather"><cf_Weather></cfsavecontent>
<cfmail to="jmcbride@utsa.edu" from="jmcbride@utsa.edu" subject="UTSAWEATHERTODAY: #sWeather# - #now()#">

Time: #now()#
Pages update successfully!
</cfmail>--->
<p><a href="/today/">Back to UTSA Today</a></p>
<p>Updating UTSA News Data...</p>


<!---<cf_UTSANews update="1">--->
<!---<cf_UTSATemplate>---> 
