<cfIF isdefined("form.subCategoryID")>
	<cfscript>
		//Prepare our update query
		iCounter = 1;
		sSQL = "";
		DO {
			sSQL = sSQL & "Insert into subCategoryLinkRelations (subCategoryID, LinkID) values(" & listGetAt(form.subCategoryID,iCounter) & "," & form.LinkID & ")";	
			iCounter = iCounter + 1;
		}WHILE (iCounter LT ListLen(Form.subCategoryID)+1);
		writeOutPut(sSQL & "<br />");
	</cfscript>
	<cfQuery name="InsertSubCategoryLinkRelations" datasource="#Application.primaryDSN#">
		#sSQL#
	</cfquery>
<cfELSE>
	<!-- 	Category did not receive any categories.
			This means that some items can avoid having a category associated with them
	-->
</cfif>
