<!---Coldfusion 5 does not allow us to do this query
<cfquery datasource="#Application.primaryDSN#" name="InsertLinkStart">
SET NOCOUNT ON
INSERT INTO Links (Link_Name)
VALUES ('#Link_Name#')
SELECT ThisID = @@Identity
SET NOCOUNT OFF
</cfquery> 
<cfset LinkID = InsertLinkStart.ThisID>
--->

<cfquery datasource="#Application.primaryDSN#" name="InsertExpertStart">
INSERT INTO Experts (lastName)
VALUES ('#lastName#')
</cfquery>
<cfquery datasource="#Application.primaryDSN#" name="SelectRecentExpert">
SELECT top 1 ExpertID
from Experts
Order by ExpertID desc

</cfquery>



<cfoutput query="SelectRecentExpert">
	<cfset ExpertID = SelectRecentExpert.ExpertID>
</cfoutput>

