<!---Coldfusion 5 does not allow us to do this query
<cfquery datasource="#Application.primaryDSN#" name="InsertLinkStart">
SET NOCOUNT ON
INSERT INTO Links (Link_Name)
VALUES ('#Link_Name#')
SELECT ThisID = @@Identity
SET NOCOUNT OFF
</cfquery> 
<cfset LinkID = InsertLinkStart.ThisID>
--->

<cfquery datasource="#Application.primaryDSN#" name="InsertLinkStart">
INSERT INTO Links (Link_Name)
VALUES ('#Link_Name#')
</cfquery>
<cfquery datasource="#Application.primaryDSN#" name="SelectRecentLink">
SELECT top 1 LinkID
from Links
Order by LinkID desc

</cfquery>



<cfoutput query="SelectRecentLink">
	<cfset LinkID = SelectRecentLink.LinkID>
</cfoutput>

