<cfoutput>
<div class="adminMenu">
<div><strong>Articles:</strong> <a href="index.cfm?fuseaction=ArticleManager.controlPanel">Control panel</a> | <a href="index.cfm?fuseaction=articleManager.view">View All</a> | <a href="index.cfm?fuseaction=articleManager.add">Add</a></div>
<div><strong>Categories:</strong> <a href="index.cfm?fuseaction=categoryManager.view">View</a> | <a href="index.cfm?fuseaction=categoryManager.add">Add</a></div>
<div><strong>RSS:</strong> <a href="index.cfm?fuseaction=RSSGenerator.all">Generate All</a></div> 
<div style="color:##999999">You are logged in as #cgi.REMOTE_USER#.</div></div>
</cfoutput>