<cfinclude template="app_Globals.cfm">

<cfParam Name="attributes.fuseaction" Default="experts.view">
<h3>Experts</h3>
<ul>
			<li><a href="/today/admin/ExpertsManager/index.cfm?fuseaction=expertsManager.add">add</a></li>
			<li><a href="/today/admin/ExpertsManager/index.cfm?fuseaction=expertsManager.view">view</a></li>
		</ul>


