<html>
<head>
<title>Hash Example</title>
</head>

<body bgcolor = silver>
<h3>Hash Example</h3>

<cfquery name = "MM_rsUser" datasource = "#session.dbDSN#">
  SELECT PasswordHash
  FROM SecureData
  WHERE UserID = <cfqueryparam value = "#UserID#"
    cfsqltype = "CF_SQL_CHARVAR"> 
</cfquery>

<cfif Hash(form.password) is not checkperson.passwordhash>
  <cflocation url = "unauthenticated.cfm">
<cfelse>
  ...
</cfif>
...

</body>
</html>
