<cfdump var="#Application#" />
<cfabort/>

<cfset request.PrimaryDSN="weblinks-syntax">





<cfset iArticleCounter = 0>
<cfset iLeadphoto = 0>
<cfset iMoreStories = 0>
<cfset iTopStories = 0>
<cfset iCounter = 2>
<cfset iCount= 2>

<cfset aStories=ArrayNew(2)>




<cfinclude template="articlemanager/sql_SelectControlPanelArticles.cfm">
<cfoutput query="SelectControlPanelArticles">
	<cfinclude template="articlemanager/act_CategorizeStories.cfm">
<!---
Story Status:
0 - Future Stories (unlimited)
1 - Lead Photo (1)
2 - Top Stories (4)
3 - More Stories (6)
4 - Expired (unlimited)
5 - Archives (unlimited)
--->

	<!--- Make updates to the Array --->
	<!---<p>#articleid# - #title# - #teaser# - #datestart# - #url#</p>	 --->

	<cfif (storyStatus is 1) >
			<!--- Set Lead photo to the first slot--->

			<cfset aStories[1][1] = ArticleID>
			<cfset aStories[1][2] = title>
			<cfset aStories[1][3] = teaser>
			<cfset aStories[1][4] = datestart>
			<cfset aStories[1][5] = url>
			<cfset aStories[1][6] = leadphotoAddress>
			<!--- Let the rest of the code know that the lead photo has run --->
			<cfset iLeadPhoto = 1>
	<cfelse> <!--- Stories --->

			<cfset aStories[icounter][1] = ArticleID>
			<cfset aStories[icounter][2] = title>
			<cfset aStories[icounter][3] = teaser>
			<cfset aStories[icounter][4] = datestart>
			<cfset aStories[icounter][5] = url>
			<cfset aStories[icounter][6] = leadphotoAddress>
			<cfset icounter = icounter + 1>
	</cfif>




<!---
		<h3><a href="index.cfm?fuseaction=ArticleManager.edit&ArticleID=#ArticleID#">#Title#</a></h3>
		<p><strong>#menukey#</strong> - #teaser# (#DateStart#)</p>
--->

</cfoutput>
<hr />
<cfloop index="iLooper" from="1" to="11" step="1">
<cfoutput>
<h3><a href="#aStories[iLooper][5]#">#aStories[iLooper][2]#</a></h3>
		<p>#aStories[iLooper][2]# - #aStories[iLooper][3]# (#aStories[iLooper][4]#)</p>
<cfif iLooper is 1><p><img src="#aStories[iLooper][6]#" /></p></cfif>
</cfoutput>
</cfloop>
