.admin table {
  border-spacing: collapse;
}

.admin td, th {
  border: 1px solid #ccc;
  text-align: left;
}

.admin {
  font-family: Helvetica;
  font-weight: normal;
  font-size: 16px;
}

.internalContainer {
  max-width: 1800px;
}

label:before {
  border-left: none;
  border-top: none;
  border-bottom: none;
}

label {
  padding-left: 0px;
}

.btn {
  padding: 0.5rem 1rem;
}
