</div>

<div class="col-md-3">
  <!--#include virtual="/inc/home/events1.1.html" -->
  <br/>
  <!--#include virtual="/today/_inc/v1.1/generated/today-cta-01.html" -->
</div>
</div>
</div>
</section>

<!--#include virtual="/today/_inc/v1.1/generated/today-footer.html" -->
<!--#include virtual="/_files/global-footer.html" -->
<script src="/today/js/typekit.js"></script>
<script type="text/javascript" src="/_files/js/global.min.js"></script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53469f190275810f"></script>
<script type="text/javascript" src="/today/components/ekko-lightbox/dist/ekko-lightbox.js"></script>

<script type="text/javascript">
 $(document).ready(function ($) {
   $(document).on('click', '*[data-toggle="lightbox"]:not([data-gallery="navigateTo"])', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox({
        left_arrow_class: '.fa .fa-chevron-left .fa-5x',
        right_arrow_class: '.fa .fa-chevron-right .fa-5x .text-xs-right',
        onShown: function() {
          if (window.console) {
            return console.log('onShown event fired');
          }
        },
        onContentLoaded: function() {
          if (window.console) {
            return console.log('onContentLoaded event fired');
          }
        },
        onNavigate: function(direction, itemIndex) {
          if (window.console) {
            return console.log('Navigating '+direction+'. Current item: '+itemIndex);
          }
        }
      });
  });
 });
</script>
</body>
</html>
