<!--- Around Campus Intake Form --->
<h2 id="aroundBtn">Submit an UTSA Newswire or Announcement request</h2>
<cfoutput>
<fieldset id="outer-layer-around"  style="margin-top:10px;">
  <form id="intake-around" class="well" name="intake" role="form"  enctype="multipart/form-data" action="view.cfm?page=intake-around" method="post">
    <h2 id="aroundReqConfirmMsg" style="text-align:center;">Please Confirm your UTSA Newswire or Announcement  Request</h2>
    <h3 id="aroundReqMsg" style="text-align:center;">Please review <a href="##" id="reviewAroundCampusGuidelines">form guidelines</a> and complete all fields.</h3>
      <div class="control-group">
        <div class="controls">
          <label for="utStoryHeadline">Headline<span class="help-block-around" id="utStoryHeadlineHelp"></span>:</label>
          <input name="utStoryHeadline" id="utStoryHeadline" class="form-control" type="text" size="50" placeholder="Enter the story headline."
          <cfif (structKeyExists(form, "aroundSubmit") AND Len(Trim(form.utStoryHeadline)) GT 0) >
            value="#Evaluate('form.utStoryHeadline')#"</cfif>
           required />
          <p class="around" id="utStoryHeadlineConfirm"></p>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <label for="utStoryDescription">Description<span class="help-block-around" id="utStoryDescriptionHelp"></span>:</label>
          <textarea maxlength="250" name="utStoryDescription" id="utStoryDescription" class="form-control" type="text"
          cols="85" rows="7"  placeholder="Enter the event description text here."
          required><cfif isDefined('form.utStoryDescription') AND Len(Trim(form.utStoryDescription)) GT 0>#Evaluate('form.utStoryDescription')#</cfif></textarea>
          <p class="event" id="utStoryDescriptionConfirm"></p>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <label for="utStoryURL">Story URL<span class="help-block-around" id="utStoryURLHelp"></span>:</label>
          <input name="utStoryURL" id="utStoryURL" class="form-control" type="url" size="50"  placeholder="Enter the URL of the story."
          <cfif (structKeyExists(form, "utStoryURL") AND Len(Trim(form.utStoryURL)) GT 0) >
            value="#Evaluate('form.utStoryURL')#"</cfif>
           required />
          <p class="around" id="utStoryURLConfirm"></p>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <label for="utStoryPublishDate">Ideal Publish Date/Time<span class="help-block-around" id="utStoryPublishDateHelp"></span>:</label>
          <div class="input-append date" id="dp3" data-date="12-02-2016" data-date-format="dd-mm-yyyy">
            <input name="utStoryPublishDate" id="utStoryPublishDate" class="form-control" size="50" type="text"
            <cfif (structKeyExists(form, "utStoryPublishDate") AND Len(Trim(form.utStoryPublishDate)) GT 0) >
              value="#Evaluate('form.utStoryPublishDate')#"</cfif> />
            <p class="around" id="utStoryPublishDateConfirm"></p>
          </div>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <label for="utStorySubmitter">Story Submitter Name<span class="help-block-around" id="utStorySubmitterHelp"></span>:</label>
          <input name="utStorySubmitter" id="utStorySubmitter" class="form-control" type="text" size="50"  placeholder="Enter your full name."
          <cfif (structKeyExists(form, "utStorySubmitter") AND Len(Trim(form.utStorySubmitter)) GT 0) >
            value="#Evaluate('form.utStorySubmitter')#"</cfif> required />
          <p class="around" id="utStorySubmitterConfirm"></p>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <label for="utStorySubmitterOrg">Story Submitter College/Office Name<span class="help-block-around" id="utStorySubmitterOrgHelp"></span>:</label>
          <input name="utStorySubmitterOrg" id="utStorySubmitterOrg" class="form-control" type="text" size="50"  placeholder="Enter your College/Department/Area name."
          <cfif (structKeyExists(form, "utStorySubmitterOrg") AND Len(Trim(form.utStorySubmitterOrg)) GT 0) >
            value="#Evaluate('form.utStorySubmitterOrg')#"</cfif> required />
          <p class="around" id="utStorySubmitterOrgConfirm"></p>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <label for="utStoryEmail">Story Submitter Email<span class="help-block-around" id="utStoryEmailHelp"></span>:</label>
          <input name="utStoryEmail" id="utStoryEmail" class="form-control" type="email" size="50"  placeholder="Enter your email address."
          <cfif (structKeyExists(form, "utStoryEmail") AND Len(Trim(form.utStoryEmail)) GT 0) >
            value="#Evaluate('form.utStoryEmail')#"</cfif> required />
          <p class="around" id="utStoryEmailConfirm"></p>
        </div>
      </div>

      <!--- reCaptcha  --->
      <!--- reCaptcha  --->

      <label for="form-validation">Form Validation:</label>
      <cf_recaptcha privateKey="#APPLICATION.recaptchaPrivate#" publicKey="#APPLICATION.recaptchaPublic#" />

      <br />

      <button type="button" 	id="aroundNextBtn" 				class="btn btn-primary">Review Story Details &raquo;</button>
     	<button type="reset" 	id="aroundResetBtn" 			class="btn btn-warning">Reset</button>
      <button type="button" 	id="aroundGoBackBtn" 			class="btn btn-danger">&laquo; Go Back</button>
      <button type="submit"  	id="aroundSubmit" 				class="btn btn-success" name="aroundSubmit">Submit &raquo;</button>
    </form>
</fieldset>
</cfoutput>
