<br />
<!--<button type="button" id="aroundGuidelinesBtn" class="btn btn btn-info btn-lg btn-block">UTSA Newswire and Announcements Guidelines</button>-->
<h2 id="aroundGuidelinesBtn">UTSA Newswire and Announcements Guidelines</h2>
<fieldset id="outer-layer-around-guidelines" style="margin-top:10px;">
    <div id="eventGuidelinesTxt" class="well">
        <ul>
            <li>Stories submitted for the UTSA Newswire and Announcements sections of UTSA Today must support the university's mission and vision and will be published at the discretion of University Communications and Marketing.</li>
            <li>Each UTSA Newswire story and Announcement must be posted on a dedicated university web page that is UTSA-branded.</li>
            <li>Stories that include misspellings and other grammatical errors will not be published.</li>
            <li>By submitting a story, the submitter agrees he or she has ensured the accuracy of the story through proper vetting.</li>
            <li>Recap stories - stories that summarize campus events -- must be submitted within <strong>two</strong> business days of the date of the event. When events last multiple days, the recap must be submitted within two business days of the last day of the event.</li>
            <li>Questions? Contact your <a href="http://www.utsa.edu/ucm/communications/media-relations/media-contacts.html">media relations liaison</a>.</li>
        </ul>        
    </div>
</fieldset>
<br />