<button type="button" id="aroundGuidelinesBtn" class="btn btn btn-info btn-lg btn-block">Please review these guidelines before submitting a Headline Story</button>
<fieldset id="outer-layer-around-guidelines" style="margin-top:10px;">
    <div id="eventGuidelinesTxt">
        <ul>
            <li>Stories submitted for the Around Campus section of UTSA Today must support the university's mission and vision and will be approved at the discretion of University Communications and Marketing.</li>
            <li>Each Around Campus news story must be posted on a dedicated.</li>
            <li>By submitting a story, the submitter agrees he or she has ensured the accuracy of the story through proper vetting.</li>
            <li>Recap stories - stories that summarize campus events -- must be submitted within two business days of the date of the event. When events last multiple days, the recap must be submitted within two business days of the last day of the event.</li>
            <li>Questions? Contact your <a href="#">media relations liaison</a>.</li>
        </ul>        
    </div>
</fieldset>
<br />