<table name="email-event-data">
    <cfoutput>
    <tbody> 
          <tr>
            <td>Event Name:</td><td>#xmlFormat(data["evtNAME"])#</td>
          </tr>
          <tr>
            <td>Event Description:</td><td>#xmlFormat(data["evtDescription"])#</td>
          </tr>
          <tr>
            <td>Event URL:</td><td>#xmlFormat(data["evtURL"])#</td>
          </tr>
          <tr> 
            <td>Event Location:</td><td>#xmlFormat(data["evtLOC"])#</td>
          </tr>  
          <tr>  
            <td>Event Date/Time:</td><td>#xmlFormat(data["evtPUBLISHDATE"])#</td>
          </tr>
          <tr>	
            <td>Event Submitter:</td><td>#xmlFormat(data["evtSubmitter"])#</td>
          </tr>  
          <tr>  
            <td>Event Submitter Email:</td><td>#xmlFormat(data["evtEmail"])#</td>                                       
          </tr>
          <tr>
            <td>Event Submitter College/Office Name:</td><td>#xmlFormat(data["evtSUBMITTERORG"])#</td>
          </tr>			
    </tbody>
    </cfoutput>
</table>