<table name="email-around-data">
    <cfoutput>
    <tbody> 
          <tr>
            <td>Story Headline:</td><td>#xmlFormat(data["storyHeadline"])#</td>
          </tr>
          <tr>
            <td>Story URL:</td><td>#xmlFormat(data["storyURL"])#</td>
          </tr>
          <tr>
            <td>Story Date/Time:</td><td>#xmlFormat(data["storyPublishDate"])#</td>
          </tr>
          <tr> 
            <td>Story Submitter:</td><td>#xmlFormat(data["storySubmitter"])#</td>
          </tr>  
          <tr>  
            <td>Story Submitter Org:</td><td>#xmlFormat(data["storySubmitterOrg"])#</td>
          </tr>
          <tr>	
            <td>Event Submitter:</td><td>#xmlFormat(data["storyEmail"])#</td>
          </tr>  
    </tbody>
    </cfoutput>
</table>

	