<h2 id="eventBtn">Submit an Event</h2>
<cfoutput>
<fieldset id="outer-layer-event" style="margin-top:10px;">
	<form id="intake-event" class="well" name="intake-event" role="form"  enctype="multipart/form-data" action="view.cfm?page=intake-event" method="post">
        <h2 id="eventReqConfirmMsg" style="text-align:center;">Please Confirm your Event Request</h2>
      	<h3 id="eventReqMsg" style="text-align:center;">Please review <a href="##" id="reviewEventGuidelines">form guidelines</a> and complete all fields.</h3>
          <div class="control-group">
            <div class="controls">
               <label for="utEventName">Event Name<span class="help-block-evt" id="utEventNameHelp"></span>:</label>
               <input name="utEventName" id="utEventName" class="form-control" type="text" size="50" placeholder="Name of event"
							 <cfif (structKeyExists(form, "utEventName") AND Len(Trim(form.utEventName)) GT 0) >
								 value="#encodeForHTML(Form["utEventName"])#"</cfif>
							required />
               <p class="event" id="utEventNameConfirm"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
             <label for="utEventDescription">Event Description<span class="help-block-evt" id="utEventDescriptionHelp"></span>:</label>
             <textarea maxlength="250" name="utEventDescription" id="utEventDescription" class="form-control" type="text"
						 cols="85" rows="7"  placeholder="Enter the event description text here."
						 required><cfif (structKeyExists(form, "utEventDescription") AND Len(Trim(form.utEventDescription)) GT 0) >#encodeForHTML(Form["utEventDescription"])#</cfif></textarea>
              <p class="event" id="utEventDescriptionConfirm"></p>
             </div>
          </div>
          <div class="control-group">
             <div class="controls">
                <label for="utEventURL">Event URL:<span class="help-block-evt" id="utEventURLHelp"></span></label>
                <input name="utEventURL" type="url" id="utEventURL" class="form-control" type="text" size="50"  placeholder="Event URL"
								<cfif (structKeyExists(form, "utEventURL") AND Len(Trim(form.utEventURL)) GT 0) >
									value="#encodeForHTML(Form["utEventURL"])#"</cfif>
									required />
                <p class="event" id="utEventURLConfirm"></p>

             </div>
          </div>
          <div class="control-group">
             <div class="controls">
                <label for="utEventLoc">Event Location:<span class="help-block-evt" id="utEventLocHelp"></span></label>
                <input name="utEventLoc" id="utEventLoc" class="form-control" type="text" size="50"  placeholder="Enter the location of the event, include campus, room name and room number abbreviation."
								<cfif (structKeyExists(form, "utEventLoc") AND Len(Trim(form.utEventLoc)) GT 0) >
									value="#encodeForHTML(Form["utEventLoc"])#"</cfif>
									required />
                <p class="event" id="utEventLocConfirm"></p>
             </div>
          </div>
          <div class="control-group">
                <div class="controls">
                    <label for="utEventPublishDate">Event Date/Time:<span class="help-block-evt" id="utEventPublishDateHelp"></span></label>
                    <div class="input-append date" id="dp3" data-date="12-02-2016" data-date-format="dd-mm-yyyy">
                        <input name="utEventPublishDate" id="utEventPublishDate" class="form-control" size="50" type="text"
												<cfif (structKeyExists(form, "utEventPublishDate") AND Len(Trim(form.utEventPublishDate)) GT 0) >
													value="#encodeForHTML(Form["utEventPublishDate"])#"</cfif>
													required />
                        <p class="event" id="utEventPublishDateConfirm"></p>
                    </div>
                </div>
           </div>
           <div class="control-group">
             <div class="controls">
                <label for="utEventSubmitter">Event Submitter Name:<span class="help-block-evt" id="utEventSubmitterHelp"></span></label>
                <input name="utEventSubmitter" id="utEventSubmitter" class="form-control" type="text" size="50"  placeholder="Your Full Name"
								<cfif (structKeyExists(form, "utEventSubmitter") AND Len(Trim(form.utEventSubmitter)) GT 0) >
									value="#encodeForHTML(Form["utEventSubmitter"])#"</cfif>
									required />
                 <p class="event" id="utEventSubmitterConfirm"></p>
             </div>
          </div>
          <div class="control-group">
             <div class="controls">
                <label for="utEventSubmitterOrg">Event Submitter College/Office Name:<span class="help-block-evt" id="utEventSubmitterOrgHelp"></span></label>
                <input name="utEventSubmitterOrg" id="utEventSubmitterOrg" class="form-control" type="text" size="50"  placeholder="Your College/Department/Area Name"
								<cfif (structKeyExists(form, "utEventSubmitterOrg") AND Len(Trim(form.utEventSubmitterOrg)) GT 0) >
									value="#encodeForHTML(Form["utEventSubmitterOrg"])#"</cfif>
									required />
                 <p class="event" id="utEventSubmitterOrgConfirm"></p>

             </div>
          </div>
          <div class="control-group">
             <div class="controls">
                <label for="utEventEmail">Event Submitter Email:<span class="help-block-evt" id="utEventEmailHelp"></span></label>
                <input name="utEventEmail" type="email" id="utEventEmail" class="form-control" type="text" size="50"  placeholder="Your email address"
								<cfif (structKeyExists(form, "utEventEmail") AND Len(Trim(form.utEventEmail)) GT 0) >
									value="#encodeForHTML(Form["utEventEmail"])#"</cfif>
									required />
                <p class="event" id="utEventEmailConfirm"></p>
             </div>
          </div>
          <!--- reCaptcha  --->

					<label for="form-validation">Form Validation:</label>
					<cf_recaptcha privateKey="#APPLICATION.recaptchaPrivate#" publicKey="#APPLICATION.recaptchaPublic#" />

          <br />
          <button type="submit" id="eventNextBtn" 	class="btn btn-primary">Review Event Details &raquo;</button>
          <button type="reset" 	id="eventResetBtn" 	class="btn btn-warning">Reset</button>
          <button type="button" id="eventGoBackBtn" class="btn btn-danger">&laquo; Go Back</button>
          <button type="submit" id="eventSubmit" 		class="btn btn-success" name="eventSubmit">Submit &raquo;</button>
          <br />
	</form>
</cfoutput>
</fieldset>
