<br />
<!--<button type="button" id="eventGuidelinesBtn" class="btn btn btn-info btn-lg btn-block">Event Submission Guidelines</button>-->
<h2 id="eventGuidelinesBtn">Event Submission Guidelines</h2>
<fieldset id="outer-layer-event-guidelines" style="margin-top:10px;">
    <div id="eventGuidelinesTxt" class="well">
        <ul>
            <li>Events submitted for UTSA Today must support the university's mission and vision and will be published at the discretion of University Communications and Marketing.</li>
            <li>Events submitted to UTSA Today must be posted on a dedicated university web page that is UTSA-branded.</li>
            <li>Events that are free and open to the public will be given preference on UTSA Today over other types of events.</li>
            <li>The cost for admission, if any, must be clearly stated on the event's web page.</li>
            <li>UTSA Today will not link to online PDFs.</li>
            <li>Events that are submitted with less than two business days' notice will be declined by UTSA Today.</li>
            <li>University Communications and Marketing should be notified promptly about event changes (e.g: cancellations, venue changes, time changes, etc).</li>
            <li>Questions? Contact your <a href="http://www.utsa.edu/ucm/communications/media-relations/media-contacts.html">media relations liaison</a>.</li>
        </ul>        
    </div>
</fieldset>
<br />