<cfif SelectOneArticle.ArticleTypeID is "">
	<cfset ArticleTypeID=0>
<CFELSE>
	<cfset ArticleTypeID=SelectOneArticle.ArticleTypeID>
</cfif>
	
<cfQuery name="SelectArticleTypesForOneArticle" datasource="#Application.primaryDSN#">
	Select ArticleTypes.*
	FROM ArticleTypes
	WHERE ArticleTYPEID = <cfqueryparam value="#ArticleTypeID#" maxlength="3" cfsqltype="cf_sql_integer"> 
	<!--- WHERE ArticleTYPEID=#ArticleTypeID#  --->
	UNION ALL
	Select ArticleTypes.*
	FROM ArticleTypes
	WHERE ArticleTypes.ArticleTypeID not in (<cfqueryparam value="#ArticleTypeID#" maxlength="3" cfsqltype="cf_sql_integer">)
	
	
<!--- 		WHERE ArticleTypes.ArticleTypeID not in (#ArticleTypeID#) --->
</cfquery>