<cfquery name="DeleteArticleAudienceAssociations" datasource="#Application.primaryDSN#">
	DELETE
	FROM AudienceArticleRelations
	WHERE ArticleID = <cfqueryparam value="#form.ArticleID#" cfsqltype="cf_sql_integer" maxlength="15">
<!--- 	WHERE ArticleID= #form.ArticleID# --->
</cfquery>
