<cfIF isdefined("form.SubAudienceID")>
	<cfscript>
		//Prepare our update query
		iCounter = 1;
		sSQL = "";
		DO {
			sSQL = sSQL & "Insert into SubAudienceLinkRelations (SubAudienceID, LinkID) values(" & listGetAt(form.SubAudienceID,iCounter) & "," & form.LinkID & ")";	
			iCounter = iCounter + 1;
		}WHILE (iCounter LT ListLen(Form.SubAudienceID)+1);
		writeOutPut(sSQL & "<br />");
	</cfscript>
	<cfQuery name="InsertSubAudienceLinkRelations" datasource="#Application.primaryDSN#">
		#sSQL#
	</cfquery>
<cfELSE>
	<!-- 	SubAudience did not receive any categories.
			This means that some items can avoid having a SubAudience associated with them
	-->
</cfif>
