<cfquery datasource="#Application.primaryDSN#" name="DeleteAritcleStart">
DELETE
FROM Articles
WHERE ArticleID = <cfqueryparam value="#Form.ArticleID#" cfsqltype="cf_sql_integer" maxlength="15">
</cfquery>
