<cfQuery name="SelectCategoryForOneArticle" datasource="#Application.primaryDSN#">
Select RSSCategoryArticleRelations.ArticleID, RSSCategories.categoryName, RSSCategories.CategoryID
	FROM RSSCategoryArticleRelations, RSSCategories 
	WHERE RSSCategories.CategoryID = RSSCategoryArticleRelations.CategoryID
	AND RSSCategoryArticleRelations.ArticleID in (<cfqueryparam value="#ArticleID#" maxlength="10" cfsqltype="cf_sql_integer">) 			
	<!--- 	and RSSCategoryArticleRelations.ArticleID in (#ArticleID#) --->
		
		
</cfquery>