<hr />
<cfIF isdefined("form.AudienceID")>
	<cfscript>
		//Prepare our update query
		iCounter = 1;
		sSQL = "";
		DO {
			sSQL = sSQL & "Insert into AudienceArticleRelations (AudienceID, ArticleID) values(" & listGetAt(form.audienceID,iCounter) & "," & form.ArticleID & ")";	
			iCounter = iCounter + 1;
		}WHILE (iCounter LT ListLen(Form.AudienceID)+1);
		writeOutPut(sSQL & "<br />");
	</cfscript>
	<cfQuery name="InsertAudienceArticleRelations" datasource="#Application.primaryDSN#">
		#sSQL#
	</cfquery>
<cfELSE>
	<!-- 	Category did not receive any categories.
			This means that some items can avoid having a category associated with them
	-->
</cfif>
