<cfQuery name="SelectOneArticle" datasource="#Application.primaryDSN#">
	Select *
	from Articles
	WHERE Articles.ArticleID = <cfqueryparam value="#ArticleID#" cfsqltype="cf_sql_integer" maxlength="15">
</cfquery>
