#button 
{
	display:block;
	width: 7em;
	padding: 0.2em;
	/*link-height: 1.4; */
	background-color:#CCCCCC;
	border-top: 1px solid #fff;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	color: #000;
	text-decoration: none;
	text-align: center;
}

#submitbutton 
{
	display:block;
	width: 12em;
	padding: 0.2em;
	/*link-height: 1.4;*/
	background-color:#CCCCCC;
	border-top: 1px solid #fff;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	color: #000;
	text-decoration: none;
	text-align: center;
}