<section id="foot" style="background-color: #eee; padding: 1em 0;">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h4>UTSA's Mission</h4>
        <p>The University of Texas at San Antonio is dedicated to the advancement of knowledge through research and discovery, teaching and learning, community engagement and public service. As an institution of access and excellence, UTSA embraces multicultural traditions and serves as a center for intellectual and creative resources as well as a catalyst for socioeconomic development and the commercialization of intellectual property - for Texas,the nation and the world.</p>
        <h4>UTSA's Vision</h4>
        <p>To be a premier public research university, providing access to educational excellence and preparing citizen leaders for the global environment.</p>
        <h4>UTSA's Core Values</h4>
        <p>We encourage an environment of dialogue and discovery, where integrity, excellence, inclusiveness, respect, collaboration and innovation are fostered.</p>
      </div>
      <div class="col-md-4 old-social">
        <br/><br/>
        <h4>Related Links</h4>
        <ul class="custBulletList">
          <li><a href="/sombrilla">Sombrilla Magazine</a></li>
          <li><a href="http://giving.utsa.edu/spring2015">UTSA Giving</a></li>
          <li><a href="/roadrunners">Meet a Roadrunner</a></li>
          <li><a href="/experts">Expert Source Guide</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
