


<!--<br/>
  <div class="learnMore bgblue" style="background-color:#0c2340;">
    <a ga-on="click" ga-event-category="todayClick" ga-event-label="cta-utsa-sombrilla" ga-event-action="/sombrilla/" href="/sombrilla/">
        <img src="/today/img/cta/sombrilla-CTA-Today.jpg" width="100%" style="align:center;" alt="UTSA Sombrilla Magazine" />
    </a>
  <br /><br />
  <a ga-on="click" ga-event-category="todayClick" ga-event-label="cta-utsa-sombrilla" ga-event-action="/sombrilla/" class="learnMoreButtons sans bold blue" href="/sombrilla/">Learn More</a>
</div>
<br/>-->

<br/>
  <div class="learnMore bgblue" style="background-color:#0c2340;">
    <a ga-on="click" ga-event-category="todayClick" ga-event-label="cta-fall-commencement-2018" ga-event-action="/commencement/" href="/commencement/">
        <img src="/today/img/cta/fall-commencement-2018-cta.jpg" width="100%" style="align:center;" alt="UTSA Fall Commencement 2018" />
    </a>
  <br /><br />
  <a ga-on="click" ga-event-category="todayClick" ga-event-label="cta-fall-commencement-2018" ga-event-action="/commencement/" class="learnMoreButtons sans bold blue" href="/commencement/">Learn More</a>
</div>
<br/>
