<br/>
  <div class="learnMore bgblue" style="background-color:#00153f;">
    <a data-label="cta-grad-fest-2017" href="/commencement/grads/grad-fest.html">
        <img src="/today/img/cta/grad-fest-cta.jpg" style="align:center;" alt="Grad Fest CTA" />
    </a>
  <br/><br/>
  <a data-label="cta-grad-fest-2017" class="learnMoreButtons sans bold blue" href="/commencement/grads/grad-fest.html">Learn More</a>
</div>
<br/>
