<br/>
  <div class="learnMore bgblue" style="background-color:#f15a22;">
    <a data-label="cta02-dip-dash-2017" href="/today/2017/02/diplomadash.html">
        <img src="/today/img/cta/dipdash.png" style="align:center;" alt="Dip Dash 2017" />
    </a>
  <br/><br/>
  <a data-label="cta02-dip-dash-2017" class="learnMoreButtons sans bold blue" href="/today/2017/02/diplomadash.html">Register Now</a>
</div>
<br/>
