<br/>
  <div class="learnMore bgblue">
    <a ga-on="click" ga-event-category="todayClick" ga-event-label="cta-sombrilla-spring2017" ga-event-action="/sombrilla/" href="/sombrilla/">
        <img src="/today/img/cta/sombrilla-spring-2017.png" width="50%" style="align:center;" alt="Sombrilla" />
    </a>
  <br/><br/>
  <a ga-on="click" ga-event-category="todayClick" ga-event-label="cta-sombrilla-spring2017" ga-event-action="/sombrilla/" class="learnMoreButtons sans bold blue" href="/sombrilla/">Read More</a>
</div>
<br/>
