<br/>
  <div class="learnMore bgblue" style="background-color:#f15a22;">
    <a data-label="cta02-chemical-engineering-2017" href="/today/2017/02/chemlink.html">
        <img src="/today/img/cta/chemical-engineering.png" style="align:center;" alt="Chemical Engineering CTA" />
    </a>
  <br/><br/>
  <a data-label="cta02-dip-dash-2017" class="learnMoreButtons sans bold blue" href="/today/2017/02/chemlink.html">Learn More</a>
</div>
<br/>
