<br/>
  <div class="learnMore bgblue" style="background-color:#f15a22;">
    <a ga-on="click" ga-event-category="todayClick" ga-event-label="cta-first-gen" ga-event-action="/today/2017/03/firstgenfest.html" href="/today/2017/03/firstgenfest.html">
        <img src="/today/img/cta/cta-first-gen.png" style="align:center;" alt="First Gen CTA" />
    </a>
  <br/><br/>
  <a class="learnMoreButtons sans bold blue" ga-on="click" ga-event-category="todayClick" ga-event-label="cta-first-gen" ga-event-action="/today/2017/03/firstgenfest.html" href="/today/2017/03/firstgenfest.html">Learn More</a>
</div>
<br/>
