<cf_UTSATemplate site="today" columns="1" title="Today Administration Interface">
<cfinclude template="includes/deleteExpert_Inc.cfm">
<h1>Expert has been deleted</h1>
<p><a href="/today/admin/ExpertsManager2/index.cfm">&lt;&lt; Experts Home</a></p>
<p><a href="/today/admin/index.cfm">&lt;&lt; Today Admin Home</a></p>
<cf_UTSATemplate>