<div id="side-nav-container" class="col-xs-12 col-md-3 col-lg-3">
	<ul class="nav nav-pills nav-stacked">
  	<li role="presentation"><a style="font-size:smaller;" href="/today/intake/view.cfm?page=intake-event">Submit an Event</a></li>
    <li role="presentation"><a style="font-size:smaller;" href="/today/intake/view.cfm?page=intake-around">Submit a Newswire story or Announcement</a></li>
		<li role="presentation"><a  style="font-size:smaller;" href="/today/">UTSA Today Home</a></li>
	</ul>
</div>
