<header class="site-header">
	<div class="container">
    	<div class="row">
        	<div class="col-lg-12">
            	<h1 class="tagline">UTSA Today</h1>
            </div>
		</div>
	</div>
</header>