<!--- Around Campus --->
<button type="button"  id="aroundCampBtn" class="btn btn-primary btn-lg btn-block">Enter an Around Campus Story</button>
<fieldset id="outer-layer-around"  style="margin-top:10px;">
    <form id="intake-aroundCamp" class="well" name="intake" role="form"  enctype="multipart/form-data" action="view.cfm?page=intake" method="post">
               <h2 id="aroundCampReqConfirmMsg" style="text-align:center;">Please Confirm your Around Campus Request</h2>
                <h3 id="aroundCampReqMsg" style="text-align:center;">Complete all fields.</h3>
              <div class="control-group">
                <div class="controls">
                   <label for="utStoryHeadline">Headline<span class="help-block-around" id="utStoryHeadlineHelp"></span>:</label>
                   <input name="utStoryHeadline" id="utStoryHeadline" class="form-control" type="text" size="50" placeholder="Enter the story headline."  required />
                   <p class="around" id="utStoryHeadlineConfirm"></p>
                  
                </div>
              </div>
              <div class="control-group">
                 <div class="controls">
                    <label for="utStoryURL">Story URL<span class="help-block-around" id="utStoryURLHelp"></span>:</label>
                    <input name="utStoryURL" id="utStoryURL" class="form-control" type="text" size="50"  placeholder="Enter the URL of the story."  required />
                    <p class="around" id="utStoryURLConfirm"></p>
                 </div>
              </div>          
                
              <div class="control-group">
                <div class="controls">
                    <label for="utStoryPublishDate">Story Publish Date/Time<span class="help-block-around" id="utStoryPublishDateHelp"></span>:</label>
                        <div class="input-append date" id="dp3" data-date="12-02-2016" data-date-format="dd-mm-yyyy">			     
                            <input name="utStoryPublishDate" id="utStoryPublishDate" class="form-control" size="50" type="text" />           	  
                            <p class="around" id="utStoryPublishDateConfirm"></p>                	
                        </div>
                </div>
               </div>
               
              <!-- <div class="checkbox" id="utStorySame">
                    <label>
                      <input type="checkbox"> <label for="utStorySame">Same Person as above.</label>
                    </label>
                </div>-->
               
               <div class="control-group">
                 <div class="controls">
                    <label for="utStorySubmitter">Story Submitter Name<span class="help-block-around" id="utStorySubmitterHelp"></span>:</label>
                    <input name="utStorySubmitter" id="utStorySubmitter" class="form-control" type="text" size="50"  placeholder="Enter your full name."  required />
                      <p class="around" id="utStorySubmitterConfirm"></p>
                 </div>
              </div>
              <div class="control-group">
                 <div class="controls">
                    <label for="utStorySubmitterOrg">Story Submitter College/Office Name<span class="help-block-around" id="utStorySubmitterOrgHelp"></span>:</label>
                    <input name="utStorySubmitterOrg" id="utStorySubmitterOrg" class="form-control" type="text" size="50"  placeholder="Enter your College/Department/Area name."  required />
                    <p class="around" id="utStorySubmitterOrgConfirm"></p>
                 </div>
              </div>
              <div class="control-group">
                 <div class="controls">
                    <label for="utStoryEmail">Event Submitter Email<span class="help-block-around" id="utStoryEmailHelp"></span>:</label>
                    <input name="utStoryEmail" id="utStoryEmail" class="form-control" type="text" size="50"  placeholder="Enter your email address."  required />
                    <p class="around" id="utStoryEmailConfirm"></p>
                 </div>
              </div>
              <br />               
                <button type="button" 	id="nextBtnAroundCamp" 		class="btn btn-primary">Confirm Changes &raquo;</button>
                <button type="reset" 	id="resetBtnAroundCamp" 		class="btn btn-warning">Reset</button>
                <button type="button" 	id="goBackBtnAroundCamp" 	class="btn btn-danger">&laquo; Go Back</button>
                <button type="submit"  	id="submitAroundCamp" 		class="btn btn-success" name="submitAroundCamp">Submit &raquo;</button>
    </form>	
</fieldset>