<button type="button" id="eventBtn" class="btn btn-primary btn-lg btn-block">Enter an Event</button>
<fieldset id="outer-layer-event" style="margin-top:10px;">
	<form id="intake-event" class="well" name="intake-event" role="form"  enctype="multipart/form-data" action="view.cfm?page=intake" method="post">
    	<h2 id="eventReqConfirmMsg" style="text-align:center;">Please Confirm your Event Request</h2>
      	<h3 id="eventReqMsg" style="text-align:center;">Complete all fields.</h3>
          <div class="control-group">
            <div class="controls">
               <label for="utEventName">Event Name<span class="help-block-evt" id="utEventNameHelp"></span>:</label>
               <input name="utEventName" id="utEventName" class="form-control" type="text" size="50" placeholder="Name of event"  required />
               <p class="event" id="utEventNameConfirm"></p>                 
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
             <label for="utEventDescription">Event Description<span class="help-block-evt" id="utEventDescriptionHelp"></span>:</label>          
             <textarea name="utEventDescription" id="utEventDescription" class="form-control" type="text"  cols="85" rows="20"  placeholder="Enter the event description text here." required></textarea>
              <p class="event" id="utEventDescriptionConfirm"></p>
             </div>
          </div>
          <div class="control-group">
             <div class="controls">
                <label for="utEventURL">Event URL:<span class="help-block-evt" id="utEventURLHelp"></span></label>
                <input name="utEventURL" id="utEventURL" class="form-control" type="text" size="50"  placeholder="Event URL"  required />
                <p class="event" id="utEventURLConfirm"></p>
               
             </div>
          </div>
          <div class="control-group">
             <div class="controls">
                <label for="utEventLoc">Event Location:<span class="help-block-evt" id="utEventLocHelp"></span></label>
                <input name="utEventLoc" id="utEventLoc" class="form-control" type="text" size="50"  placeholder="Enter the location of the event, include campus, room name and room number abbreviation."  required />
                <p class="event" id="utEventLocConfirm"></p>                    
             </div>
          </div>
          <div class="control-group">
                <div class="controls">
                    <label for="utEventPublishDate">Event Publish Date/Time:<span class="help-block-evt" id="utEventPublishDateHelp"></span></label>
                    <!-- <input class="form-control" name="utEventPublishDate" id="utEventPublishDate" size="50" placeholder="Ex: 6/01/2015 12:00" type="text"/>-->
                    <div class="input-append date" id="dp3" data-date="12-02-2016" data-date-format="dd-mm-yyyy">			     
                        <input name="utEventPublishDate" id="utEventPublishDate" class="form-control" size="50" type="text" />           	  
                        <p class="event" id="utEventPublishDateConfirm"></p>                        	
                    </div>
                </div>
           </div>           
           <div class="control-group">
             <div class="controls">
                <label for="utEventSubmitter">Event Submitter Name:<span class="help-block-evt" id="utEventSubmitterHelp"></span></label>
                <input name="utEventSubmitter" id="utEventSubmitter" class="form-control" type="text" size="50"  placeholder="Your Full Name"  required />
                 <p class="event" id="utEventSubmitterConfirm"></p>
                 
             </div>
          </div>
          <div class="control-group">
             <div class="controls">
                <label for="utEventSubmitterOrg">Event Submitter College/Office Name:<span class="help-block-evt" id="utEventSubmitterOrgHelp"></span></label>
                <input name="utEventSubmitterOrg" id="utEventSubmitterOrg" class="form-control" type="text" size="50"  placeholder="Your College/Department/Area Name"  required />
                 <p class="event" id="utEventSubmitterOrgConfirm"></p>
                
             </div>
          </div>
          <div class="control-group">
             <div class="controls">
                <label for="utEventEmail">Event Submitter Email:<span class="help-block-evt" id="utEventEmailHelp"></span></label>
                <input name="utEventEmail" id="utEventEmail" class="form-control" type="text" size="50"  placeholder="Your email address"  required />
                <p class="event" id="utEventEmailConfirm"></p>                	
             </div>
          </div>
          <br />          
          <button type="submit" id="nextBtnEvt" 	class="btn btn-primary">Confirm Changes &raquo;</button>
          <button type="reset" 	id="resetBtnEvt" 	class="btn btn-warning">Reset</button>
          <button type="button" id="goBackBtnEvt" 	class="btn btn-danger">&laquo; Go Back</button>
          <button type="submit" id="submitEvt" 		class="btn btn-success" name="submitEvt">Submit &raquo;</button>         
          <br />    
	</form>
</fieldset>           