		<h1>Add Expert</h1>
		
 		<cfinclude template="../common/dsp/dsp_sMessage.cfm">
		<form method="get" action="/today/admin/index.cfm">
			<input type="hidden" name="fuseaction" value="ExpertsManager.addProcess" />
			<fieldset>
				<legend></legend>
				<div>Expert Last Name:<br />
				<input type="text" name="LastName" value="" maxlength="40" size="50" /></div>
			</fieldset>
			<div><input type="submit" value="save" /> <input type="submit" value="cancel" /></div>
		</form>